<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Colaboradores / Especialistas</h1>
			<span class="mainDescription">Lista de colaboradores o
				especialistas que se encargan de realizar un servicio o la venta de
				un producto.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>


<div class="container-fluid container-fullw bg-white"
	ng-controller="ColaboradorCtrl" ng-init="traerColaboradores()">


	<div class="col-sm-12" ng-show="edit">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">
					<button class="btn btn-light-azure" ng-click="nuevo()">
						<i class="ti-plus"> </i>Agregar
					</button>
				</h4>

			</div>
			<div class="panel-body">

				<div class="col-md-12">

					<div class="table-responsive">
						<table ng-table="tableParams" show-filter="true"
							class="table  table-hover table-striped">
							<tr ng-repeat="col in $data">
								<td data-title="'Nombre'" filter="{ 'nombre': 'text' }">
									{{col.nombre}}</td>
								<td data-title="'Apellido'" filter="{ 'apellido': 'text' }">{{col.apellido}}</td>
								<td data-title="'Email'">{{col.email}}</td>
								<td data-title="'Celular'">{{col.celular}}</td>
								<td data-title="'Tel&eacute;fono'">{{col.telefono}}</td>
								<td style="width: 25%">
									<button type="button" class="btn btn-info "
										uib-tooltip="Editar" tooltip-placement="top"
										ng-click="editarColaborador(col.codigo)">
										<i class="ti-pencil-alt"></i>
									</button>
									<button type="button" class="btn btn-dark-azure	 "
										uib-tooltip="Servicios" tooltip-placement="top"
										ng-click="editarServicio(col.codigo)">
										<i class="ti-share"></i>
									</button>
									<button type="button" class="btn btn-success"
										uib-tooltip="Configuraci&oacute;n del horario"
										tooltip-placement="top" ng-click="editarHoras(col.codigo)">
										<i class="ti-alarm-clock"></i>
									</button>
									<button type="button" class="btn btn-danger "
										uib-tooltip="Eliminar" tooltip-placement="top"
										ng-click="eliminarColaborador(col.codigo)">
										<i class="ti-trash"></i>
									</button>
								</td>
							</tr>
						</table>

					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-12" ng-show="!edit">
		<div class="col-md-12">

			<uib-tabset active="active" class="tabbable"> <uib-tab>
			<uib-tab-heading> <i class="ti-user"></i> Datos
			Generales </uib-tab-heading>

			<form name="Form" id="form1" novalidate>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group"
							ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
							<label class="control-label"> Nombres <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese los nombres"
								class="form-control" name="nombre" ng-model="colaborador.nombre"
								required /> <span class="error text-small block"
								ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.nombre.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.apellido.$dirty && Form.apellido.$invalid, 'has-success':Form.apellido.$valid}">
							<label class="control-label"> Apellidos <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese los apellidos"
								class="form-control" name="apellido"
								ng-model="colaborador.apellido" required /> <span
								class="error text-small block"
								ng-if="Form.apellido.$dirty && Form.apellido.$invalid">Apellido
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.lastName.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
							<label class="control-label"> Email <span
								class="symbol required"></span>
							</label> <input type="email" placeholder="Ingresa un email valido"
								class="form-control" name="email" ng-model="colaborador.email"
								required> <span class="error text-small block"
								ng-if="Form.email.$dirty && Form.email.$error.required">Email
								es obligatorio.</span> <span class="error text-small block"
								ng-if="Form.email.$error.email">Ingrese un email
								v&aacute;lido.</span> <span class="success text-small"
								ng-if="Form.email.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.telefono.$dirty && Form.telefono.$invalid, 'has-success':Form.telefono.$valid}">
							<label class="control-label"> Tel&eacute;fono <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el Tel&eacute;fono"
								class="form-control" name="telefono"
								ng-model="colaborador.telefono" ng-pattern="/^[0-9]*$/" />
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.celular.$dirty && Form.celular.$invalid, 'has-success':Form.celular.$valid}">
							<label class="control-label"> Celular <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el celular"
								class="form-control" name="number"
								ng-model="colaborador.celular" ng-pattern="/^[0-9]*$/" required />
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.iniciales.$dirty && Form.iniciales.$invalid, 'has-success':Form.iniciales.$valid}">
							<label class="control-label"> Inicial &uacute;nica de
								identificaci&oacute;n <span class="symbol required"></span>
							</label> <input type="text" name="iniciales"
								placeholder="Ingrese las iniciales" class="form-control"
								ng-model="colaborador.iniciales" ng-minlength="3" required /> <span
								class="error text-small block"
								ng-if="Form.iniciales.$error.minlength">Incorrecto!</span> <span
								class="success text-small" ng-if="Form.iniciales.$valid">Listo!</span>
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<div class="panel panel-white">
							<div class="panel-heading">
								<h5 class="panel-title">Sucursales</h5>
							</div>
							<div class="panel-body">
								<p class="text-small margin-bottom-20">Seleccione las
									sucursales que desea habilitar al especialista .</p>

								<table class="table  table-hover table-striped">
									<tr ng-repeat="suc in dataSucursales">
										<td>
											<div
												class="checkbox clip-check check-primary checkbox-inline">
												<input type="checkbox" checked="suc.aplica"
													ng-model=suc.aplica ng-change=cambiarMarcaSucursal(suc)
													id="chks{{suc.codigo}}"> <label
													for="chks{{suc.codigo}}"> {{suc.nombre}} </label>
											</div>
										</td>



									</tr>
								</table>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="pull-right margin-right-30">

						<button type="reset" class="btn btn-danger btn-o"
							ng-click="form.resetear(Form)">Cerrar</button>
						<button ng-click="form.submit(Form,false)" class="btn btn-primary">Guardar</button>
						<button class="btn btn-primary btn-o"
							ng-click="form.submit(Form,true)">Guardar y continuar</button>



					</div>
				</div>

			</form>
			
			
			</uib-tab> <uib-tab select="alertMe()" disable="activaPanel"> <uib-tab-heading>
			<i class="ti-share"></i> Servicios </uib-tab-heading>

			<div class="table-responsive">

				<table ng-table="tableServicios" show-filter="true"
					class="table  table-hover table-striped">
					<tr ng-repeat="ser in $data">
						<td data-title="'Servicio'" filter="{ 'nombre': 'text' }">
							<div class="checkbox clip-check check-primary checkbox-inline">
								<input type="checkbox" checked="ser.aplica" ng-model=ser.aplica
									ng-change=cambiarMarca(ser) id="chk{{ser.codigo}}"> <label
									for="chk{{ser.codigo}}"> {{ser.nombre}} </label>
							</div>
						</td>


						
					</tr>
				</table>

			</div>
			<div class="row">

				<div class="pull-right margin-right-30">

					<button class="btn btn-danger btn-o" ng-click="form.resetear(Form)">Cerrar</button>
					<button ng-click="registrarServicios(Form,false)"
						class="btn btn-primary">Guardar</button>
					<button class="btn btn-primary btn-o"
						ng-click="registrarServicios(Form,true)">Guardar y
						continuar</button>



				</div>
			</div>
			</uib-tab> <uib-tab select="alertMe()" disable="activaPanel"> <uib-tab-heading>
			<i class="ti-alarm-clock"></i> Horarios </uib-tab-heading>

			<div class="container-fluid container-fullw">
				<div class="row">
					<div class="col-md-12">

						<div class="row">
							<div class="col-sm-6 col-lg-4">
								<div class="panel panel-white">
									<div class="panel-heading">
										<div class="panel-title">Sucursales</div>
									</div>
									<div class="panel-body">
										<div class="list-group">
											<a class="list-group-item  {{sc.active}}"
												ng-repeat="sc in sucursalColaborador"
												ng-click="seleccionarSucursal(sc)">
												{{sc.sucursal.nombre}} </a>

										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="panel panel-white">
									<div class="panel-heading">
										<div class="panel-title">Dias</div>
									</div>
									<div class="panel-body">

										<div ng-if="!diasSucursal.length"
											class="alert alert-block alert-warning fade in">
											<button data-ct-dismiss="alert" class="close" type="button">
												&times;</button>
											<h4 class="alert-heading margin-bottom-10">
												<i class="ti-alert"></i> Dias por sucursal!
											</h4>
											<p class="margin-bottom-10">No ha seleccinado la sucursal
												o no se encuentra configurada la sucursal con sus horarios
												laborales.</p>

										</div>
										<div class="list-group">
											<a class="list-group-item  {{ds.active}}"
												ng-repeat="ds in diasSucursal" ng-click="seleccionarDia(ds)">
												{{ds.dia.nombre}} </a>

										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="panel panel-white">
									<div class="panel-heading">
										<div class="panel-title">Horas</div>
									</div>
									<div class="panel-body">
										<div ng-if="!horas.length"
											class="alert alert-block alert-warning fade in">
											<button data-ct-dismiss="alert" class="close" type="button">
												&times;</button>
											<h4 class="alert-heading margin-bottom-10">
												<i class="ti-alert"></i> Horas generadas por la sucursal!
											</h4>
											<p class="margin-bottom-10">No ha seleccinado el
												d&iacute;a o no se encuentra configurado los horarios de la
												sucursal seleccionada.</p>

										</div>


										<ul class="list-group">
											<li class="list-group-item" ng-repeat="hc in horas">

												<div
													class="checkbox clip-check check-primary checkbox-inline">
													<input type="checkbox" checked="hc.aplica"
														ng-model=hc.aplica ng-change=cambiarMarcaHorario(hc)
														id="chkch{{hc.codigo}}"> <label
														for="chkch{{hc.codigo}}"> {{hc.hora.nombre}} </label>
												</div> <span><i class=" ti-alarm-clock"></i> </span>
											</li>

										</ul>

										<button ng-if="horas.length" class="btn btn-primary "
											ng-click="registrarHorario()">Guardar</button>



									</div>
								</div>
							</div>


						</div>

						<div class="row">

							<div class="pull-right margin-right-30">

								<button class="btn btn-danger btn-o"
									ng-click="form.resetear(Form)">Cerrar</button>
								<button class="btn btn-primary btn-o"
									ng-click="form.resetear(Form)">Finalizar</button>



							</div>
						</div>
					</div>
				</div>
			</div>

			</uib-tab> </uib-tabset>
			<p></p>
		</div>

	</div>



</div>
