<!-- start: PAGE TITLE -->
<div ng-controller="CalendarCtrl" ng-init="cargarSucursales()">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle" translate="sidebar.nav.pages.CALENDAR">CALENDAR</h1>
				<span class="mainDescription">Reservaciones para clientes</span>
			</div>

		</div>

	</section>
	<!-- end: PAGE TITLE -->

	<div class="container-fluid container-fullw">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-sm-3 col-lg-2">
						<div class="panel panel-white">
							<div class="panel-heading">
								<div class="panel-title">Establecimiento</div>
							</div>
							<div class="panel-body">
								<div class="list-group">
									<a class="list-group-item  {{s.active}}"
										ng-repeat="s in sucursales" ng-click="seleccionarSucursal(s)">
										{{s.nombre}} </a>

								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-10">
						<div class="panel panel-white">
							<div class="panel-heading">
								<div class="panel-title">Agenda</div>
							</div>
							<div class="panel-body">
								<div ng-if="!selectedSucursal"
									class="alert alert-block alert-warning fade in">
									<button data-ct-dismiss="alert" class="close" type="button">
										&times;</button>
									<h4 class="alert-heading margin-bottom-10">
										<i class="ti-alert"></i> Agenda de citas generadas por
										sucursal!
									</h4>
									<p class="margin-bottom-10">No ha seleccionado la sucursal
										para visualizar la agenda.</p>

								</div>
								<div ng-if="selectedSucursal">
									<div class="margin-bottom-30">
										<button class="btn btn-primary btn-o btn-wide"
											ng-click="addEvent()">
											<i class="ti-plus"></i> Nueva Cita
										</button>

									</div>

									<div class="btn-group">
										<button class="btn btn-primary"
											ng-click="changeView('agendaDay', 'myCalendar1')">Dia</button>
										<button class="btn btn-primary"
											ng-click="changeView('agendaWeek', 'myCalendar1')">Semana</button>
										<button class="btn btn-primary"
											ng-click="changeView('month', 'myCalendar1')">Mes</button>
									</div>

									<div calendar="myCalendar1" ui-calendar="uiConfig.calendar"
										ng-model="eventSources"></div>


								</div>

	<script type="text/ng-template" id="citaEvent.html">
	<div class="modal-body" ng-init="cargarCita()">
	 <div class="row">
		 <div class="col-md-12">
			<div class="panel panel-primary">
			<div class="panel-heading">

							<h4 class="panel-title">Cliente</h4>
							
			</div>

			<div class="panel-body no-padding partition-dark-primary">
							<div class="col-md-12 partition-light-primary no-padding">
								<div class="padding-15">
									<p>
										<strong>Nombre:</strong> {{cita.cliente.nombre}} <strong>Email:</strong> {{cita.cliente.email}} <strong>Celular:</strong> {{cita.cliente.celular}}
									</p>
								</div>
							</div>
							
			</div>

            <div class="panel-heading">
							<h4 class="panel-title">Servicio</h4>
							
			</div>
    		<div class="panel-body no-padding partition-dark-primary">
							
							<div class="col-md-12 no-padding">
								<div class="padding-15">
									
									<p>
										<strong>Nombre: </strong> {{cita.servicio.nombre}} 
									</p>
									<p><strong>Fecha:</strong> {{cita.fecha}}</p>
									<p><strong>Hora:</strong> {{cita.diaSucursalHora.hora.nombre_corto}}</p>
									<p><strong>Especialista:</strong> {{cita.colaborador.nombre}} {{cita.colaborador.apellido}}</p>
								</div>
							</div>
			</div>
        </div> 
			

	
	</div>

	<div class="row">
		<div class="modal-footer">
				<div class="panel-body">
							
							<button " type="button" uib-tooltip="Cerrar" class="btn btn-default btn-squared " ng-click="cerrarCita()">
								<i class="ti-close"></i>
							</button>
							<button ng-if="cita.estado==1" type="button" uib-tooltip="Cancelar Cita" class="btn btn-danger btn-squared " ng-click="cancelarCita()">
								<i class="ti-trash"></i>
							</button>
							<button ng-if="cita.estado==1" type="button" uib-tooltip="Confirmar Cita" class="btn btn-success btn-squared" ng-click="confirmarCita()">
								<i class="ti-check"></i>
							</button>
							
						</div>
            
			
			
         </div>
					
	</div>
	</script>
                          

								<!-- start: EDIT EVENT TEMPLATE -->
								<script type="text/ng-template" id="calendarEvent.html">
                            
							<div ng-if="editaCita">
					
							<div class="modal-body">

							 <div class="row">
							 <div class="col-md-12">
						
								<div class="form-group" ng-init="cargarClientes()">
                                    <label>
                                        Sucursal
                                    </label>
                                    <input type="text"  class="form-control underline text-large" disabled ng-model="sucursalEdit.nombre">
                                </div>

								<div class="form-group">
									<label>
										Cliente
									</label>
									<div class="input-group">
										<ui-select ng-model="cliente.selected" theme="bootstrap">
											<ui-select-match placeholder="Seleccione un cliente...">
												{{$select.selected.nombre}}
											</ui-select-match>
											<ui-select-choices repeat="item in clientes | filter: $select.search">
												<div ng-bind-html="item.nombre | highlight: $select.search"></div>
												<div ng-bind-html="item.identificador | highlight: $select.search"></div>
												<small ng-bind-html="item.email | highlight: $select.search"></small>
											</ui-select-choices>
										</ui-select>
										<span class="input-group-btn">
											<button ng-click="nuevoCliente()" class="btn btn-primary" uib-tooltip="Nuevo cliente">
												<span class="fa fa-plus"></span>
											</button><button ng-click="cliente.selected = undefined" class="btn btn-default">
												<span class="glyphicon glyphicon-trash"></span>
											</button> </span>
									</div>
								</div>
								<div class="form-group">
									<label>
										Servicios
									</label>
									<div class="input-group">
										<ui-select ng-model="servicio.selected" theme="bootstrap">
											<ui-select-match placeholder="Seleccione un servicio...">
												{{$select.selected.nombre}}
											</ui-select-match>
											<ui-select-choices repeat="item in servicios | filter: $select.search">
												<span ng-bind-html="item.nombre | highlight: $select.search"></span>
												
											</ui-select-choices>
										</ui-select>
										<span class="input-group-btn">
											<button ng-click="servicio.selected = undefined" class="btn btn-default">
												<span class="glyphicon glyphicon-trash"></span>
											</button> </span>
									</div>
								</div>
								<div class="form-group">
									<label>
										Especialista/Colaborador
									</label>
									<div class="input-group">
										<ui-select ng-model="colaborador.selected" theme="bootstrap">
											<ui-select-match placeholder="Seleccione un especialista...">
												{{$select.selected.nombre}} {{$select.selected.apellido}}
											</ui-select-match>
											<ui-select-choices repeat="item in colaboradores | filter: $select.search">
												<div ng-bind-html="item.nombre+' '+ item.apellido | highlight: $select.search"></div>
												<div ng-bind-html="item.identificador | highlight: $select.search"></div>
												<small ng-bind-html="item.email | highlight: $select.search"></small>
											</ui-select-choices>
										</ui-select>
										<span class="input-group-btn">
											<button ng-click="cargarDatosColaborador()" uib-tooltip="Refrescar especilistas por servicio" class="btn btn-success">
												<span class="fa fa-refresh"></span>
											</button>
											<button ng-click="cargarDatosColaboradorSucursal()" uib-tooltip="Todos los especialistas o colaboradores" class="btn btn-primary">
												<span class="fa fa-sort-alpha-asc"></span>
											</button><button ng-click="colaborador.selected = undefined" class="btn btn-default">
												<span class="glyphicon glyphicon-trash"></span>
											</button> </span>
									</div>
								</div>
								
                                <div class="form-group">
												<label> Fecha </label>
			                        
												<div class="input-group">
													<input type="text" readonly class="form-control" uib-datepicker-popup="{{format}}" ng-model="cita.fecha" is-open="inputopened" ng-init="inputopened = false" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary" ng-click="inputopened = !inputopened">
															<i class="fa fa-calendar"></i>
														</button> </span>
												</div>
								</div>
                                
                                <div class="form-group">
									<label>
										Horario
									</label>
									<div class="input-group">
										<ui-select ng-model="cita.codigoDiaSucursalHora" theme="bootstrap">
											<ui-select-match placeholder="Seleccione el horario...">
												{{$select.selected.nombreHoraCorto}} 
											</ui-select-match>
											<ui-select-choices repeat="item in disponibilidades | filter: $select.search">
												<div ng-bind-html="item.nombreHoraCorto | highlight: $select.search"></div>
												
											</ui-select-choices>
										</ui-select>
										<span class="input-group-btn">
											<button ng-click="cargarDisponibilidad()" uib-tooltip="Refrescar horario del especialista" class="btn btn-success">
												<span class="fa fa-refresh"></span>
											</button>
											<button ng-click="todasHorasSucursal()" uib-tooltip="Cargar todo el horario de la sucursal" class="btn btn-primary">
												<span class="fa  fa-clock-o"></span>
											</button><button ng-click="cita.codigoDiaSucursalHora = undefined" class="btn btn-default">
												<span class="glyphicon glyphicon-trash"></span>
											</button> </span>
									</div>
								</div>
								<div class="form-group">
                                    <label>
                                        Notas
                                    </label>
                                    <input type="text" placeholder="Notas.." class="form-control  text-large" ng-model="cita.notas">
                                </div>
                               
					</div>
					</div>
                           
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-o" ng-click="cancelarCita()">
                            Cerrar
                        </button>
                        <button class="btn btn-primary btn-o" ng-click="crearCita()">
                            Aceptar
                        </button>
                    </div>
                   </div>

					<div ng-if="!editaCita">
                	 <div class="modal-body">

				<form name="Form" id="form1" novalidate>
					<div class="row">

						<div class="col-md-12">
						
						<div class="form-group"
							ng-class="{'has-error':Form.identificacion.$dirty && Form.identificacion.$invalid, 'has-success':Form.identificacion.$valid}">
							<label class="control-label"> Identificaci&oacute;n (RUC/CI/PAS) <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese la Identificaci&oacute;n" requerid
								class="form-control" name="identificacion" required ng-minlength="10" ng-minlength="13" 
								ng-model="clienteEdit.identificador" ng-pattern="/^[0-9]*$/" />
								<span class="error text-small block"
								ng-if="Form.identificacion.$dirty && Form.identificacion.$invalid">Identificaci&oacute;n
								es obligatoria </span> <span class="success text-small"
								ng-if="Form.identificacion.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
							<label class="control-label"> Nombres y Apellido <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese los nombres"
								class="form-control" name="nombre" ng-model="clienteEdit.nombre"
								required /> <span class="error text-small block"
								ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.nombre.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
							<label class="control-label"> Email <span
								class="symbol required"></span>
							</label> <input type="email" placeholder="Ingresa un email valido"
								class="form-control" name="email" ng-model="clienteEdit.email"
								required> <span class="error text-small block"
								ng-if="Form.email.$dirty && Form.email.$error.required">Email
								es obligatorio.</span> <span class="error text-small block"
								ng-if="Form.email.$error.email">Ingrese un email
								v&aacute;lido.</span> <span class="success text-small"
								ng-if="Form.email.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.telefono.$dirty && Form.telefono.$invalid, 'has-success':Form.telefono.$valid}">
							<label class="control-label"> Tel&eacute;fono <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el Tel&eacute;fono"
								class="form-control" name="telefono" ng-minlength="6"
								ng-model="clienteEdit.telefono" ng-pattern="/^[0-9]*$/" />
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.celular.$dirty && Form.celular.$invalid, 'has-success':Form.celular.$valid}">
							<label class="control-label"> Celular <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el celular"
								class="form-control" name="celular" ng-minlength="10"
								ng-model="clienteEdit.celular" ng-pattern="/^[0-9]*$/" required />
								<span class="error text-small block"
								ng-if="Form.celular.$dirty && Form.celular.$invalid">Celular
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.celular.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.direccion.$dirty && Form.direccion.$invalid, 'has-success':Form.direccion.$valid}">
							<label class="control-label"> Direcci&oacute;n <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese la Direcci&oacute;n"
								class="form-control" name="direccion"
								ng-model="clienteEdit.direccion" required /> <span
								class="error text-small block"
								ng-if="Form.direccion.$dirty && Form.direccion.$invalid">Direcci&oacute;n
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.direccion.$valid">Listo!</span>
						</div>
						
					</div>


				</div>

				<div class="row">

 					<div class="modal-footer">
                        <button class="btn btn-danger btn-o" ng-click="form.resetear(Form)">
                            Cerrar
                        </button>
                        <button class="btn btn-primary" ng-click="form.submit(Form)">
                            Guardar
                        </button>
                    </div>
					
				</div>

			</form>
			
					 </div>
                   



					</div>
                    </script>
								<!-- end: EDIT EVENT TEMPLATE -->





							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>


</div>
