<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Sucursales</h1>
			<span class="mainDescription">Lista de sucursales habilitadas
				que maneja la empresa.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>


<div class="container-fluid container-fullw bg-white"
	ng-controller="SucursalCtrl" ng-init="traerSucursales()">


	<div class="col-sm-12" ng-show="edit">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">
					<button class="btn btn-light-azure" ng-click="nuevo()">
						<i class="ti-plus"> </i>Agregar
					</button>
				</h4>

			</div>
			<div class="panel-body">

				<div class="col-md-12">

					<div class="table-responsive">
						<table ng-table="tableParams" show-filter="true"
							class="table  table-hover table-striped">
							<tr ng-repeat="col in $data">
								<td data-title="'Nombre'" filter="{ 'nombre': 'text' }">
									{{col.nombre}}</td>
								<td data-title="'Direcci&oacute;n'">{{col.direccion}}</td>
								<td data-title="'Email'">{{col.email}}</td>
								<td data-title="'Tel&eacute;fono'">{{col.telefono}}</td>
								<td style="width: 25%">
									<button type="button" class="btn btn-info "
										uib-tooltip="Editar" tooltip-placement="top"
										ng-click="editarSucursal(col.codigo)">
										<i class="ti-pencil-alt"></i>
									</button>
									<button type="button" class="btn btn-dark-azure	 "
										uib-tooltip="Dias" tooltip-placement="top"
										ng-click="editarDias(col.codigo)">
										<i class="ti-calendar"></i>
									</button>
									<button type="button" class="btn btn-success"
										uib-tooltip="Configuraci&oacute;n del horario"
										tooltip-placement="top" ng-click="editarHoras(col.codigo)">
										<i class="ti-alarm-clock"></i>
									</button>
									<button type="button" class="btn btn-danger "
										uib-tooltip="Eliminar" tooltip-placement="top"
										ng-click="eliminarSucursal(col.codigo)">
										<i class="ti-trash"></i>
									</button>
								</td>
							</tr>
						</table>

					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-12" ng-show="!edit">
		<div class="col-md-12">

			<uib-tabset active="active" class="tabbable"> <uib-tab>
			<uib-tab-heading> Datos Generales </uib-tab-heading>

			<form name="Form" id="form1" novalidate>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group"
							ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
							<label class="control-label"> Nombre <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el nombre"
								class="form-control" name="nombre" ng-model="sucursal.nombre"
								required /> <span class="error text-small block"
								ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.nombre.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.direccion.$dirty && Form.direccion.$invalid, 'has-success':Form.direccion.$valid}">
							<label class="control-label"> Direcci&oacute;n <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese la direccio&oacute;n"
								class="form-control" name="direccion"
								ng-model="sucursal.direccion" required /> <span
								class="error text-small block"
								ng-if="Form.direccion.$dirty && Form.direccion.$invalid">Direcci&oacute;n
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.direccion.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
							<label class="control-label"> Email <span
								class="symbol required"></span>
							</label> <input type="email" placeholder="Ingrese un email valido"
								class="form-control" name="email" ng-model="sucursal.email"
								required> <span class="error text-small block"
								ng-if="Form.email.$dirty && Form.email.$error.required">Email
								es obligatorio.</span> <span class="error text-small block"
								ng-if="Form.email.$error.email">Ingrese un email
								v&aacute;lido.</span> <span class="success text-small"
								ng-if="Form.email.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.representante.$dirty && Form.representante.$invalid, 'has-success':Form.representante.$valid}">
							<label class="control-label"> Representante <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el representante"
								class="form-control" name="representante"
								ng-model="sucursal.representante" required /> <span
								class="error text-small block"
								ng-if="Form.representante.$dirty && Form.representante.$invalid">Representante
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.representante.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.telefono.$dirty && Form.telefono.$invalid, 'has-success':Form.telefono.$valid}">
							<label class="control-label"> Tel&eacute;fono <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el Tel&eacute;fono"
								class="form-control" name="telefono" required
								ng-model="sucursal.telefono1" ng-pattern="/^[0-9]*$/" /> <span
								class="error text-small block"
								ng-if="Form.telefono.$dirty && Form.telefono.$invalid">Tel&eacute;fono
								es obligatorio </span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.celular.$dirty && Form.celular.$invalid, 'has-success':Form.celular.$valid}">
							<label class="control-label"> Celular <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el Celular"
								class="form-control" name="celular"
								ng-model="sucursal.telefono2" ng-pattern="/^[0-9]*$/" />
						</div>
					</div>


				</div>

				<div class="row">
					<div class="pull-right margin-right-30">

						<button type="reset" class="btn btn-danger btn-o"
							ng-click="form.resetear(Form)">Cerrar</button>
						<button ng-click="form.submit(Form,false)" class="btn btn-primary">Guardar</button>
						<button class="btn btn-primary btn-o"
							ng-click="form.submit(Form,true)">Guardar y continuar</button>



					</div>
				</div>

			</form>
			</uib-tab> <uib-tab select="alertMe()" disable="activaPanel"> <uib-tab-heading>
			<i class="ti-calendar"></i> Dias </uib-tab-heading>

			<div class="table-responsive">

				<table ng-table="tableDias" show-filter="true"
					class="table  table-hover table-striped">
					<tr ng-repeat="ser in $data">
						<td data-title="'Dia'" >
							<div class="checkbox clip-check check-primary checkbox-inline">
								<input type="checkbox" checked="ser.aplica" ng-model=ser.aplica
									ng-change=cambiarMarca(ser) id="chk{{$index}}"> <label
									for="chk{{$index}}"> {{ser.dia.nombre}} </label>
							</div>
						</td>



					</tr>
				</table>

			</div>
			<div class="row">

				<div class="pull-right margin-right-30">

					<button class="btn btn-danger btn-o" ng-click="form.resetear(Form)">Cerrar</button>
					<button ng-click="registrarDias(Form,false)"
						class="btn btn-primary">Guardar</button>
					<button class="btn btn-primary btn-o"
						ng-click="registrarDias(Form,true)">Guardar y
						continuar</button>



				</div>
			</div>
			</uib-tab> <uib-tab  disable="activaPanel"> <uib-tab-heading>
			<i class="ti-alarm-clock"></i> Horarios </uib-tab-heading>

			<div class="container-fluid container-fullw">
				<div class="row">
					<div class="col-md-12">

						<div class="row">
							<div class="col-sm-6 col-lg-4">
								<div class="panel panel-white">
									<div class="panel-heading">
										<div class="panel-title">Dias</div>
									</div>
									<div class="panel-body">
										<div class="list-group">
											<a class="list-group-item  {{sd.active}}"
												ng-repeat="sd in sucursaldias"
												ng-click="seleccionarDia(sd)">
												{{sd.dia.nombre}} </a>

										</div>
									</div>
								</div>
							</div>
							
							<div class="col-sm-6 col-lg-4">
								<div class="panel panel-white">
									<div class="panel-heading">
										<div class="panel-title">Horas</div>
									</div>
									<div class="panel-body">
										<div ng-if="!horas.length"
											class="alert alert-block alert-warning fade in">
											<button data-ct-dismiss="alert" class="close" type="button">
												&times;</button>
											<h4 class="alert-heading margin-bottom-10">
												<i class="ti-alert"></i> Horas generadas por la sucursal!
											</h4>
											<p class="margin-bottom-10">No ha seleccinado el
												d&iacute;a o no se encuentra configurado los horarios de la
												sucursal seleccionada.</p>

										</div>


										<ul class="list-group">
											<li class="list-group-item" ng-repeat="hc in horas">

												<div
													class="checkbox clip-check check-primary checkbox-inline">
													<input type="checkbox" checked="hc.aplica"
														ng-model=hc.aplica ng-change=cambiarMarcaHorario(hc)
														id="chkch{{$index}}"> <label
														for="chkch{{$index}}"> {{hc.hora.nombre}} </label>
												</div> <span><i class=" ti-alarm-clock"></i> </span>
											</li>

										</ul>

										<button ng-if="horas.length" class="btn btn-primary "
											ng-click="registrarHorario()">Guardar</button>



									</div>
								</div>
							</div>


						</div>

						<div class="row">

							<div class="pull-right margin-right-30">

								<button class="btn btn-danger btn-o"
									ng-click="form.resetear(Form)">Cerrar</button>
								<button class="btn btn-primary btn-o"
									ng-click="form.resetear(Form)">Finalizar</button>



							</div>
						</div>
					</div>
				</div>
			</div>

			</uib-tab> </uib-tabset>
			<p></p>
		</div>

	</div>



</div>
