<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Usuarios</h1>
			<span class="mainDescription">Lista de usuarios habilitados
				del m&oacute;dulo Web.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>


<div class="container-fluid container-fullw bg-white"
	ng-controller="UsuarioCtrl" ng-init="init()">


	<div class="col-sm-12" ng-show="edit">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">
					<button class="btn btn-light-azure" ng-click="nuevo()">
						<i class="ti-plus"> </i>Agregar
					</button>
				</h4>

			</div>
			<div class="panel-body">

				<div class="col-md-12">

					<div class="table-responsive">
						<table ng-table="tableParams" show-filter="true"
							class="table  table-hover table-striped">
							<tr ng-repeat="col in $data">
								<td data-title="'Nombre'" filter="{ 'nombre': 'text' }">
									{{col.nombre}}</td>
								<td data-title="'Apellido'" filter="{ 'apellido': 'text' }">
									{{col.apellido}}</td>
								<td data-title="'Usuario'">{{col.username}}</td>
								<td data-title="'Email'">{{col.email}}</td>
								<td data-title="'Perf&iacute;l'">{{col.perfil.nombre}}</td>

								<td data-title="'Empresa'">{{col.empresa.nombre}}</td>
								<td style="width: 25%">
									<button type="button" class="btn btn-info "
										uib-tooltip="Editar" tooltip-placement="top"
										ng-click="editarUsuario(col.codigo)">
										<i class="ti-pencil-alt"></i>
									</button>
									<button type="button" class="btn btn-dark-azure	 "
										uib-tooltip="Resetear Clave" tooltip-placement="top"
										ng-click="resetClave(col.codigo)">
										<i class="ti-key"></i>
									</button>

									<button type="button" class="btn btn-danger "
										uib-tooltip="Eliminar" tooltip-placement="top"
										ng-click="eliminarUsuario(col.codigo)">
										<i class="ti-trash"></i>
									</button>
								</td>
							</tr>
						</table>

					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-12" ng-show="!edit">
		<div class="col-md-12">

			<uib-tabset active="active" class="tabbable"> <uib-tab
				disable="activaPanel"> <uib-tab-heading>
			Datos Generales </uib-tab-heading>

			<form name="Form" id="form1" novalidate>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group"
							ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
							<label class="control-label"> Nombre <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el nombre"
								class="form-control" name="nombre" ng-model="usuario.nombre"
								required /> <span class="error text-small block"
								ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.nombre.$valid">Listo!</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.apellido.$dirty && Form.apellido.$invalid, 'has-success':Form.apellido.$valid}">
							<label class="control-label"> Apellido <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el Apellido"
								class="form-control" name="apellido" ng-model="usuario.apellido"
								required /> <span class="error text-small block"
								ng-if="Form.apellido.$dirty && Form.apellido.$invalid">Apellido
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.apellido.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
							<label class="control-label"> Email <span
								class="symbol required"></span>
							</label> <input type="email" placeholder="Ingrese un email valido"
								class="form-control" name="email" ng-model="usuario.email"
								required> <span class="error text-small block"
								ng-if="Form.email.$dirty && Form.email.$error.required">Email
								es obligatorio.</span> <span class="error text-small block"
								ng-if="Form.email.$error.email">Ingrese un email
								v&aacute;lido.</span> <span class="success text-small"
								ng-if="Form.email.$valid">Listo!</span>
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form.username.$dirty && Form.username.$invalid, 'has-success':Form.username.$valid}">
							<label class="control-label"> Nombre de usuario <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese el usuario"
								class="form-control" name="username" ng-model="usuario.username"
								required /> <span class="error text-small block"
								ng-if="Form.username.$dirty && Form.username.$invalid">Usuario
								es obligatorio </span> <span class="success text-small"
								ng-if="Form.username.$valid">Listo!</span>
						</div>
						<div ng-if="usuario.codigo==null">
							<div class="form-group"
								ng-class="{'has-error':Form.clave.$dirty && Form.clave.$invalid, 'has-success':Form.clave.$valid}">
								<label class="control-label"> Clave <span
									class="symbol required"></span>
								</label> <input type="text" placeholder="Ingrese la clave"
									class="form-control" name="clave" ng-model="usuario.clave"
									required /> <span class="error text-small block"
									ng-if="Form.clave.$dirty && Form.clave.$invalid">Clave
									es obligatorio </span> <span class="success text-small"
									ng-if="Form.clave.$valid">Listo!</span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error':Form.perfil.$dirty && Form.perfil.$invalid, 'has-success':Form.perfil.$valid}">
							<label class="control-label"> Perf&iacute;l de usuario <span
								class="symbol required"></span>
							</label>
							<div>
								<select ng-model="usuario.perfil" name="perfil"
									class="form-control"
									ng-options="perfil.nombre for perfil in perfiles track by perfil.codigo"
									required>
									<option value="" style="display: none;">-- Seleccione
										un Perfil --</option>

								</select>
							</div>
							<div>
								<span class="error text-small block"
									ng-if="Form.perfil.$dirty && Form.perfil.$invalid">Perfil
									es obligatorio </span> <span class="success text-small"
									ng-if="Form.perfil.$valid">Listo!</span>
							</div>



						</div>
						<div class="form-group">
							<label class="control-label"> Empresa </label> <select
								ng-model="usuario.empresa" name="empresa"
								ng-options="empresa.nombre for empresa in empresas track by empresa.codigo"
								class="form-control">
								<option value="" style="display: none;">-- Seleccione
									una Empresa --</option>
							</select>
						</div>

					</div>


				</div>

				<div class="row">
					<div class="pull-right margin-right-30">

						<button type="reset" class="btn btn-danger btn-o"
							ng-click="form.resetear(Form)">Cerrar</button>
						<button ng-click="form.submit(Form)" class="btn btn-primary">Guardar</button>



					</div>
				</div>

			</form>

			</uib-tab> <uib-tab disable="activaPanelClave"> <uib-tab-heading>
			<i class="ti-key"></i> Resetear Clave </uib-tab-heading>

			<form name="Form2" id="form2" novalidate>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label"> Email </label> <input type="email" disabled
								placeholder="Ingrese un email valido" class="form-control"
								name="email" ng-model="usuario.email" />
						</div>
						<div class="form-group"
							>
							<label class="control-label"> Nombre de usuario 
							</label> <input type="text" placeholder="Ingrese el usuario" disabled
								class="form-control" name="username" ng-model="usuario.username"
								 /> 
						</div>
						<div class="form-group"
							ng-class="{'has-error':Form2.clave.$dirty && Form2.clave.$invalid, 'has-success':Form2.clave.$valid}">
							<label class="control-label"> Nueva Clave <span
								class="symbol required"></span>
							</label> <input type="text" placeholder="Ingrese la nueva clave"
								class="form-control" name="clave" ng-model="usuario.clave"
								required /> <span class="error text-small block"
								ng-if="Form2.clave.$dirty && Form2.clave.$invalid">Clave
								es obligatorio </span> <span class="success text-small"
								ng-if="Form2.clave.$valid">Listo!</span>
						</div>

					</div>


				</div>

				<div class="row">
					<div class="pull-right margin-right-30">

						<button type="reset" class="btn btn-danger btn-o"
							ng-click="form.resetear(Form)">Cerrar</button>
						<button ng-click="form.submitClave(Form2)" class="btn btn-primary">Guardar</button>



					</div>
				</div>

			</form>

			</uib-tab>  </uib-tabset>
			
		</div>

	</div>



</div>
