<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Aprobaci&oacute;n Planificaci&oacute;n
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<div class="container-fluid container-fullw"
	ng-controller="AprobacionPlanificacionController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicionMatrizPresupuesto && !edicionMatrizMetas">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												C&oacute;digo Presupuestario
											</label>
											<input type="text" class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												Nombre
											</label>
											<input type="text" class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()">
											<i class="fa fa-search"></i> Buscar
										</a> <a class="btn btn-wide btn-o btn-default"
											ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
						<i class="fa fa-plus-square"></i> Agregar
					</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Aprobar Planificaci&oacute;n"
										ng-click="editarAprobarPlanificacion($index);">
										<i class="fa ti-marker-alt"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Aprobar Ajustada"
										ng-click="editarAprobarAjustada($index);">
										<i class="fa ti-signal"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Matriz Metas"
										ng-click="editarMatrizMetas($index);">
										<i class="fa ti-pencil-alt"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Matriz Presupuestos"
										ng-click="editarMatrizPresupuesto($index);">
										<i class="fa ti-layers-alt"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo Presupestario'">{{obj.codigopresup}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
								<td data-title="'Pres. Planificado'">{{obj.npestadopresupuesto}}</td>
								<td data-title="'Pres. Ajustado'">{{obj.npestadopresupajus}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="panel-body" ng-show="edicionMatrizPresupuesto">
					<div class="panel-heading">
						<h4 class="panel-title">
							Matriz de Presupuesto
						</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h4 class="panel-title">Unidad</h4>
								</div>
								<div class="panel-body">
									<div class="form-group has-success">
									    <label class="control-label">
									        Instituci&oacute;n
									    </label>
									    <input type="text" placeholder="Escriba un instituci&oacute;n"
									        class="form-control" name="nombreinstitucion" ng-model="nombreinstitucion"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Entidad Operativa Desconcentrada
									    </label>
									    <input type="text" placeholder="Escriba un entidad operativa desconcentrada"
									        class="form-control" name="nombreinstentidad" ng-model="nombreinstentidad"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Unidad Desceoncentrada
									    </label>
									    <input type="text" placeholder="Escriba un unidad desceoncentrada"
									        class="form-control" name="nombreunidad" ng-model="nombreunidad"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Tipo
									    </label>
									    <select class="form-control" name="tipo"
									        ng-model="tipo" required>
									        <option value="P">Planificada</option>
									        <option value="A">Ajustado</option>
									    </select>
									</div>
								</div>
								<div class="panel-footer pull-right">
									<a class="btn btn-sm btn-default" ng-click="renovar();">
										Renovar
									</a>
									<a class="btn btn-sm btn-primary" ng-click="guardar();">
										Guardar
									</a>
									<a class="btn btn-sm btn-default" ng-click="volver();">
										Volver
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="panel panel-white" id="panel1">
								<div class="panel-heading">
									<h4 class="panel-title">SubActividad</h4>
								</div>
								<div class="panel-body">
									<div class="form-group has-success">
									    <label class="control-label">
									        Programa
									    </label>
									    <input type="text" class="form-control" name="programa"
									    	ng-model="programa" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Proyecto
									    </label>
									    <input type="text" class="form-control" name="proyecto"
									    	ng-model="proyecto" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Actividad
									    </label>
									    <input type="text" class="form-control" name="actividad"
									    	ng-model="actividad" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        SubActividad
									    </label>
									    <input type="text" class="form-control" name="subactividad"
									    	ng-model="subactividad" required ng-disabled="true">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<table class="table table-bordered">
								<tr>
									<td>Tarea</td>
									<td>Subtarea</td>
									<td>Item C&oacute;digo</td>
									<td>Subitem C&oacute;digo</td>
									<td>Descripci&oacute;n</td>
									<td>Presupuesto</td>
									<td>Observaci&oacute;n</td>
								</tr>
								<tr ng-repeat="obj in detalle" class="table-stylish">
									<td>{{ obj.tareanombre }}</td>
									<td>{{ obj.subtareanombre }}</td>
									<td>{{ obj.itemcodigo }}</td>
									<td>{{ obj.subitemcodigo }}</td>
									<td>{{ obj.descripcion }}</td>
									<td style="text-align:right;">{{ obj.presupuesto | number : 2 }}</td>
									<td>
								        <input type="text" placeholder="Escriba una observacion"
								        	class="form-control" name="{{'obcerv_'+$index}}"
								        	ng-model="obj.observacion">
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="panel-body" ng-show="edicionMatrizMetas">
					<div class="panel-heading">
						<h5 class="panel-title">
							Matriz de Metas
						</h5>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h4 class="panel-title">Unidad</h4>
								</div>
								<div class="panel-body">
									<div class="form-group has-success">
									    <label class="control-label">
									        Instituci&oacute;n
									    </label>
									    <input type="text" placeholder="Escriba un instituci&oacute;n"
									        class="form-control" name="nombreinstitucion" ng-model="nombreinstitucion"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Entidad Operativa Desconcentrada
									    </label>
									    <input type="text" placeholder="Escriba un entidad operativa desconcentrada"
									        class="form-control" name="nombreinstentidad" ng-model="nombreinstentidad"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Unidad Desceoncentrada
									    </label>
									    <input type="text" placeholder="Escriba un unidad desceoncentrada"
									        class="form-control" name="nombreunidad" ng-model="nombreunidad"
									        required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Tipo
									    </label>
									    <select class="form-control" name="tipo"
									        ng-model="tipo" required>
									        <option value="P">Planificada</option>
									        <option value="A">Ajustado</option>
									    </select>
									</div>
								</div>
								<div class="panel-footer pull-right">
									<a class="btn btn-sm btn-default" ng-click="renovar();">
										Renovar
									</a>
									<a class="btn btn-sm btn-primary" ng-click="guardar();">
										Guardar
									</a>
									<a class="btn btn-sm btn-default" ng-click="volver();">
										Volver
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="panel panel-white" id="panel1">
								<div class="panel-heading">
									<h4 class="panel-title">SubActividad</h4>
								</div>
								<div class="panel-body">
									<div class="form-group has-success">
									    <label class="control-label">
									        Programa
									    </label>
									    <input type="text" class="form-control" name="programa"
									    	ng-model="programa" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Proyecto
									    </label>
									    <input type="text" class="form-control" name="proyecto"
									    	ng-model="proyecto" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        Actividad
									    </label>
									    <input type="text" class="form-control" name="actividad"
									    	ng-model="actividad" required ng-disabled="true">
									</div>
									
									<div class="form-group has-success">
									    <label class="control-label">
									        SubActividad
									    </label>
									    <input type="text" class="form-control" name="subactividad"
									    	ng-model="subactividad" required ng-disabled="true">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<table class="table table-bordered">
								<tr>
									<td>Tarea</td>
									<td>Ponderaci&oacute;n</td>
									<td>Subtarea</td>
									<td>Ponderaci&oacute;n</td>
									<td>Descripci&oacute;n<br>(NO SE RECIBE)</td>
									<td>Meta</td>
									<td>Mes</td>
									<td>Observaci&oacute;n</td>
								</tr>
								<tr ng-repeat="obj in detalle" class="table-stylish">
									<td>{{ obj.tareacodigo + " " + obj.tareanombre }}</td>
									<td style="text-align:right;">{{ obj.tareaponderacion | number : 2 }}</td>
									<td>{{ obj.subtareacodigo + " " + obj.subtareanombre }}</td>
									<td style="text-align:right;">{{ obj.subtareaponderacion | number : 2 }}</td>
									<td>{{ obj.descripcion }}</td>
									<td style="text-align:right;">{{ obj.meta | number : 2 }}</td>
									<td>{{ obj.npMes }}</td>
									<td>
								        <input type="text" placeholder="Escriba una observacion"
								        	class="form-control" name="{{'obcerv_'+$index}}"
								        	ng-model="obj.observacion">
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
