<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Aprobaci&oacute;n Planificaci&oacute;n
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<div class="container-fluid container-fullw"
	ng-controller="AprobacionPlanificacionController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												C&oacute;digo Presupuestario
											</label>
											<input type="text" class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												Nombre
											</label>
											<input type="text" class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()">
											<i class="fa fa-search"></i> Buscar
										</a> <a class="btn btn-wide btn-o btn-default"
											ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
						<i class="fa fa-plus-square"></i> Agregar
					</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Aprobar Planificaci&oacute;n"
										ng-click="editarAprobarPlanificacion($index);">
										<i class="fa ti-marker-alt"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Matriz Metas"
										ng-click="editarMatrizMetas($index);">
										<i class="fa ti-pencil-alt"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Matriz Presupuestos"
										ng-click="editaMatrizPresupuestos($index);">
										<i class="fa ti-layers-alt"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo Presupestario'">{{obj.codigopresup}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
								<td data-title="'Estado Presu. Ajus.'">{{obj.npestadopresupajus}}</td>
								<td data-title="'Estado Presu.'">{{obj.npestadopresupuesto}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion">
					<div ng-show="edicionAprobarPlanificacion" class="panel-body" id="panel1">
	
						<div class="panel-heading">
							<h5 class="panel-title">Items</h5>
						</div>
	
						<form name="Form" id="form1" novalidate
							ng-submit="form.submit(Form)">
							<div class="row">
								<div class="col-md-6">
	
								</div>
							</div>
	
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
										<button type="reset" class="btn btn-default btn-o"
											ng-click="form.reset(Form)">Cancelar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
	
					<div ng-show="edicion" class="panel-body" id="panel1">
	
						<div class="panel-heading">
							<h5 class="panel-title">Items</h5>
						</div>
	
						<form name="Form" id="form1" novalidate
							ng-submit="form.submit(Form)">
							<div class="row">
								<div class="col-md-6">
	
								</div>
							</div>
	
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
										<button type="reset" class="btn btn-default btn-o"
											ng-click="form.reset(Form)">Cancelar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
	
					<div ng-show="edicion" class="panel-body" id="panel1">
	
						<div class="panel-heading">
							<h5 class="panel-title">Items</h5>
						</div>
	
						<form name="Form" id="form1" novalidate
							ng-submit="form.submit(Form)">
							<div class="row">
								<div class="col-md-6">
	
								</div>
							</div>
	
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
										<button type="reset" class="btn btn-default btn-o"
											ng-click="form.reset(Form)">Cancelar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
