<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Cambiar Contrase&ntilde;a
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="CambiarContrasenaUnicoController" ng-init="editar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" id="panel1">

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':Form.orden.$dirty && Form.orden.$invalid,
									'has-success':Form.orden.$valid}">
									<label class="control-label"> Usuario <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Nombre de usuario" ng-disabled="true"
										class="form-control" name="usuario" ng-model="objeto.usuario"
										required /> <span class="error text-small block"
										ng-if="Form.orden.$dirty && Form.orden.$invalid">Orden
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.orden.$valid">Listo</span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.claveanterior.$dirty && Form.claveanterior.$invalid, 'has-success':Form.claveanterior.$valid}">
								    <label class="control-label">
								        Contrase&ntilde;a anterior
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba la contrase&ntilde;a anterior"
								        class="form-control" name="claveanterior" ng-model="objeto.claveanterior"
								        required ng-minlength="1" ng-minlength="20">
								    <span class="error text-small block"
								        ng-if="Form.claveanterior.$dirty && Form.claveanterior.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.claveanterior.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid,
									'has-success':Form.nombre.$valid}">
									<label class="control-label"> Nueva contrase&ntilde;a <span
										class="symbol required"></span>
									</label> <input type="password" placeholder="Nueva contrase&ntilde;a"
										class="form-control" name="clave" required
										ng-model="objeto.clave" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.clave.$dirty &&
										Form.clave.$invalid">Contrase&ntilde;a
										incorrecto</span> <span class="success text-small"
										ng-if="Form.clave.$valid &&
										(Form.confirmacion.$modelValue ==
										Form.clave.$modelValue)">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid,
									'has-success':Form.nombre.$valid}">
									<label class="control-label"> Repetir contrase&ntilde;a <span
										class="symbol required"></span>
									</label> <input type="password" placeholder="Repetir Contrase&ntilde;a"
										class="form-control" name="confirmacion" required
										ng-model="objeto.confirmacion" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.confirmacion.$dirty &&
										Form.confirmacion.$invalid">Contrase&ntilde;a
										incorrecto</span> <span class="success text-small"
										ng-if="Form.confirmacion.$valid &&
										(Form.confirmacion.$modelValue ==
										Form.clave.$modelValue)">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid,
									'has-success':Form.nombre.$valid}">
									<label class="control-label"> Email <span
										class="symbol required"></span>
									</label> <input type="email" placeholder="Email"
										class="form-control" name="Email" required
										ng-model="objeto.email" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.email.$dirty && Form.email.$invalid">Contrase&ntilde;a
										incorrecto</span> <span class="success text-small"
										ng-if="Form.email.$valid">Listo</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">Actualizar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>





