<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Consecutivos</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ConsecutivoController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">


				<div class="panel-body" ng-show="!edicion">


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombres </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Prefijo </label> <input type="text"
												class="form-control" ng-model="prefijoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>


					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									ng-click="editar(obj.id)"><i class="fa fa-pencil"></i></a></td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Prefijo'">{{obj.prefijo}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>


							</tr>
						</table>
					</div>
				</div>


				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Consecutivo</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">



								<div class="form-group"
									ng-class="{'has-error':For.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label"> Nombre <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Nombre"
										class="form-control" name="nombre" required
										ng-model="objeto.nombre" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.nombre.$valid">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':For.prefijo.$dirty && Form.prefijo.$invalid, 'has-success':Form.prefijo.$valid}">
									<label class="control-label"> Prefijo <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Prefijo"
										class="form-control" name="prefijo" 
										ng-model="objeto.prefijo" /> <span
										class="error text-small block"
										ng-if="Form.prefijo.$dirty && Form.prefijo.$invalid">Prefijo
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.prefijo.$valid">Listo</span>
								</div>


								<div class="form-group"
									ng-class="{'has-error':Form.numeroinicial.$dirty && Form.numeroinicial.$invalid, 'has-success':Form.numeroinicial.$valid}">
									<label class="control-label"> N&uacute;mero Inicial </label> <input
										type="number" name="numeroinicial"
										placeholder="Numero Inicial" class="form-control"
										ng-model="objeto.numeroinicial" /> <span
										class="error text-small block"
										ng-if="Form.numeroinicial.$error.number">Incorrecto!</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.longitudnumero.$dirty && Form.longitudnumero.$invalid, 'has-success':Form.longitudnumero.$valid}">
									<label class="control-label"> Longitud </label> <input
										type="number" name="longitudnumero" placeholder="Longitud"
										class="form-control" ng-model="objeto.longitudnumero" /> <span
										class="error text-small block"
										ng-if="Form.longitudnumero.$error.number">Incorrecto!</span>
								</div>

								<div class="form-group">
									<label class="control-label"> &Uacute;ltimo
										Usado </label> <input type="text" readonly="readonly"
										 class="form-control"
										name="ultimousado" ng-model="objeto.ultimousado" />
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<label for="form-field-select-1"> Estado <span
										class="symbol required"></span>
									</label> <select class="form-control" name="estado"
										ng-model="objeto.estado" required>
										<option value="A">Activo</option>
										<option value="I">Inactivo</option>
									</select>
								</div>


							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">Guardar
									</button>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




