<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Contrato</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ContratoController" ng-init="cFiltrar();">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="modal-body">
						<div class="panel panel-white" id="panel1">
							<div class="panel-heading">
								<h4 class="panel-title text-primary">Filtros</h4>
								<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
							</div>
							<div uib-collapse="panel1" ng-init="panel1=true"
								class="panel-wrapper">
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>
													Proveedor C&oacute;digo
												</label>
												<input type="text" class="form-control" ng-model="cProveedorCodigoFiltro">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>
													Proveedor Nombre Mostrado
												</label>
												<input type="text" class="form-control" ng-model="cProveedorNombreMostradoFiltro">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">
													Contrato Fecha Inicio
												</label>
										        <div class="input-group">
										            <input type="text" class="form-control" placeholder="Selecione una fecha de inicio"
										                uib-datepicker-popup="dd/MM/yyyy" 
										                name="cFechaInicialFiltro" ng-model="cFechaInicialFiltro"
										                is-open="popupnpcFechainicio.opened" datepicker-options="dateOptions"
										                ng-required="true" close-text="Close">
										            <span class="input-group-btn">
										                <button type="button" class="btn btn-primary" ng-click="opennpcFechainicio()">
										                    <i class="glyphicon glyphicon-calendar"></i>
										                </button>
										            </span>
										        </div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>
													Estado
												</label>
												<select name="country"
													ng-model="cEstadoFiltro" class="form-control">
													<option value>Todos</option>
													<option value="A">Activo</option>
													<option value="I">Inactivo</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<a class="btn btn-wide btn-dark-azure" ng-click="cFiltrar()">
												<i class="fa fa-search"></i>
												Buscar
											</a>
											<a class="btn btn-wide btn-o btn-default" ng-click="cLimpiar()">
												Limpiar
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<table ng-table="tableParams" class="table table-striped">
								<tr ng-repeat="obj in $data">
									<td>
										<a class="btn btn-sm btn-primary"
											uib-tooltip="Modificar" ng-click="vista(obj.id)"> <!-- $index -->
											<i class="fa fa-pencil"></i>
										</a>
									</td>
									<td data-title="'Proveedor C&oacute;digo'">{{obj.npproveedorcodigov}}</td>
									<td data-title="'Proveedor Nombre Mostrado'">{{obj.npproveedorv}}</td>
									<td data-title="'Fecha Inicio'">{{obj.npfechainicioc}}</td>
									<td data-title="'Estado'">{{obj.npestado}}</td>
								</tr>
							</table>
						</div>

						<div class="modal-footer">
						    <button class="btn btn-primary btn-o" ng-click="cancelar()">
						    	Cancelar
						   	</button>
						</div>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">
							Contrato
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								    <label class="control-label">
								        ID
								    </label>
								    <input type="text" class="form-control"
								        name="id" ng-model="objeto.id"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Proveedor C&oacute;digo
								    </label>
								    <input type="text" class="form-control"
								        name="npproveedorcodigov" ng-model="objeto.npproveedorcodigov"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Proveedor Nombre Mostrado
								    </label>
								    <input type="text" class="form-control"
								        name="npproveedorv" ng-model="objeto.npproveedorv"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Forma de Pago
								    </label>
								    <input type="text" class="form-control"
								        name="formapago" ng-model="objeto.formapago"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Tipo Inicio
								    </label>
								    <input type="text" class="form-control"
								        name="inicio" ng-model="objeto.inicio"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Fecha de Inicio
								    </label>
								    <input type="text" class="form-control"
								        name="npfechainicio" ng-model="objeto.npfechainicio"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Duraci&oacute;n en D&iacute;as
								    </label>
								    <input type="text" class="form-control"
								        name="duraciondias" ng-model="objeto.duraciondias"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Fecha Fin
								    </label>
								    <input type="text" class="form-control"
								        name="npfechafin" ng-model="objeto.npfechafin"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Valor Total
								    </label>
								    <input type="text" class="form-control"
								        name="valortotal" ng-model="objeto.valortotal"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Anticipo Porcentaje
								    </label>
								    <input type="text" class="form-control"
								        name="anticipoporcentaje" ng-model="objeto.anticipoporcentaje"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Anticipo Valor
								    </label>
								    <input type="text" class="form-control"
								        name="anticipovalor" ng-model="objeto.anticipovalor"
								        ng-disabled="true">
								</div>

								<div class="form-group">
								    <label class="control-label">
								        Estado
								    </label>
								    <input type="text" class="form-control"
								        name="npestado" ng-model="objeto.npestado"
								        ng-disabled="true">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
