<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Ejecucion de Metas
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="EjecucionMetasController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> C&oacute;digo Presupuestario </label> <input
												type="text" class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()">
											<i class="fa fa-search"></i> Buscar
										</a> <a class="btn btn-wide btn-o btn-default"
											ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Actividades"
										ng-click="editarActividad(obj.id);">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Subtareas"
										ng-click="editarSubtareas(obj.id);">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo Presupestario'">
									{{obj.codigopresup}}
								</td>
								<td data-title="'Nombre'">
									{{obj.nombre}}
								</td>
								<td data-title="'Estado'">
									{{obj.npestado}}
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicionActividades" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">
							Ejecucion Metas - Actividades
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Institucion:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{institucion}}"
											class="form-control" name="institucion"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Entidad Operatica Desconcentrada:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{entidad}}"
											class="form-control" name="entidad"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Unidad Desconcentrada:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{unidad}}"
											class="form-control" name="unidad"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.mision.$dirty && Form.mision.$invalid, 'has-success':Form.mision.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Actividad:
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="actividad"
											ng-options="option.codigo+' - '+option.descripcion for option in listaActividades"
											ng-change="actulizarPantalla()" ng-model="actividad">
											<option value="">Todas</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Mes:
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="mes"
											ng-model="mes">
											<option value="">Todos</option>
											<option value="1">Enero</option>
											<option value="2">Febrero</option>
											<option value="3">Marzo</option>
											<option value="4">Abril</option>
											<option value="5">Mayo</option>
											<option value="6">Junio</option>
											<option value="7">Julio</option>
											<option value="8">Agosto</option>
											<option value="9">Septiembre</option>
											<option value="10">Octubre</option>
											<option value="11">Noviembre</option>
											<option value="12">Diciembre</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<a href="#" class="btn btn-sm btn-dark-azure"
										ng-click="renovarActividad();">
										Renovar
									</a>
									<a href="#" class="btn btn-sm btn-dark-azure"
										ng-click="volverActividad();">
										Volver
									</a>
								</div>
							</div>
						</div>
						<br>
						<div class="row" ng-if="listaDetalles != null" ng-repeat="item in listaDetalles">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Programa:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{ item.codigoprograma }} {{ item.programa }}"
											class="form-control" name="tituloPrograma"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Proyecto:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{ item.codigoproyecto }} {{ item.proyecto }}"
											class="form-control" name="tituloProyecto"
											ng-disabled="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th>Actividad</th>
														<th>Descripcion</th>
														<th>Unidad Medida</th>
														<th>Mes</th>
														<th>Meta PL</th>
														<th>Meta EJ</th>
														<th>Observacion</th>
														<th></th>
													</tr>
													<tr ng-repeat="obj in item.ejecuciondetalleacts">
														<td>
													    	{{obj.codigoactividad}} {{obj.nombreactividad}}
														</td>
														<td>
													    	{{ obj.descripcion }}
														</td>
														<td>
													    	{{ obj.unidadmedida }}
														</td>
														<td>
													    	{{ obj.npMes }}
														</td>
														<td>
													    	{{ obj.planificado }}
														</td>
														<td>
															<div class="form-group" style="margin-bottom: unset;">
															    <div class="input-group">
															        <input type="text" placeholder="Valor Meta EJ"
															            class="form-control" name="npmetaej_{{$parent.$index}}_{{$index}}"
															            ng-model="obj.ejecutado">
															    </div>
															</div>
														</td>
														<td>
															<div class="form-group" style="margin-bottom: unset;">
															    <div class="input-group">
															        <input type="text" placeholder="Descripci&oacute;n de la observaci&oacute;n"
															            class="form-control" name="npobservacion_{{$parent.$index}}_{{$index}}"
															            ng-model="obj.observacion">
															    </div>
															</div>
														</td>
														<td>
															<a uib-tooltip="Guardar"
																ng-if="!rol('ROLE_APROBADOR') && !rol('ROLE_CONSULTA');"
																class="btn btn-sm"
																ng-click="guardarLineActividad(obj)">
																<i class="fa fa-floppy-o"></i>
															</a>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</form>
				</div>

				<div ng-show="edicionSubtareas" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">Ejecucion Metas - Subtareas</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Institucion:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{institucion}}"
											class="form-control" name="institucion"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Entidad Operatica Desconcentrada:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{entidad}}"
											class="form-control" name="entidad"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Unidad Desconcentrada:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{unidad}}"
											class="form-control" name="unidad"
											ng-disabled="true" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Actividad:
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="actividad"
											ng-options="option.codigo+' - '+option.descripcion for option in listaActividades"
											ng-change="actulizarSubactividades()" ng-model="actividad">
											<option value="">Todas</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Subactividad:
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="subactividad"
											ng-options="option.descripcionexten for option in listaSubactividades"
											ng-change="actulizarTareas()" ng-model="subactividad"
											ng-disabled="listaSubactividades==null">
											<option value="">Todas</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Tarea:
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="tarea"
											ng-options="option.nombremostrado for option in listaTareas"
											ng-model="tarea" ng-disabled="listaTareas==null">
											<option value="">Todas</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-3">
										<label class="control-label">
											Mes desde:
										</label>
									</div>
									<div class="col-md-3">
										<select class="form-control" name="mesDesde"
											ng-model="mesDesde">
											<option value="">Todos</option>
											<option value="1">Enero</option>
											<option value="2">Febrero</option>
											<option value="3">Marzo</option>
											<option value="4">Abril</option>
											<option value="5">Mayo</option>
											<option value="6">Junio</option>
											<option value="7">Julio</option>
											<option value="8">Agosto</option>
											<option value="9">Septiembre</option>
											<option value="10">Octubre</option>
											<option value="11">Noviembre</option>
											<option value="12">Diciembre</option>
										</select>
									</div>
									<div class="col-md-3">
										<label class="control-label">
											Mes hasta:
										</label>
									</div>
									<div class="col-md-3">
										<select class="form-control" name="mesHasta"
											ng-model="mesHasta">
											<option value="">Todos</option>
											<option value="1">Enero</option>
											<option value="2">Febrero</option>
											<option value="3">Marzo</option>
											<option value="4">Abril</option>
											<option value="5">Mayo</option>
											<option value="6">Junio</option>
											<option value="7">Julio</option>
											<option value="8">Agosto</option>
											<option value="9">Septiembre</option>
											<option value="10">Octubre</option>
											<option value="11">Noviembre</option>
											<option value="12">Diciembre</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<a href="#" class="btn btn-sm btn-dark-azure"
										ng-click="renovarSubtareas();">
										Renovar
									</a>
									<a href="#" class="btn btn-sm btn-dark-azure"
										ng-click="volverSubtareas();">
										Volver
									</a>
								</div>
							</div>
						</div>
						<br>
						<div class="row" ng-if="listaDetalles != null" ng-repeat="item in listaDetalles">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Objetivo:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloObjetivo}}"
											class="form-control" name="tituloObjetivo"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Programa:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloPrograma}}"
											class="form-control" name="tituloPrograma"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Proyecto:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloProyecto}}"
											class="form-control" name="tituloProyecto"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Actividad:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloActividad}}"
											class="form-control" name="tituloActividad"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Subactividad:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloSubactividad}}"
											class="form-control" name="tituloSubactividad"
											ng-disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Tarea:
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" value="{{tituloTarea}}"
											class="form-control" name="tituloTarea"
											ng-disabled="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th>Subtarea</th>
														<th>Descripcion</th>
														<th>Unidad Medida</th>
														<th>Cerrado</th>
														<th>Mes</th>
														<th>Meta PL</th>
														<th>Meta EJ</th>
														<th>Observacion</th>
														<th>Observacion de cierre</th>
														<th></th>
													</tr>
													<tr ng-repeat="obj in item.ejecuciondetallesubtareas">
														<td>
													    	{{ obj.nombresubtarea }}
														</td>
														<td>
													    	{{ obj.descripcion }}
														</td>
														<td>
													    	{{ obj.unidadmedida }}
														</td>
														<td>
													        <!-- cerrar -->
														</td>
														<td>
													    	{{ obj.npMes }}
														</td>
														<td>
													    	{{ obj.planificado }}
														</td>
														<td>
															<div class="form-group" style="margin-bottom: unset;">
															    <div class="input-group">
															        <input type="text" placeholder="Valor Meta EJ"
															            class="form-control" name="ejecutado_{{$parent.$index}}_{{$index}}"
															            ng-model="obj.ejecutado">
															    </div>
															</div>
														</td>
														<td>
															<div class="form-group" style="margin-bottom: unset;">
															    <div class="input-group">
															        <input type="text" placeholder="Descripci&oacute;n de la observaci&oacute;n"
															            class="form-control" name="observacion_{{$parent.$index}}_{{$index}}"
															            ng-model="obj.observacion">
															    </div>
															</div>
														</td>
														<td>
													    	{{ obj.observacioncierre }}
														</td>
														<td>
															<a uib-tooltip="Guardar"
																ng-if="!rol('ROLE_APROBADOR') && !rol('ROLE_CONSULTA');"
																class="btn btn-sm btn-danger"
																ng-click="guardarLineSubtarea(obj)">
																<i class="fa fa-floppy-o"></i>
															</a>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
<!--
						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>
-->
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
