<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Empleados</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="EmpleadosController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> C&oacute;digo </label>
											<input type="text" class="form-control"
												ng-model="codigoFiltro" placeholder="Ingrese un c&oacute;digo">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Socio Negocio Nombre Mostrado </label>
											<input type="text" class="form-control"
												ng-model="nombreFiltro" placeholder="Ingrese un nombre">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Tipo Empleado </label>
											<select class="form-control" name="tipoFiltro"
												ng-model="tipoFiltro">
												<option value="" ng-selected="selected">Seleccione un tipo</option>
												<option value="M">Militar</option>
												<option value="C">Civil</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Socio Negocio Estado </label>
											<select class="form-control" name="estado"
												ng-model="estadoFiltro">
												<option value="" ng-selected="selected">Seleccione un estado</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Modificar" ng-click="editar(obj.id)"><i
										class="fa fa-pencil"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre mostrado'">{{obj.nombremostrado}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
								<td data-title="'Tipo identificaci&oacute;n'">
									<span ng-if="obj.emptipo=='C'">
										CIVIL
									</span>
									<span ng-if="obj.emptipo=='M'">
										MILITAR
									</span>
								</td>
								<td data-title="'Tipo'">{{obj.socionegociotipoidenttipoid}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Empleado</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<label class="control-label">
										C&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo" ng-model="objeto.codigo"
										ng-minlength="1" ng-maxlength="30" required ng-disabled="!nuevoar">
									<span class="error text-small block"
										ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.codigo.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.tipoidentidad.$dirty && Form.tipoidentidad.$invalid, 'has-success':Form.tipoidentidad.$valid}">
									<label class="control-label">
										Tipo de identidad
										<span class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione una identidad"
											class="form-control" name="tipoidentidad" ng-disabled="true"
											ng-model="objetoTipoIdentidicacion.nombre">
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirIdentificacion()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.tipoidentidadtipo.$dirty && Form.tipoidentidadtipo.$invalid, 'has-success':Form.tipoidentidadtipo.$valid}">
									<label class="control-label">
										Tipo
										<span class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione una identidad"
											class="form-control" name="tipoidentidadtipo" ng-disabled="true"
											ng-model="objeto.socionegociotipoidenttipoid">
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirNombrePerfil()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.primernombre.$dirty && Form.primernombre.$invalid, 'has-success':Form.primernombre.$valid}">
									<label class="control-label">
										Primer nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese el primer nombre"
										class="form-control" name="primernombre" required
										ng-model="objeto.primernombre" ng-minlength="1">
									<span class="error text-small block"
										ng-if="Form.primernombre.$dirty && Form.primernombre.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.primernombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.segundonombre.$dirty && Form.segundonombre.$invalid, 'has-success':Form.segundonombre.$valid}">
									<label class="control-label">
										Segundo segundonombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese el primer segundo nombre"
										class="form-control" name="segundonombre" required
										ng-model="objeto.segundonombre" ng-minlength="1">
									<span class="error text-small block"
										ng-if="Form.segundonombre.$dirty && Form.segundonombre.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.segundonombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.primerapellido.$dirty && Form.primerapellido.$invalid, 'has-success':Form.primerapellido.$valid}">
									<label class="control-label">
										Primer apellido
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese el primer primer apellido"
										class="form-control" name="primerapellido" required
										ng-model="objeto.primerapellido" ng-minlength="1">
									<span class="error text-small block"
										ng-if="Form.primerapellido.$dirty && Form.primerapellido.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.primerapellido.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.segundoapellido.$dirty && Form.segundoapellido.$invalid, 'has-success':Form.segundoapellido.$valid}">
									<label class="control-label">
										Segundo apellido
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese el primer segundo apellido"
										class="form-control" name="segundoapellido" required
										ng-model="objeto.segundoapellido" ng-minlength="1">
									<span class="error text-small block"
										ng-if="Form.segundoapellido.$dirty && Form.segundoapellido.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.segundoapellido.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombremostrado.$dirty && Form.nombremostrado.$invalid, 'has-success':Form.nombremostrado.$valid}">
									<label class="control-label">
										Nombre mostrado
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Nombre mostrado completo"
										class="form-control" name="nombremostrado" required  ng-disabled="true"
										ng-model="objeto.nombremostrado" ng-minlength="1">
									<span class="error text-small block"
										ng-if="Form.nombremostrado.$dirty && Form.nombremostrado.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.nombremostrado.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.emptipo.$dirty && Form.emptipo.$invalid, 'has-success':Form.emptipo.$valid}">
									<label for="form-field-select-1"> Tipo <span
										class="symbol required"></span>
									</label>
									<select class="form-control" name="emptipo"
										ng-model="objeto.emptipo" required>
										<option>Seleccione un tipo</option>
										<option value="M">Militar</option>
										<option value="C">Civil</option>
									</select>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.gradoescalacodigo.$dirty && Form.gradoescalacodigo.$invalid, 'has-success':Form.gradoescalacodigo.$valid}">
									<label class="control-label">
										Grado escala c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<div class="input-group col-md-12">
										<input type="text" placeholder="Seleccione un grado escala"
											class="form-control" name="gradoescalacodigo" ng-disabled="true"
											required ng-model="objetoGradoEscala.codigo">
										<span ng-if="objeto.emptipo=='M'" class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirGradoEscala()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.gradoescalanombre.$dirty && Form.gradoescalanombre.$invalid, 'has-success':Form.gradoescalanombre.$valid}">
									<label class="control-label">
										Grado escala nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="gradoescalanombre" ng-model="objetoGradoEscala.npnombregrado"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.gradoescalanombre.$dirty && Form.gradoescalanombre.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.gradoescalanombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.fuerzanombre.$dirty && Form.fuerzanombre.$invalid, 'has-success':Form.fuerzanombre.$valid}">
									<label class="control-label">
										Fuerza nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="fuerzanombre" ng-model="objetoGradoEscala.npnombrefuerza"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.fuerzanombre.$dirty && Form.fuerzanombre.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.fuerzanombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.rmugrupoocupacional.$dirty && Form.rmugrupoocupacional.$invalid, 'has-success':Form.rmugrupoocupacional.$valid}">
									<label class="control-label">
										RMU Grupo ocupacional
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="rmugrupoocupacional" ng-model="objetoGradoEscala.npgrupoocupacional"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.rmugrupoocupacional.$dirty && Form.rmugrupoocupacional.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.rmugrupoocupacional.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.rmugrupocodigo.$dirty && Form.rmugrupocodigo.$invalid, 'has-success':Form.rmugrupocodigo.$valid}">
									<label class="control-label">
										RMU Grupo c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="rmugrupocodigo" ng-model="objetoGradoEscala.npcodigoescalarmu"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.rmugrupocodigo.$dirty && Form.rmugrupocodigo.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.rmugrupocodigo.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.rmuremuneracion.$dirty && Form.rmuremuneracion.$invalid, 'has-success':Form.rmuremuneracion.$valid}">
									<label class="control-label">
										RMU Remuneraci&oacute;n
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="rmuremuneracion" ng-model="objetoGradoEscala.npremuneracion"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.rmuremuneracion.$dirty && Form.rmuremuneracion.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.rmuremuneracion.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.cargoescalacodigo.$dirty && Form.cargoescalacodigo.$invalid, 'has-success':Form.cargoescalacodigo.$valid}">
									<label class="control-label">
										Cargo escala c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<div class="input-group col-md-12">
										<input type="text" placeholder="Seleccione un grado escala"
											class="form-control" name="cargoescalacodigo" ng-model="objetoGradoEscala.npnombrecargo"
											required ng-disabled="true">
										<span ng-if="objeto.emptipo=='C'" class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirCargoEscala()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
									<span class="error text-small block"
										ng-if="Form.cargoescalacodigo.$dirty && Form.cargoescalacodigo.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.cargoescalacodigo.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.cargonombre.$dirty && Form.cargonombre.$invalid, 'has-success':Form.cargonombre.$valid}">
									<label class="control-label">
										Cargo nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="npncargoombre" ng-model="objetoGradoEscala.npncargoombre"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.cargonombre.$dirty && Form.cargonombre.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.cargonombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.escalarmugrupoocupacional.$dirty && Form.escalarmugrupoocupacional.$invalid, 'has-success':Form.escalarmugrupoocupacional.$valid}">
									<label class="control-label">
										Escala RMU Grupo ocupacional
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="escalarmugrupoocupacional" ng-model="objetoGradoEscala.no"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.escalarmugrupoocupacional.$dirty && Form.escalarmugrupoocupacional.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.escalarmugrupoocupacional.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.rmugradocodigo.$dirty && Form.rmugradocodigo.$invalid, 'has-success':Form.rmugradocodigo.$valid}">
									<label class="control-label">
										RMU Grado c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="rmugradocodigo" ng-model="objeto.rmugradocodigo"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.rmugradocodigo.$dirty && Form.rmugradocodigo.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.rmugradocodigo.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.rmuremuneracion.$dirty && Form.rmuremuneracion.$invalid, 'has-success':Form.rmuremuneracion.$valid}">
									<label class="control-label">
										RMU Remuneraci&oacute;n
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="rmuremuneracion" ng-model="objeto.rmuremuneracion"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.rmuremuneracion.$dirty && Form.rmuremuneracion.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.rmuremuneracion.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.especialidadcodigo.$dirty && Form.especialidadcodigo.$invalid, 'has-success':Form.especialidadcodigo.$valid}">
									<label class="control-label">
										Especialidad c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<div class="input-group col-md-12">
										<input type="text" placeholder="Seleccione una identidad"
											class="form-control" name="especialidadcodigo" ng-disabled="true"
											ng-model="objetoEspecialidad.codigo">
										<span ng-if="objeto.emptipo=='M'" class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirEspecialidad()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.especialidadnombre.$dirty && Form.especialidadnombre.$invalid, 'has-success':Form.especialidadnombre.$valid}">
									<label class="control-label">
										Especialidad nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="especialidadnombre" ng-model="objetoEspecialidad.nombre"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.especialidadnombre.$dirty && Form.especialidadnombre.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.especialidadnombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.empleadoclasificacioncodigo.$dirty && Form.empleadoclasificacioncodigo.$invalid, 'has-success':Form.empleadoclasificacioncodigo.$valid}">
									<label class="control-label">
										Empleado clasificaci&oacute;n c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<div class="input-group col-md-12">
										<input type="text" placeholder="Seleccione una identidad"
											class="form-control" name="empleadoclasificacioncodigo" ng-disabled="true"
											ng-model="objetoClasificacion.codigo">
										<span ng-if="objeto.emptipo=='M'" class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirClasificacion()">
												<i class="fa fa-search"></i>
												Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.empleadoclasificacionnombre.$dirty && Form.empleadoclasificacionnombre.$invalid, 'has-success':Form.empleadoclasificacionnombre.$valid}">
									<label class="control-label">
										Empleado clasificaci&oacute;n nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Seleccione un grado escala"
										class="form-control" name="empleadoclasificacionnombre" ng-model="objetoClasificacion.nombre"
										required ng-disabled="true">
									<span class="error text-small block"
										ng-if="Form.empleadoclasificacionnombre.$dirty && Form.empleadoclasificacionnombre.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.empleadoclasificacionnombre.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.empsituacion.$dirty && Form.empsituacion.$invalid, 'has-success':Form.empsituacion.$valid}">
									<label for="form-field-select-1">
										Situaci&oacute;n
										<span class="symbol required"></span>
									</label>
									<select class="form-control" name="empsituacion"
										ng-model="objeto.empsituacion" required>
										<option value="N">Nombramiento</option>
										<option value="C">Contrato</option>
									</select>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.empfinanciamiento.$dirty && Form.empfinanciamiento.$invalid, 'has-success':Form.empfinanciamiento.$valid}">
									<label for="form-field-select-1">
										Financiamiento
										<span class="symbol required"></span>
									</label>
									<select class="form-control" name="empfinanciamiento"
										ng-model="objeto.empfinanciamiento" required>
										<option value="F">Fondo Fiscal</option>
										<option value="A">Auto Gesti&oacute;n</option>
									</select>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.personaoid.$dirty && Form.personaoid.$invalid, 'has-success':Form.personaoid.$valid}">
									<label class="control-label">
										Persona OID
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="personaoid" ng-model="objeto.personaoid"
										required ng-disabled="!nuevoar">
									<span class="error text-small block"
										ng-if="Form.personaoid.$dirty && Form.personaoid.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.personaoid.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<label for="form-field-select-1">
										Estado
										<span class="symbol required"></span>
									</label>
									<select class="form-control" name="estado"
										ng-model="objeto.estado" required>
										<option value="" ng-selected="selected">Seleccione un estado</option>
										<option value="A">Activo</option>
										<option value="I">Inactivo</option>
									</select>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>

					</form>

				<script type="text/ng-template" id="modalGradoEscala.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Grado Escala</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigo">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre grado </label> <input type="text"
												class="form-control" ng-model="nombregrado">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre Fuerza </label> <input type="text"
												class="form-control" ng-model="nombrefuerza">
										</div>
									</div>
																		
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Grupo Ocupacional </label> <input type="text"
												class="form-control" ng-model="grupoocupacional">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Estado </label> <select name="estado"
												ng-model="estado" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre Grado'">{{obj.npnombregrado}}</td>
								<td data-title="'Sigla Grado'">{{obj.npsiglagrado}}</td>
								<td data-title="'Nombre Fuerza'">{{obj.npnombrefuerza}}</td>
								<td data-title="'Sigla Fuerza'">{{obj.npsiglafuerza}}</td>
								<td data-title="'Grupo Ocupacional'">{{obj.npgrupoocupacional}}</td>
								<td data-title="'Grado Remuneraci&oacute;n'">{{obj.npnombregrado}}</td>
								<td data-title="'Remuneraci&oacute;n'">{{obj.npremuneracion}}</td>
								<td data-title="'R&eacute;gimen Laboral'">
									<span ng-if="obj.regimenlaboraltipo=='L'">LOSEP</span>
									<span ng-if="obj.regimenlaboraltipo!='L'">C&oacute;digo de Trabajo</span>
								</td>								
								<td data-title="'Estado'">{{obj.estado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				<script type="text/ng-template" id="modalEspecialidades.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Especialidades</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Nombre
									</label>
									<input type="text" placeholder="Ingrese un nombre"
										class="form-control" name="nombre"
										ng-model="nombre" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo"
										ng-model="codigo" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estado" ng-model="estado">
									  <option value="">Selecione un estado</option>
									  <option value="A">Activo</option>
									  <option value="I">Inactivo</option>
									</select>
								</div>
							</div>
						</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Fuerza nombre'">{{obj.npfuerzanombre}}</td>
								<td data-title="'Tipo'">{{obj.nptipo}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				<script type="text/ng-template" id="modalClasificacion.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Clasificaciones</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
								
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				<script type="text/ng-template" id="modalTipoIdentificacion.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Tipo de identidad</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

                    <div class="panel panel-white" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Filtros</h4>
                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
                        </div>
                        <div uib-collapse="panel1" ng-init="panel1=true"
                             class="panel-wrapper">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre</label> <input type="text"
                                                                         class="form-control" ng-model="nombre" ng-change="mayusculas()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-wide btn-dark-azure" ng-click="filtrar()">
                                            <i class="fa fa-search"></i> Buscar
                                        </a> <a class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

                                <td data-title="'Nombre'">{{obj.nombre}}</td>
                                <td data-title="'Longitud M&iacute;nima'" class="text-center">{{obj.longminima}}</td>
                                <td data-title="'Longitud M&aacute;xima'" class="text-center">{{obj.longmaxima}}</td>
                                <td data-title="'Usa Verificaci&oacute;n'" class="text-center">
                                    <span ng-if="obj.usaverifica==1">&nbsp;<i class="fa fa-check-square-o text-success"></i>&nbsp;</span>
                                    <span ng-if="obj.usaverifica==0">&nbsp;<i class="fa fa-square-o"></i>&nbsp;</span>
                                </td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				<script type="text/ng-template" id="modalCargoEscala.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Cargo Escala</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigo">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Nombre Cargo </label> <input type="text"
												class="form-control" ng-model="nombrecargo">
										</div>
									</div>									
																		
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Grupo Ocupacional </label> <input type="text"
												class="form-control" ng-model="grupoocupacional">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Estado </label> <select name="estado"
												ng-model="estado" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre Cargo'">{{obj.npnombrecargo}}</td>
								<td data-title="'Grupo Ocupacional'">{{obj.npgrupoocupacional}}</td>
								<td data-title="'Grado Remuneraci&oacute;n'">{{obj.npcodigoescalarmu}}</td>
								<td data-title="'Escala Remuneraci&oacute;n'">{{obj.npremuneracion}}</td>
								<td data-title="'R&eacute;gimen Laboral'">
									<span ng-if="obj.laboraltipo=='L'">LOSEP</span>
									<span ng-if="obj.laboraltipo=='C'">C&oacute;digo de Trabajo</span>
								</td>
								<td data-title="'Estado'">{{obj.estado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				</div>
			</div>
		</div>
	</div>
</div>





