<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Estructura Organica</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="EstructuraOrganicaController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo"
										ng-model="codigo" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Org&aacute;nico nombre
									</label>
									<input type="text" placeholder="Ingrese un Nombre"
										class="form-control" name="nombre"
										ng-model="fuerza" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Org&aacute;nico versi&oacute;n
									</label>
									<input type="text" placeholder="Ingrese una Versi&oacute;n"
										class="form-control" name="version"
										ng-model="grado" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estado" ng-model="estado">
										<option value="">Selecione un estado</option>
										<option value="P">En proceso</option>
										<option value="E">Eliminado</option>
									</select>
								</div>
							</div>
						</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Modificar" ng-click="editar(obj.id)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Unidades" ng-click="editar(obj.id)">
										<i class="fa fa-code-fork"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Mantener empleados" ng-click="editar(obj.id)">
										<i class="fa fa-user"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Versi&oacute;n'">{{obj.version}}</td>
								<td data-title="'Fecha vigencia inicio'">{{obj.npfecviginicioc}}</td>
								<td data-title="'Fecha vigencia fin'">{{obj.npfecvigfinc}}</td>
								<td data-title="'Instituci&oacute;n nombre'">{{obj.npnombreinstitucion}}</td>
								<td data-title="'Entidad nombre'">{{obj.npnombreentidad}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Estructura Organica</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group"
									ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<label class="control-label">
										C&oacute;digo
										<span class="symbol required"></span>
									</label>
									<span ng-if="nuevoar">
										<input type="text" placeholder="Escribe un c&oacute;digo"
											class="form-control" name="codigo" required
											ng-model="objeto.codigo" ng-minlength="1" />
									</span>
									<span ng-if="!nuevoar">
										<input type="text" ng-disabled="true"
											class="form-control" name="codigo" required
											ng-model="objeto.codigo" ng-minlength="1" />
									</span>
									<span class="error text-small block"
										ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.codigo.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label">
										Nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Escriba un nombre"
										class="form-control" name="nombre" required
										ng-model="objeto.nombre" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.nombre.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.version.$dirty && Form.version.$invalid, 'has-success':Form.version.$valid}">
									<label class="control-label">
										Versi&oacute;n
										<span class="symbol required"></span>
									</label>
									<span ng-if="nuevoar">
										<input type="text" placeholder="Escriba una versi&oacute;n "
											class="form-control" name="version" required
											ng-model="objeto.version" ng-minlength="1" />
									</span>
									<span ng-if="!nuevoar">
										<input type="text" ng-disabled="true"
											class="form-control" name="version" required
											ng-model="objeto.version" ng-minlength="1" />
									</span>
									<span class="error text-small block"
										ng-if="Form.version.$dirty && Form.version.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.version.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npfecviginicio.$dirty && Form.npfecviginicio.$invalid, 'has-success':Form.npfecviginicio.$valid}">
									<label class="control-label">
										Fecha vigencia inicio
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Indique una fecha"
										class="form-control" name="npfecviginicio" required
										ng-model="objeto.npfecviginicio" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npfecviginicio.$dirty && Form.npfecviginicio.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npfecviginicio.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npfecvigfin.$dirty && Form.npfecvigfin.$invalid, 'has-success':Form.npfecvigfin.$valid}">
									<label class="control-label">
										Fecha vigencia fin
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Indique una fecha"
										class="form-control" name="npfecvigfin" required
										ng-model="objeto.npfecvigfin" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npfecvigfin.$dirty && Form.npfecvigfin.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npfecvigfin.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.eorganicainstitucionid.$dirty && Form.eorganicainstitucionid.$invalid, 'has-success':Form.eorganicainstitucionid.$valid}">
									<label class="control-label">
										Instituci&oacute;n ID
										<span class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione una Instituci&oacute;n"
											class="form-control" name="eorganicainstitucionid" ng-disabled="true"
											ng-model="objeto.eorganicainstitucionid" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirInstitucion()">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npcodigoinstitucion.$dirty && Form.npcodigoinstitucion.$invalid, 'has-success':Form.npcodigoinstitucion.$valid}">
									<label class="control-label">
										Instituci&oacute;n c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Sin seleccionar" ng-disabled="true"
										class="form-control" name="npcodigoinstitucion" required
										ng-model="objeto.npcodigoinstitucion" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npcodigoinstitucion.$dirty && Form.npcodigoinstitucion.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npcodigoinstitucion.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npnombreinstitucion.$dirty && Form.npnombreinstitucion.$invalid, 'has-success':Form.npnombreinstitucion.$valid}">
									<label class="control-label">
										Instituci&oacute;n nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Sin seleccionar" ng-disabled="true"
										class="form-control" name="npnombreinstitucion" required
										ng-model="objeto.npnombreinstitucion" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npnombreinstitucion.$dirty && Form.npnombreinstitucion.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npnombreinstitucion.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.eorganicainstitucionentid.$dirty && Form.eorganicainstitucionentid.$invalid, 'has-success':Form.eorganicainstitucionentid.$valid}">
									<label class="control-label">
										Entidad ID
										<span class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione la Entidad"
											class="form-control" name="eorganicainstitucionentid" ng-disabled="true"
											ng-model="objeto.eorganicainstitucionentid" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirFuerza($index)">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npcodigoentidad.$dirty && Form.npcodigoentidad.$invalid, 'has-success':Form.npcodigoentidad.$valid}">
									<label class="control-label">
										Entidad c&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Sin seleccionar" ng-disabled="true"
										class="form-control" name="npcodigoentidad" required
										ng-model="objeto.npcodigoentidad" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npcodigoentidad.$dirty && Form.npcodigoentidad.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npcodigoentidad.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.npnombreentidad.$dirty && Form.npnombreentidad.$invalid, 'has-success':Form.npnombreentidad.$valid}">
									<label class="control-label">
										Entidad nombre
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Sin seleccionar" ng-disabled="true"
										class="form-control" name="npnombreentidad" required
										ng-model="objeto.npnombreentidad" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.npnombreentidad.$dirty && Form.npnombreentidad.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.npnombreentidad.$valid">
										Listo</span>
								</div>

								<div class="form-group">
									<label class="control-label">
										Estado
										<span class="symbol required"></span>
									</label>
									<select class="form-control" name="estado"
										placeholder="Seleccione un estado" ng-model="objeto.estado">
										<option value="">Selecione un estado</option>
										<option value="V">Vigente</option>
										<option value="A">Anulado</option>
										<option value="P">En proceso</option>
										<option value="E">Eliminado</option>
									</select>
									<span class="error text-small block"
										ng-if="Form.estado.$dirty && Form.estado.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.estado.$valid">
										Listo</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>

					</form>

<script type="text/ng-template" id="modalInstitucion.html">
            <div class="modal-header">
            	<h3 class="modal-title">Instituciones</h3>
            </div>
			<div class="modal-body">
				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombre">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				</div>
			</div>
		</div>
	</div>
</div>





