<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Estructura Organica</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="EstructuraOrganicaController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">


				<div class="panel-body" ng-show="!edicion">


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo"
										ng-model="codigo" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Fuerza
									</label>
									<input type="text" placeholder="Ingrese una Fuerza"
										class="form-control" name="fuerza"
										ng-model="fuerza" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grado
									</label>
									<input type="text" placeholder="Ingrese un Grado"
										class="form-control" name="grado"
										ng-model="grado" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grado Superior
									</label>
									<input type="text" placeholder="Ingrese un Grupo"
										class="form-control" name="padre"
										ng-model="padre" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estado" ng-model="estado">
									  <option value="">Selecione un estado</option>
									  <option value="A">Activo</option>
									  <option value="I">Inactivo</option>
									</select>
								</div>
							</div>
						</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>


					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Modificar" ng-click="editar(obj.id)"><i
										class="fa fa-pencil"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre Grado'">{{obj.npnombregrado}}</td>
								<td data-title="'Sigla Grado'">{{obj.npsiglagrado}}</td>
								<td data-title="'Grupo Nombre'">{{obj.npgrupo}}</td>
								<td data-title="'Nombre Fuerza'">{{obj.npnombrefuerza}}</td>
								<td data-title="'Sigla Fuerza'">{{obj.npsiglafuerza}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>
				</div>


				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Estructura Organica</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group"
									ng-class="{'has-error':For.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<label class="control-label">
										C&oacute;digo
										<span class="symbol required"></span>
									</label>
									<input type="text" placeholder=""
										class="form-control" name="codigo" required
										ng-model="objeto.codigo" ng-minlength="1" />
									<span class="error text-small block"
										ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.codigo.$valid">
										Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':For.npnombrefuerza.$dirty && Form.npnombrefuerza.$invalid, 'has-success':Form.npnombrefuerza.$valid}">
									<label class="control-label"> Fuerza <span
										class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione la Fuerza"
											class="form-control" name="npnombrefuerza" ng-disabled="true"
											ng-model="objeto.npnombrefuerza" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirFuerza($index)">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':For.npnombregrado.$dirty && Form.npnombregrado.$invalid, 'has-success':Form.npnombregrado.$valid}">
									<label class="control-label"> Grado <span
										class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione el Grado"
											class="form-control" name="npnombregrado" ng-disabled="true"
											ng-model="objeto.npnombregrado" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirGrado($index)">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':For.npnombrepadre.$dirty && Form.npnombrepadre.$invalid, 'has-success':Form.npnombrepadre.$valid}">
									<label class="control-label"> Grado Superior
									</label>
									<div class="input-group">
										<input type="text" placeholder="Seleccione el Grado Superiror"
											class="form-control" name="npnombrepadre" ng-disabled="true"
											ng-model="objeto.npnombrepadre" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirGradoSuperior($index)">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">
										Estado
										<span class="symbol required"></span>
									</label>
									<select class="form-control" name="estado" ng-model="objeto.estado">
									  <option value="A">Activo</option>
									  <option value="I">Inactivo</option>
									</select>
									<span class="error text-small block"
										ng-if="Form.estado.$dirty && Form.estado.$invalid">
										Incorrecto</span>
									<span class="success text-small"
										ng-if="Form.estado.$valid">
										Listo</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>

					</form>

					<script type="text/ng-template" id="modalFuerza.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Fuerzas</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>									
									</div>
									<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

					<script type="text/ng-template" id="modalGrado.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Grados</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Grupo Nombre </label> <input type="text"
												class="form-control" ng-model="grupoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Grupo Nombre'">{{obj.npgruponombre}}</td>
								<td data-title="'Grupo Sigla'">{{obj.npgruposigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				</div>
			</div>
		</div>
	</div>
</div>





