<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Formulaci&oacute;n Estrat&eacute;gica
	</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="FormulacionEstrategicaController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion && !edicionSubPrograma && !edicionProyecto && !edicionActividad && !edicionSubActividad">

					<div class="row">
						<div class="col-md-12">
							<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo(null);">
								<i class="fa fa-plus-square"></i>
								Agregar
							</a>
							<br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div ui-tree="treeOptions" id="tree-root"
								data-nodrop-enabled="true" data-drag-enabled="true">
								<ol ui-tree-nodes ng-model="arbol">
									<li ng-repeat="node in arbol" ui-tree-node
										ng-include="'nodes_renderer.html'">
									</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<br>
								<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
									<i class="fa fa-plus-square"></i>
									Agregar
								</a>
							</div>
						</div>
					</div>

				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">
							Programa
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
								        required ng-disabled="!nuevoar">
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
								    <label class="control-label">
								        Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un nombre"
								        class="form-control" name="nombre" ng-model="objeto.nombre"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.nombre.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required>
								    </textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.npObjetivocodigo.$dirty && Form.npObjetivocodigo.$invalid, 'has-success':Form.npObjetivocodigo.$valid}">
								    <label class="control-label">
								        Objetivo Fuerzas C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Selecione un Objetivo Fuerzas"
								            class="form-control" name="npObjetivocodigo" ng-disabled="true"
								            ng-model="objeto.npObjetivocodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirObjetivoFuerzas()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npObjetivocodigo.$dirty && Form.npObjetivocodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npObjetivocodigo.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group has-success">
								    <label class="control-label">
								        Objetivo Fuerzas Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Selecione un Objetivo Fuerzas"
								        class="form-control" name="npObjetivodescripcion" ng-model="objeto.npObjetivodescripcion"
								        required ng-disabled="true">
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required>
								        <option value="A" ng-selected="selected">Activo</option>
								        <option value="I">Inactivo</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>

				<div ng-show="edicionSubPrograma" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">
							Subprograma
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
								    <label class="control-label">
								        Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un nombre"
								        class="form-control" name="nombre" ng-model="objeto.nombre"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.nombre.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required>
								    </textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required>
								        <option value="A" ng-selected="selected">Activo</option>
								        <option value="I">Inactivo</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>

				<div ng-show="edicionProyecto" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">
							Proyecto
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
								        required ng-disabled="!nuevoar">
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
								    <label class="control-label">
								        Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un nombre"
								        class="form-control" name="nombre" ng-model="objeto.nombre"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.nombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required>
								    </textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npFechainicio.$dirty && Form.npFechainicio.$invalid, 'has-success':Form.npFechainicio.$valid}">
								    <label class="control-label">
								        Fecha Inicio
								        <span class="symbol required"></span>
								    </label>
							        <div class="input-group">
							            <input type="text" class="form-control" placeholder="Escriba una fecha inicio"
							                uib-datepicker-popup="dd/MM/yyyy" 
							                name="npFechainicio" ng-model="objeto.npFechainicio"
							                is-open="popupnpFechainicio.opened" datepicker-options="dateOptions"
							                ng-required="true" close-text="Close">
							            <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="opennpFechainicio()">
							                    <i class="glyphicon glyphicon-calendar"></i>
							                </button>
							            </span>
							        </div>
								    <span class="error text-small block"
								        ng-if="Form.npFechainicio.$dirty && Form.npFechainicio.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npFechainicio.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npFechafin.$dirty && Form.npFechafin.$invalid, 'has-success':Form.npFechafin.$valid}">
								    <label class="control-label">
								        Fecha Fin
								        <span class="symbol required"></span>
								    </label>
							        <div class="input-group">
							            <input type="text" class="form-control" placeholder="Escriba un fecha fin"
							                uib-datepicker-popup="dd/MM/yyyy" 
							                name="npFechafin" ng-model="objeto.npFechafin"
							                is-open="popupnpFechafin.opened" datepicker-options="dateOptions"
							                ng-required="true" close-text="Close">
							            <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="opennpFechafin()">
							                    <i class="glyphicon glyphicon-calendar"></i>
							                </button>
							            </span>
							        </div>
								    <span class="error text-small block"
								        ng-if="Form.npFechafin.$dirty && Form.npFechafin.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npFechafin.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npFuerzacodigo.$dirty && Form.npFuerzacodigo.$invalid, 'has-success':Form.npFuerzacodigo.$valid}">
								    <label class="control-label">
								        Fuerza C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Escriba un fuerza c&oacute;digo"
								            class="form-control" name="npFuerzacodigo" ng-disabled="true"
								            ng-model="objeto.npFuerzacodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirFuerza()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npFuerzacodigo.$dirty && Form.npFuerzacodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npFuerzacodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npFuerzanombre.$dirty && Form.npFuerzanombre.$invalid, 'has-success':Form.npFuerzanombre.$valid}">
								    <label class="control-label">
								        Fuerza Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una Fuerza"
								        class="form-control" name="npFuerzanombre" ng-model="objeto.npFuerzanombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npFuerzanombre.$dirty && Form.npFuerzanombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npFuerzanombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigoesigef.$dirty && Form.codigoesigef.$invalid, 'has-success':Form.codigoesigef.$valid}">
								    <label class="control-label">
								        C&oacute;digo Esigef
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo esigef"
								        class="form-control" name="codigoesigef" ng-model="objeto.codigoesigef" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.codigoesigef.$dirty && Form.codigoesigef.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigoesigef.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigogpr.$dirty && Form.codigogpr.$invalid, 'has-success':Form.codigogpr.$valid}">
								    <label class="control-label">
								        C&oacute;digo GPR
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo gpr"
								        class="form-control" name="codigogpr" ng-model="objeto.codigogpr"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.codigogpr.$dirty && Form.codigogpr.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigogpr.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigocup.$dirty && Form.codigocup.$invalid, 'has-success':Form.codigocup.$valid}">
								    <label class="control-label">
								        C&oacute;digo CUP
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo cup"
								        class="form-control" name="codigocup" ng-model="objeto.codigocup"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.codigocup.$dirty && Form.codigocup.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigocup.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.tipo.$dirty && Form.tipo.$invalid, 'has-success':Form.tipo.$valid}">
								    <label class="control-label">
								        Tipo (NO RETORNADO DEL SERVICIO)
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="tipo"
								        ng-model="objeto.tipo" required>
								        <option value="ME">Mensual</option>
								        <option value="BI">Bimensual</option>
								        <option value="TM">Trimestral</option>
								        <option value="CM">Cuatrimestral</option>
								        <option value="SE">Semestral</option>
								        <option value="AN" ng-selected="selected">Anual</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.tipo.$dirty && Form.tipo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.tipo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.presupuestototal.$dirty && Form.presupuestototal.$invalid, 'has-success':Form.presupuestototal.$valid}">
								    <label class="control-label">
								        Presupuesto Total
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un presupuesto total"
								        class="form-control" name="presupuestototal" ng-model="objeto.presupuestototal" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.presupuestototal.$dirty && Form.presupuestototal.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.presupuestototal.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.presupuestoinicial.$dirty && Form.presupuestoinicial.$invalid, 'has-success':Form.presupuestoinicial.$valid}">
								    <label class="control-label">
								        Presupuesto Inicial
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un presupuesto inicial"
								        class="form-control" name="presupuestoinicial" ng-model="objeto.presupuestoinicial" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.presupuestoinicial.$dirty && Form.presupuestoinicial.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.presupuestoinicial.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.presupuestoplanificado.$dirty && Form.presupuestoplanificado.$invalid, 'has-success':Form.presupuestoplanificado.$valid}">
								    <label class="control-label">
								        Presupuesto Planificado
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un presupuesto planificado"
								        class="form-control" name="presupuestoplanificado" ng-model="objeto.presupuestoplanificado" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.presupuestoplanificado.$dirty && Form.presupuestoplanificado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.presupuestoplanificado.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npSocionegociocodigo.$dirty && Form.npSocionegociocodigo.$invalid, 'has-success':Form.npSocionegociocodigo.$valid}">
								    <label class="control-label">
								        Lider C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Escriba un lider c&oacute;digo"
								            class="form-control" name="npSocionegociocodigo" ng-disabled="true"
								            ng-model="objeto.npSocionegociocodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirLider()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npSocionegociocodigo.$dirty && Form.npSocionegociocodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npSocionegociocodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npSocionegocionombre.$dirty && Form.npSocionegocionombre.$invalid, 'has-success':Form.npSocionegocionombre.$valid}">
								    <label class="control-label">
								        Lider Nombre Mostrado
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una Lider"
								        class="form-control" name="npSocionegocionombre" ng-model="objeto.npSocionegocionombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npSocionegocionombre.$dirty && Form.npSocionegocionombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npSocionegocionombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.indicadorgeneral.$dirty && Form.indicadorgeneral.$invalid, 'has-success':Form.indicadorgeneral.$valid}">
								    <label class="control-label">
								        Indicador General
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un indicador general"
								        class="form-control" name="indicadorgeneral" ng-model="objeto.indicadorgeneral"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.indicadorgeneral.$dirty && Form.indicadorgeneral.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.indicadorgeneral.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid, 'has-success':Form.npIndicadorcodigo.$valid}">
								    <label class="control-label">
								        Indicador C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Escriba un indicador c&oacute;digo"
								            class="form-control" name="npIndicadorcodigo" ng-disabled="true"
								            ng-model="objeto.npIndicadorcodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirIndicador()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadorcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group has-success">
								    <label class="control-label">
								        Indicador Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una Indicador"
								        class="form-control" name="npIndicadornombre" ng-model="objeto.npIndicadornombre"
								        required ng-disabled="true">
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required>
								        <option value="A" ng-selected="selected">Activo</option>
								        <option value="I">Inactivo</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar"
											class="pull-right btn btn-sm btn-info"
											ng-click="agregarDetalle();"><i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">
											Meta
										</h4>
									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th></th>
														<th>A&ntilde;o</th>
														<th>Descripci&oacute;n</th>
													</tr>
													<tr ng-repeat="obj in objetolista">
														<td>
															<a uib-tooltip="Eliminar"
																class="btn btn-sm btn-danger"
																ng-click="removerDetalle($index)">
																<i class="fa fa-trash"></i>
															</a>
														</td>
														<td>
															<div class="input-group col-md-12">
																<input type="text" placeholder="Escriba un a&ntilde;o"
																	class="form-control" name="ano"
																	ng-model="obj.ano" />
															</div>
														</td>
														<td>
															<div class="input-group col-md-12">
																<input type="text" placeholder="Escriba un Descripci&oacute;n"
																	class="form-control" name="descripcion"
																	ng-model="obj.descripcion" />
															</div>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>

				<div ng-show="edicionActividad" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">
							Actividad
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required>
								    </textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid, 'has-success':Form.npIndicadorcodigo.$valid}">
								    <label class="control-label">
								        Indicador C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Escriba un indicador c&oacute;digo"
								            class="form-control" name="npIndicadorcodigo" ng-disabled="true"
								            ng-model="objeto.npIndicadorcodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirIndicadorActividad()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadorcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadornombre.$dirty && Form.npIndicadornombre.$invalid, 'has-success':Form.npIndicadornombre.$valid}">
								    <label class="control-label">
								        Indicador Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadornombre" ng-model="objeto.npIndicadornombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadornombre.$dirty && Form.npIndicadornombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadornombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadordescripcion.$dirty && Form.npIndicadordescripcion.$invalid, 'has-success':Form.npIndicadordescripcion.$valid}">
								    <label class="control-label">
								        Indicador Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadordescripcion" ng-model="objeto.npIndicadordescripcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadordescripcion.$dirty && Form.npIndicadordescripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadordescripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetcodigo.$dirty && Form.npIndicadormetcodigo.$invalid, 'has-success':Form.npIndicadormetcodigo.$valid}">
								    <label class="control-label">
								        Indicador M&eacute;todo C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetcodigo" ng-model="objeto.npIndicadormetcodigo"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetcodigo.$dirty && Form.npIndicadormetcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetdescripcion.$dirty && Form.npIndicadormetdescripcion.$invalid, 'has-success':Form.npIndicadormetdescripcion.$valid}">
								    <label class="control-label">
								        Indicador M&eacute;todo Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetdescripcion" ng-model="objeto.npIndicadormetdescripcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetdescripcion.$dirty && Form.npIndicadormetdescripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetdescripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetadescriopcion.$dirty && Form.npIndicadormetadescriopcion.$invalid, 'has-success':Form.npIndicadormetadescriopcion.$valid}">
								    <label class="control-label">
								        Indicador Meta Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetadescriopcion" ng-model="objeto.npIndicadormetadescriopcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetadescriopcion.$dirty && Form.npIndicadormetadescriopcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetadescriopcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npUnidadmedidacodigo.$dirty && Form.npUnidadmedidacodigo.$invalid, 'has-success':Form.npUnidadmedidacodigo.$valid}">
								    <label class="control-label">
								        Unidad Medida C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npUnidadmedidacodigo" ng-model="objeto.npUnidadmedidacodigo"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npUnidadmedidacodigo.$dirty && Form.npUnidadmedidacodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npUnidadmedidacodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npUnidadmedidanombre.$dirty && Form.npUnidadmedidanombre.$invalid, 'has-success':Form.npUnidadmedidanombre.$valid}">
								    <label class="control-label">
								        Unidad Medida Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npUnidadmedidanombre" ng-model="objeto.npUnidadmedidanombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npUnidadmedidanombre.$dirty && Form.npUnidadmedidanombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npUnidadmedidanombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npGrupomedidacodigo.$dirty && Form.npGrupomedidacodigo.$invalid, 'has-success':Form.npGrupomedidacodigo.$valid}">
								    <label class="control-label">
								        Grupo Medida C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npGrupomedidacodigo" ng-model="objeto.npGrupomedidacodigo"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npGrupomedidacodigo.$dirty && Form.npGrupomedidacodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npGrupomedidacodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npGrupomedidanombre.$dirty && Form.npGrupomedidanombre.$invalid, 'has-success':Form.npGrupomedidanombre.$valid}">
								    <label class="control-label">
								        Grupo Medida Nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npGrupomedidanombre" ng-model="objeto.npGrupomedidanombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npGrupomedidanombre.$dirty && Form.npGrupomedidanombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npGrupomedidanombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.ponderacion.$dirty && Form.ponderacion.$invalid, 'has-success':Form.ponderacion.$valid}">
								    <label class="control-label">
								        Ponderaci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un ponderaci&oacute;n"
								        class="form-control" name="ponderacion" ng-model="objeto.ponderacion" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.ponderacion.$dirty && Form.ponderacion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.ponderacion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required>
								        <option value="A" ng-selected="selected">Activo</option>
								        <option value="I">Inactivo</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar"
											class="pull-right btn btn-sm btn-info"
											ng-click="abrirUnidades();"><i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">
											Unidades
										</h4>
									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th></th>
														<th>Unidad C&oacute;digo</th>
														<th>Unidad Nombre</th>
													</tr>
													<tr ng-repeat="obj in objetolista">
														<td>
															<a uib-tooltip="Eliminar"
																class="btn btn-sm btn-danger"
																ng-click="removerDetalle($index)">
																<i class="fa fa-trash"></i>
															</a>
														</td>
														<td>
															{{ obj.npCodigounidad }}
														</td>
														<td>
															{{ obj.npNombreunidad }}
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>

				<div ng-show="edicionSubActividad" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">
							Subactividad
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
								        required>
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required>
								    </textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid, 'has-success':Form.npIndicadorcodigo.$valid}">
								    <label class="control-label">
								        Indicador C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Escriba un indicador c&oacute;digo"
								            class="form-control" name="npIndicadorcodigo" ng-disabled="true"
								            ng-model="objeto.npIndicadorcodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirIndicadorActividad()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npIndicadorcodigo.$dirty && Form.npIndicadorcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadorcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadordescripcion.$dirty && Form.npIndicadordescripcion.$invalid, 'has-success':Form.npIndicadordescripcion.$valid}">
								    <label class="control-label">
								        Indicador Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadordescripcion" ng-model="objeto.npIndicadordescripcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadordescripcion.$dirty && Form.npIndicadordescripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadordescripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetcodigo.$dirty && Form.npIndicadormetcodigo.$invalid, 'has-success':Form.npIndicadormetcodigo.$valid}">
								    <label class="control-label">
								        Indicador M&eacute;todo C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetcodigo" ng-model="objeto.npIndicadormetcodigo"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetcodigo.$dirty && Form.npIndicadormetcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetdescripcion.$dirty && Form.npIndicadormetdescripcion.$invalid, 'has-success':Form.npIndicadormetdescripcion.$valid}">
								    <label class="control-label">
								        Indicador M&eacute;todo Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetdescripcion" ng-model="objeto.npIndicadormetdescripcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetdescripcion.$dirty && Form.npIndicadormetdescripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetdescripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npIndicadormetadescriopcion.$dirty && Form.npIndicadormetadescriopcion.$invalid, 'has-success':Form.npIndicadormetadescriopcion.$valid}">
								    <label class="control-label">
								        Indicador Meta Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un Indicador"
								        class="form-control" name="npIndicadormetadescriopcion" ng-model="objeto.npIndicadormetadescriopcion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npIndicadormetadescriopcion.$dirty && Form.npIndicadormetadescriopcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npIndicadormetadescriopcion.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required>
								        <option value="A" ng-selected="selected">Activo</option>
								        <option value="I">Inactivo</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
<div ui-tree-handle class="tree-node tree-node-content">
	<table width="100%">
		<tr>
			<td width="1%">
				<div class="col-md-12">
				    <a class="btn btn-default btn-xs"  data-nodrag ng-click="toggle(this);cargarHijos(node)">
						<span class="glyphicon" ng-class="{
					       	'glyphicon-chevron-right': collapsed,
					       	'glyphicon-chevron-down': !collapsed
					    }">
						</span>
					</a>
				</div>
			</td>
			<td width="100%">
	    		{{node.codigo}} - {{node.title}}
			</td>
			<td width="1%">
				<table width="71px">
					<tr>
						<td width="34px">
							<a ng-show="node.tipo!='F'" uib-tooltip="Agregar" class="btn btn-info btn-sm" data-nodrag
								ng-click="nuevo(node);">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
						<td width="3px"></td>
						<td width="34px">
	  						<a uib-tooltip="Modificar" class="btn btn-info btn-sm" data-nodrag
								ng-click="editar(node);">
								<span class="fa fa-pencil"></span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
</ol>
</script>
