<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Grado - Fuerza</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="GradoFuerzaController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">


				<div class="panel-body" ng-show="!edicion">


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo"
										ng-model="codigo" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Fuerza
									</label>
									<input type="text" placeholder="Ingrese una Fuerza"
										class="form-control" name="fuerza"
										ng-model="fuerza" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grado
									</label>
									<input type="text" placeholder="Ingrese un Grado"
										class="form-control" name="grado"
										ng-model="grado" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grupo Nombre
									</label>
									<input type="text" placeholder="Ingrese un Grupo"
										class="form-control" name="padre"
										ng-model="padre" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estado" ng-model="estado">
									  <option value="">Selecione un estado</option>
									  <option value="A">Activo</option>
									  <option value="I">Inactivo</option>
									</select>
								</div>
							</div>
						</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>


					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Modificar" ng-click="editar(obj.id)"><i
										class="fa fa-pencil"></i></a></td>

								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Grado Nombre'">{{obj.npnombregrado}}</td>
								<td data-title="'Grado Sigla'">{{obj.npsiglagrado}}</td>
								<td data-title="'Grupo Nombre'">{{obj.npgrupo}}</td>
								<td data-title="'Fuerza Nombre'">{{obj.npnombrefuerza}}</td>
								<td data-title="'Fuerza Sigla'">{{obj.npsiglafuerza}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>
				</div>


				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Grado - Fuerza</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

<div class="form-group"
    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
    <label class="control-label">
        C&oacute;digo
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Escriba un c&oacute;digo"
        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
        required ng-disabled="!nuevoar">
    <span class="error text-small block"
        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.codigo.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npcodigogrado.$dirty && Form.npcodigogrado.$invalid, 'has-success':Form.npcodigogrado.$valid}">
    <label class="control-label">
        Grado C&oacute;digo
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un grado c&oacute;digo"
            class="form-control" name="npcodigogrado" ng-disabled="true"
            ng-model="objeto.npcodigogrado">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary"
                ng-click="abrirGrado()">
                <i class="fa fa-search"></i>
                Seleccione
            </button>
        </span>
    </div>
    <span class="error text-small block"
        ng-if="Form.npcodigogrado.$dirty && Form.npcodigogrado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npcodigogrado.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npnombregrado.$dirty && Form.npnombregrado.$invalid, 'has-success':Form.npnombregrado.$valid}">
    <label class="control-label">
        Grado Nombre
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione un grado"
        class="form-control" name="npnombregrado" ng-model="objeto.npnombregrado"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npnombregrado.$dirty && Form.npnombregrado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npnombregrado.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npsiglagrado.$dirty && Form.npsiglagrado.$invalid, 'has-success':Form.npsiglagrado.$valid}">
    <label class="control-label">
        Grado Sigla
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione un grado"
        class="form-control" name="npsiglagrado" ng-model="objeto.npsiglagrado"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npsiglagrado.$dirty && Form.npsiglagrado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npsiglagrado.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npgrupo.$dirty && Form.npgrupo.$invalid, 'has-success':Form.npgrupo.$valid}">
    <label class="control-label">
        Grupo Nombre
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione un grado"
        class="form-control" name="npgrupo" ng-model="objeto.npgrupo"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npgrupo.$dirty && Form.npgrupo.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npgrupo.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npcodigofuerza.$dirty && Form.npcodigofuerza.$invalid, 'has-success':Form.npcodigofuerza.$valid}">
    <label class="control-label">
        Fuerza C&oacute;digo
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un fuerza c&oacute;digo"
            class="form-control" name="npcodigofuerza" ng-disabled="true"
            ng-model="objeto.npcodigofuerza">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary"
                ng-click="abrirFuerza()">
                <i class="fa fa-search"></i>
                Seleccione
            </button>
        </span>
    </div>
    <span class="error text-small block"
        ng-if="Form.npcodigofuerza.$dirty && Form.npcodigofuerza.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npcodigofuerza.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npnombrefuerza.$dirty && Form.npnombrefuerza.$invalid, 'has-success':Form.npnombrefuerza.$valid}">
    <label class="control-label">
        Fuerza Nombre
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione una fuerza"
        class="form-control" name="npnombrefuerza" ng-model="objeto.npnombrefuerza"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npnombrefuerza.$dirty && Form.npnombrefuerza.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npnombrefuerza.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npsiglafuerza.$dirty && Form.npsiglafuerza.$invalid, 'has-success':Form.npsiglafuerza.$valid}">
    <label class="control-label">
        Fuerza Sigla
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione una fuerza"
        class="form-control" name="npsiglafuerza" ng-model="objeto.npsiglafuerza"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npsiglafuerza.$dirty && Form.npsiglafuerza.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npsiglafuerza.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npnombrepadre.$dirty && Form.npnombrepadre.$invalid, 'has-success':Form.npnombrepadre.$valid}">
    <label class="control-label">
        Superior C&oacute;digo
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un superior c&oacute;digo"
            class="form-control" name="npnombrepadre" ng-disabled="true"
            ng-model="objeto.npnombrepadre">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary"
                ng-click="abrirSuperior()">
                <i class="fa fa-search"></i>
                Seleccione
            </button>
        </span>
    </div>
    <span class="error text-small block"
        ng-if="Form.npnombrepadre.$dirty && Form.npnombrepadre.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npnombrepadre.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npnivel.$dirty && Form.npnivel.$invalid, 'has-success':Form.npnivel.$valid}">
    <label class="control-label">
        Nivel
        <span class="symbol required"></span>
    </label>
    <input type="text" placeholder="Seleccione un superior"
        class="form-control" name="npnivel" ng-model="objeto.npnivel"
        required ng-disabled="true">
    <span class="error text-small block"
        ng-if="Form.npnivel.$dirty && Form.npnivel.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npnivel.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
    <label class="control-label">
        Estado
        <span class="symbol required"></span>
    </label>
    <select class="form-control" name="estado"
        ng-model="objeto.estado" required>
        <option value="A" ng-selected="selected">Activo</option>
        <option value="I">Inactivo</option>
    </select>
    <span class="error text-small block"
        ng-if="Form.estado.$dirty && Form.estado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.estado.$valid">
        Listo
    </span>
</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>

					</form>

					<script type="text/ng-template" id="modalFuerza.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Fuerzas</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>									
									</div>
									<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

					<script type="text/ng-template" id="modalGrado.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Grados</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Grupo Nombre </label> <input type="text"
												class="form-control" ng-model="grupoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Grupo Nombre'">{{obj.npgruponombre}}</td>
								<td data-title="'Grupo Sigla'">{{obj.npgruposigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

					<script type="text/ng-template" id="modalGradoFuerzaSuperior.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Grados Fuerza Superior</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigo"
										ng-model="codigo" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Fuerza
									</label>
									<input type="text" placeholder="Ingrese una Fuerza"
										class="form-control" name="fuerza"
										ng-model="fuerza" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grado
									</label>
									<input type="text" placeholder="Ingrese un Grado"
										class="form-control" name="grado"
										ng-model="grado" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Grupo Nombre
									</label>
									<input type="text" placeholder="Ingrese un Grupo"
										class="form-control" name="padre"
										ng-model="padre" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estado" ng-model="estado">
									  <option value="">Selecione un estado</option>
									  <option value="A">Activo</option>
									  <option value="I">Inactivo</option>
									</select>
								</div>
							</div>
						</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Grado Nombre'">{{obj.npnombregrado}}</td>
								<td data-title="'Grado Sigla'">{{obj.npsiglagrado}}</td>
								<td data-title="'Fuerza Sigla'">{{obj.npsiglafuerza}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				</div>
			</div>
		</div>
	</div>
</div>





