<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Grupos Jer&aacute;rquicos</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="GrupoJerarquicoController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">


				<div class="panel-body" ng-show="!edicion">


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombres </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> C&oacute;digo </label> <input type="text"
												class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Sigla </label> <input type="text"
												class="form-control" ng-model="siglaFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Estado </label> <select name="country"
												ng-model="estadoFiltro" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>


					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									ng-click="editar(obj.id)"><i class="fa fa-pencil"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Sigla'">{{obj.sigla}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>


							</tr>
						</table>
					</div>
				</div>


				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Grupo Jer&aacute;rquico</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':For.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<label class="control-label"> C&oacute;digo <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Codigo"
										class="form-control" name="codigo" ng-model="objeto.codigo"
										ng-pattern="/^[0-9]*$/" ng-disabled="objeto.id !=null" required /> <span class="error text-small block"
										ng-if="Form.codigo.$dirty && Form.codigo.$invalid">C&oacute;digo
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.prefijo.$valid">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':For.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label"> Nombre <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Nombre"
										class="form-control" name="nombre" required
										ng-model="objeto.nombre" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.nombre.$valid">Listo</span>
								</div>
								<div class="form-group"
									ng-class="{'has-error':Form.sigla.$dirty && Form.sigla.$invalid, 'has-success':Form.sigla.$valid}">
									<label class="control-label"> Sigla <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese la sigla"
										class="form-control" name="sigla" required
										ng-model="objeto.sigla" ng-minlength="2" ng-maxlength="3" /> <span
										class="error text-small block"
										ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">Sigla
										es incorrecta</span> <span class="success text-small"
										ng-if="Form.sigla.$valid">Listo</span>
								</div>


								<div class="form-group"
									ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<label for="form-field-select-1"> Estado <span
										class="symbol required"></span>
									</label> <select class="form-control" name="estado"
										ng-model="objeto.estado" required>
										<option value="A">Activo</option>
										<option value="I">Inactivo</option>
									</select>
								</div>


							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">Guardar
									</button>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




