<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Mantener Indicadores
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="MantenerIndicadoresController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="row">
						<div class="col-md-12">
							<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo(null);">
								<i class="fa fa-plus-square"></i>
								Agregar
							</a>
							<br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div ui-tree="treeOptions" id="tree-root"
								data-nodrop-enabled="true" data-drag-enabled="true">
								<ol ui-tree-nodes ng-model="arbol">
									<li ng-repeat="node in arbol" ui-tree-node
										ng-include="'nodes_renderer.html'">
									</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<br>
								<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
									<i class="fa fa-plus-square"></i>
									Agregar
								</a>
							</div>
						</div>
					</div>

				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">Indicador</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Escriba un c&oacute;digo"
									        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
									        required ng-minlength="3"  ng-maxlength="3">
								        <!-- ng-disabled="!nuevoar" -->
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Nombre
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Escriba un nombre"
									        class="form-control" name="nombre" ng-model="objeto.nombre"
									        required>
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Descripci&oacute;n
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
									        class="form-control" ng-model="objeto.descripcion"
									        required></textarea>
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.eriodicidad.$dirty && Form.eriodicidad.$invalid, 'has-success':Form.eriodicidad.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Periodicidad
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <select class="form-control" name="eriodicidad"
									        ng-model="objeto.eriodicidad" required>
									        <option value="">Selecione una Periodicidad</option>
									        <option value="ME">Mensual</option>
									        <option value="BI">Bimensual</option>
									        <option value="TM">Trimestral</option>
									        <option value="CM">Cuatrimestral</option>
									        <option value="SE">Semestral</option>
									        <option value="AN">Anual</option>
									    </select>
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npCodigounidad.$dirty && Form.npCodigounidad.$invalid, 'has-success':Form.npCodigounidad.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Unidad Medida C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <div class="input-group">
									        <input type="text" placeholder="Selecione una unidad medida"
									            class="form-control" name="npCodigounidad" ng-disabled="true"
									            ng-model="objeto.npCodigounidad">
									        <span class="input-group-btn">
									            <button type="button" class="btn btn-primary"
									                ng-click="abrirUnidadMedida()">
									                <i class="fa fa-search"></i>
									                Seleccione
									            </button>
									        </span>
									    </div>
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npNombreunidad.$dirty && Form.npNombreunidad.$invalid, 'has-success':Form.npNombreunidad.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Unidad Medida Nombre
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Selecione una unidad medida"
									        class="form-control" name="npNombreunidad" ng-model="objeto.npNombreunidad"
									        required ng-disabled="true">
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npCodigogrupo.$dirty && Form.npCodigogrupo.$invalid, 'has-success':Form.npCodigogrupo.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Grupo Medida C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Selecione una unidad medida"
									        class="form-control" name="npCodigogrupo" ng-model="objeto.npCodigogrupo"
									        required ng-disabled="true">
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npNombregrupo.$dirty && Form.npNombregrupo.$invalid, 'has-success':Form.npNombregrupo.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Grupo Medida Nombre
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Selecione una unidad medida"
									        class="form-control" name="npNombregrupo" ng-model="objeto.npNombregrupo"
									        required ng-disabled="true">
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.metadescripcion.$dirty && Form.metadescripcion.$invalid, 'has-success':Form.metadescripcion.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Meta Descripci&oacute;n
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <textarea name="metadescripcion" rows="5" style="width: 100%" placeholder="Escriba un meta descripci&oacute;n"
									        class="form-control" ng-model="objeto.metadescripcion"
									        required></textarea>
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Estado
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <select class="form-control" name="estado"
									        ng-model="objeto.estado" required>
									        <option value="A" ng-selected="selected">Activo</option>
									        <option value="I">Inactivo</option>
									    </select>
									</div>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar"
											class="pull-right btn btn-sm btn-info"
											ng-click="agregarDetalle();"><i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">
											F&oacute;rmula
										</h4>
									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th></th>
														<th>C&oacute;digo</th>
														<th>Descripci&oacute;n</th>
														<th>Medio Verificaci&oacute;n</th>
														<th>Estado</th>
													</tr>
													<tr ng-repeat="obj in objetolista">
														<td>
															<a uib-tooltip="Eliminar" class="btn btn-sm btn-danger"
																ng-click="removerDetalle($index)">
																<i class="fa fa-trash"></i>
															</a>
														</td>
														<td>
															<div class="form-group"
															    ng-class="{'has-error':Form.codigo_{{$index}}.$dirty && Form.codigo_{{$index}}.$invalid, 'has-success':Form.codigo_{{$index}}.$valid}">
															    <input type="text" placeholder="Escriba un c&oacute;digo"
															        class="form-control" ng-model="obj.codigo" ng-pattern="/^[0-9]*$/"
															        name="codigo_{{$index}}"
															        required ng-disabled="!obj.editarcodigo"  ng-minlength="3"  ng-maxlength="3">
															    <span class="error text-small block"
															        ng-if="Form['codigo_'+$index].$dirty && Form['codigo_'+$index].$invalid">
															        Incorrecto, es de 3 d&iacute;gitos
															    </span>
														    </div>
														</td>
														<td>
														    <textarea name="descripcion_{{$index}}" rows="3" style="width: 100%"
														    	placeholder="Escriba una descripci&oacute;n"
														        class="form-control" ng-model="obj.descripcion"
														        required></textarea>
														</td>
														<td>
														    <textarea name="medverificacion_{{$index}}" rows="3" style="width: 100%"
														    	placeholder="Escriba una verificaci&oacute;n"
														        class="form-control" ng-model="obj.medverificacion"
														        ></textarea>
														</td>
														<td>
														    <select class="form-control" name="estado_{{$index}}"
														        ng-model="obj.estado" required>
														        <option value="">Selecione un estado</option>
														        <option value="A">Activo</option>
														        <option value="I">Inactivo</option>
														    </select>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
<div ui-tree-handle class="tree-node tree-node-content" style="padding: 3px 3px;border-bottom: 1px dashed black !important;border: none;">
	<table width="100%">
		<tr>
			<td width="0%">
				<table width="33px" border="0" cellpadding="0">
				  <tr>
					<td width="30px">
						<div class="col-md-12" ng-show="!node.nphoja" style="padding: 3px 3px;">
							<a class="btn btn-default btn-xs"  data-nodrag ng-click="toggle(this);cargarHijos(node)">
								<span class="glyphicon" ng-class="{
									'glyphicon-chevron-right': collapsed,
									'glyphicon-chevron-down': !collapsed
								}">
								</span>
							</a>
						</div>
					</td>
					<td width="3px">
					</td>
				  </tr>
				</table>
			</td>
			<td width="100%">
				{{node.codigo}} - {{node.title}}
			</td>
			<td width="0%">
				<table width="71px">
					<tr>
						<td width="34px">
							<a ng-show="node.tipo!='F'" uib-tooltip="Agregar" class="btn btn-info btn-sm" data-nodrag
								ng-click="nuevo(node);">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
						<td width="3px"></td>
						<td width="34px">
	  						<a uib-tooltip="Modificar" class="btn btn-info btn-sm" data-nodrag
								ng-click="editar(node);">
								<span class="fa fa-pencil"></span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
</ol>
</script>
