<!-- start: BREADCRUMB -->

<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Menus</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="MenuSeguridadController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Orden </label> <input type="text"
												class="form-control" ng-model="ordenFiltro">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>

					<div>
					
					


						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Modificar" ng-click="editar(obj.id)"><i
										class="fa fa-pencil"></i></a></td>
								<td><a class="btn btn-sm btn-danger" uib-tooltip="Eliminar"
									ng-click="eliminar(obj.id)"><i class="fa fa-trash"></i></a></td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Orden'">{{obj.orden}}</td>
								<td data-title="'Padre Nombre'">{{obj.nppadre}}</td>
								<td data-title="'Nivel'">FALTA</td>
							<!-- 	<td data-title="'Permiso'">{{obj.nppermisonombre}}</td>  -->
								<td data-title="'Permiso'">{{obj.nppermisodescripcion}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Menu</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label"> Nombre <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Nombre"
										class="form-control" name="nombre" required
										ng-model="objeto.nombre" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.nombre.$valid">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.codigopadre1.$dirty && Form.codigopadre1.$invalid, 'has-success':Form.codigopadre1.$valid}">
									<label class="control-label"> Permiso ID <span
										class="symbol required"></span>
									</label>

									<div class="input-group">
										<input type="text" placeholder="FALTA ESTA INFORMACION -- Seleccione el padre"
											class="form-control" name="codigopadre" ng-disabled="true"
											ng-model="objeto.padreid1" /> <span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirPermiso()">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>


									</div>

								</div>

								<div class="form-group">
									<label class="control-label"> Nombre del permiso </label>
									<input type="text" class="form-control" name="nombrepadre1"
									    placeholder="FALTA ESTA INFORMACION"
									    ng-disabled="true" ng-model="objeto.nombrepadre1" />
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.orden.$dirty && Form.orden.$invalid, 'has-success':Form.orden.$valid}">
									<label class="control-label"> Orden <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Ingrese el Orden"
										class="form-control" name="orden" ng-model="objeto.orden"
										required /> <span class="error text-small block"
										ng-if="Form.orden.$dirty && Form.orden.$invalid">Orden
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.orden.$valid">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.codigopadre.$dirty && Form.codigopadre.$invalid, 'has-success':Form.codigopadre.$valid}">
									<label class="control-label"> Menu Padre <span
										class="symbol required"></span>
									</label>

									<div class="input-group">
										<input type="text" placeholder="Seleccione el padre"
											class="form-control" name="codigopadre" ng-disabled="true"
											ng-model="objeto.padreid" /> <span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirMenuPadre()">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>


									</div>

								</div>

								<div class="form-group">
									<label class="control-label"> Nombre Padre </label> <input
										type="text" class="form-control" name="nombrepadre" ng-disabled="true"
										ng-model="objeto.nombrepadre" />
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.orden.$dirty && Form.orden.$invalid, 'has-success':Form.orden.$valid}">
									<label class="control-label"> Nivel <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="FALTA -- Ingrese el Orden"
										class="form-control" name="orden" ng-model="objeto.nose"
										required /> <span class="error text-small block"
										ng-if="Form.orden.$dirty && Form.orden.$invalid">Orden
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.orden.$valid">Listo</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">Guardar
									</button>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>

					</form>

					<script type="text/ng-template" id="modalMenuPadre.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Menu Padre</h3>
                            </div>
                            <div class="modal-body">
                               

				<div class="panel-body" ng-init="consultar();" >


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label> Orden </label> <input type="text"
												class="form-control" ng-model="ordenFiltro">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Orden'">{{obj.orden}}</td>
								<td data-title="'Padre Nombre'"></td>
								<td data-title="'Nivel'"></td>
							</tr>
						</table>
					</div>
				</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

					<script type="text/ng-template" id="modalPermiso.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Permisos</h3>
                            </div>
                            <div class="modal-body">
                               

				<div class="panel-body" ng-init="consultar();" >

					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>

								<td data-title="'Nombre'">{{obj.nombre}}</td>

							</tr>
						</table>
					</div>
				</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

				</div>
			</div>
		</div>
	</div>
</div>





