<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Orden de Reversion
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="OrdenReversionController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" class="has-success">
											<label class="control-label">
												C&oacute;digo
											</label>
											<input type="text" placeholder="Ingrese un c&oacute;digo"
												class="form-control" name="codigoFiltro"
												ng-model="codigoFiltro" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group" class="has-success">
											<label class="control-label">
												Orden Gasto C&oacute;digo
											</label>
											<input type="text" placeholder="Ingrese un c&oacute;digo"
												class="form-control" name="ordenGastoCodigoFiltro"
												ng-model="ordenGastoCodigoFiltro" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group" class="has-success">
											<label class="control-label">
												Valor inicial
											</label>
											<input type="text" placeholder="Ingrese un valor inicial"
												class="form-control" id="valorinicialFiltro" name="valorinicialFiltro"
												ng-model="valorinicial" />
										</div>
									</div>
		
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Valor final
											</label>
											<input type="text" placeholder="Ingrese un valor final"
												class="form-control" id="valorfinalFiltro" name="valorfinalFiltro"
												ng-model="valorfinal" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Fecha inicial
											</label>
									        <div class="input-group">
									            <input type="text" class="form-control" placeholder="Ingrese un de fecha inicial"
									                uib-datepicker-popup="dd/MM/yyyy" 
									                name="fechainicialFiltro" ng-model="fechainicialFiltro"
									                is-open="popupnpFechainicio.opened" datepicker-options="dateOptions"
									                ng-required="true" close-text="Close">
									            <span class="input-group-btn">
									                <button type="button" class="btn btn-primary" ng-click="opennpFechainicio()">
									                    <i class="glyphicon glyphicon-calendar"></i>
									                </button>
									            </span>
									        </div>
										</div>
									</div>
		
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Fecha final
											</label>
									        <div class="input-group">
									            <input type="text" class="form-control" placeholder="Ingrese un de fecha final"
									                uib-datepicker-popup="dd/MM/yyyy" 
									                name="fechafinalFiltro" ng-model="fechafinalFiltro"
									                is-open="popupnpFechafin.opened" datepicker-options="dateOptions"
									                ng-required="true" close-text="Close">
									            <span class="input-group-btn">
									                <button type="button" class="btn btn-primary" ng-click="opennpFechafin()">
									                    <i class="glyphicon glyphicon-calendar"></i>
									                </button>
									            </span>
									        </div>
										</div>
									</div>
								</div>
		
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Estado
											</label>
											<select class="form-control" name="estadoFiltro" ng-model="estadoFiltro">
												<option value="">Todos</option>
												<option value="RE">Registrado</option>
												<option value="EL">Eliminado</option>
												<option value="SO">Solicitado</option>
												<option value="NE">Negado</option>
												<option value="AP">Aprobado</option>
												<option value="AN">Anulado</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrarUnico()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
						<i class="fa fa-plus-square"></i>
						Agregar
					</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Modificar"
										ng-click="editar($index)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Solicitar"
										ng-click="solicitar($index)">
										<i class="fa fa-list-alt"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Imprimir solicitud"
										ng-click="imprimirsolicitud(obj.id)">
										<i class="fa fa-file-text"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Imprimir oficio"
										ng-click="imprimiroficio(obj.id)">
										<i class="fa fa-file-text-o"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Aprobar"
										ng-click="aprobar($index)">
										<i class="fa ti-check"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Anular"
										ng-click="anular($index)">
										<i class="fa ti-minus"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Negar"
										ng-click="negar($index)">
										<i class="fa ti-minus"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Visualizar"
										ng-click="visualizar($index)">
										<i class="fa ti-zoom-in"></i>
									</a>
								</td>
								<td width="32px" style="padding: 1px;">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Eliminar"
										ng-click="eliminar($index)">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo'">
									{{obj.codigo}}
								</td>
								<td data-title="'Valor total'" style="text-align: right;">
									<span>
										{{obj.valortotal | number:2}}
									</span>
								</td>
								<td data-title="'Creado'">
									{{obj.npfecha}}
								</td>
								<td data-title="'Orden de Gasto C&oacute;digo'">
									{{obj.npordengasto}}
								</td>
								<td data-title="'Estado'">
									{{obj.npestado}}
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">
							Orden Reversi&oacute;n
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un c&oacute;digo"
								        class="form-control" name="codigo" ng-model="objeto.codigo"
								        ng-change="objeto.codigo=objeto.codigo.toUpperCase();"
								        ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.codigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.tipo.$dirty && Form.tipo.$invalid, 'has-success':Form.tipo.$valid}">
								    <label class="control-label">
								        Tipo
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="tipo"
								        ng-model="objeto.tipo" required
								        ng-disabled="noeditar">
								        <option value="" ng-selected="selected">(Ninguno)</option>
								        <option value="A">Anticipado</option>
								        <option value="F">Final</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.tipo.$dirty && Form.tipo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.tipo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npordengasto.$dirty && Form.npordengasto.$invalid, 'has-success':Form.npordengasto.$valid}">
								    <label class="control-label">
								        Orden Gasto C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione un c&oacute;digo"
								            class="form-control" name="npordengasto" ng-disabled="true"
								            ng-model="objeto.npordengasto">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirOrdenGasto()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npordengasto.$dirty && Form.npordengasto.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npordengasto.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npordengastovalor.$dirty && Form.npordengastovalor.$invalid, 'has-success':Form.npordengastovalor.$valid}">
								    <label class="control-label">
								        Orden Gasto Valor
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" numericOnly style="text-align:right;" decimal="2"
								    	placeholder="Escriba un orden gasto valor (no llega en rest)"
								        class="form-control" name="npordengastovalor" ng-model="objeto.npordengastovalor"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npordengastovalor.$dirty && Form.npordengastovalor.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npordengastovalor.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.valortotal.$dirty && Form.valortotal.$invalid, 'has-success':Form.valortotal.$valid}">
								    <label class="control-label">
								        Valor Total
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" numericOnly style="text-align:right;" decimal="2"
								    	placeholder="Escriba un valor total"
								        class="form-control" name="valortotal" ng-model="objeto.valortotal"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.valortotal.$dirty && Form.valortotal.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.valortotal.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width: 100%"
								    	placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required ng-disabled="noeditar"></textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.numerooficio.$dirty && Form.numerooficio.$invalid, 'has-success':Form.numerooficio.$valid}">
								    <label class="control-label">
								        N&uacute;mero Oficio
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un n&uacute;mero oficio"
								    	required class="form-control" name="numerooficio"
								        ng-model="objeto.numerooficio" ng-disabled="noeditar">
								    <span class="error text-small block"
								        ng-if="Form.numerooficio.$dirty && Form.numerooficio.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.numerooficio.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar && !noeditar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>
<br>
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar" ng-show="objeto.id && !noeditar"
											class="pull-right btn btn-sm btn-info"
											ng-click="agregarLinea();">
											<i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">
											L&iacute;neas
										</h4>
									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<td></td>
														<th>Descripci&oacute;n</th>
														<th>Orden Reversi&oacute;n</th>
													</tr>
													<tr ng-repeat="obj in detalles">
														<td>
															<a class="btn btn-sm btn-primary"
																uib-tooltip="Modificar"
																ng-click="editarLinea($index)">
																<i class="fa fa-pencil"></i>
															</a>
															<a class="btn btn-sm btn-primary"
																style="background-color: Red !important;"
																ng-show="!noeditar"
																uib-tooltip="Eliminar"
																ng-click="eliminarLinea($index)">
																<i class="fa ti-trash"></i>
															</a>
														</td>
														<td>
															{{ obj.npSubitemcodigo }}: {{obj.npSubitem}}
														</td>
														<td style="text-align:right;">
															{{ obj.valor | currency }}
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

<script type="text/ng-template" id="modalLiquidacionManua.html">
<div class="modal-header">
	<h3 class="modal-title">
		{{ nptitulo }}
	</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >

		<div class="row">
<!--			<div class="col-md-12">
				<div class="form-group">
				    <label class="control-label">
				        <h4>
							Est&aacute; seguro de liquidar la certificaci&oacute;n de fondos?
				        </h4>
				    </label>
				</div>
			</div> -->
			<div class="col-md-12">
				<div class="form-group"
				    ng-class="{'has-error':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid, 'has-success':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid}">
				    <label class="control-label">
				        {{ npsubtitulo }}: 
				    </label>
				    <textarea name="CTLCERTIFICACIONMOTIVOLIQUIDACION" rows="5" style="width: 100%" placeholder="Escriba un motivo liquidaci&oacute;n"
				        class="form-control" ng-model="objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION"></textarea>
				    <span class="error text-small block"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid">
				        Incorrecto
				    </span>
				    <span class="success text-small"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid">
				        Listo
				    </span>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="aceptar(objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION);">
			Aceptar
		</button>
		<button class="btn btn-default btn-o" ng-click="cancelar()">
			Cancelar
		</button>
	</div>
</div>
</script>
</div>





