<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Orden de Gasto</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="OrdenGastoController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="codigoFiltro"
										ng-model="codigoFiltro">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										N&uacute;mero compromiso
									</label>
									<input type="text" placeholder="Ingrese un n&uacute;mero compromiso"
										class="form-control" name="compromisoFiltro"
										ng-model="compromisoFiltro">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Certificaci&oacute;n C&oacute;digo
									</label>
									<input type="text" placeholder="Ingrese un c&oacute;digo"
										class="form-control" name="certificacionFiltro"
										ng-model="certificacionFiltro">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" class="has-success">
									<label class="control-label">
										Valor inicial
									</label>
									<input type="text" placeholder="Ingrese un valor inicial"
										class="form-control" name="valorinicialFiltro"
										ng-model="valorinicialFiltro">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Valor final
									</label>
									<input type="text" placeholder="Ingrese un valor final"
										class="form-control" name="valorfinalFiltro"
										ng-model="valorfinalFiltro">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Fecha inicial
									</label>
							        <div class="input-group">
							            <input type="text" class="form-control" placeholder="Ingrese un de fecha inicial"
							                uib-datepicker-popup="dd/MM/yyyy" 
							                name="fechainicialFiltro" ng-model="fechainicialFiltro"
							                is-open="popupnpFechainicio.opened" datepicker-options="dateOptions"
							                ng-required="true" close-text="Close">
							            <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="opennpFechainicio()">
							                    <i class="glyphicon glyphicon-calendar"></i>
							                </button>
							            </span>
							        </div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Fecha final
									</label>
							        <div class="input-group">
							            <input type="text" class="form-control" placeholder="Ingrese un de fecha final"
							                uib-datepicker-popup="dd/MM/yyyy" 
							                name="fechafinalFiltro" ng-model="fechafinalFiltro"
							                is-open="popupnpFechafin.opened" datepicker-options="dateOptions"
							                ng-required="true" close-text="Close">
							            <span class="input-group-btn">
							                <button type="button" class="btn btn-primary" ng-click="opennpFechafin()">
							                    <i class="glyphicon glyphicon-calendar"></i>
							                </button>
							            </span>
							        </div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">
										Estado
									</label>
									<select class="form-control" name="estadoFiltro" ng-model="estadoFiltro">
										<option value="">Selecione un estado o ver todos</option>
										<option value="RE">Registrado</option>
										<option value="EL">Eliminado</option>
										<option value="SO">Solicitado</option>
										<option value="NE">Negado</option>
										<option value="AP">Aprobado</option>
										<option value="LP">Liquidado Parcial</option>
										<option value="LT">Liquidado Totalmente</option>
									</select>
								</div>
							</div>
						</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrarUnico()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>C&oacute;digo</th>
									<th>Valor<br>total</th>
									<th>Creado</th>
									<th>N&uacute;mero<br>precompromiso</th>
									<th>Certificaci&oacute;n<br>C&oacute;digo</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tr ng-repeat="obj in data">
								<td>
									<table>
										<tr>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Modificar" ng-click="editar($index)">
													<i class="fa fa-pencil"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Solicitar" ng-click="solicitar(obj.id)">
													<i class="fa fa-list-alt"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Imprimir solicitud" ng-click="imprimirsolicitud(obj.id)">
													<i class="fa fa-file-text"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Imprimir oficio" ng-click="imprimiroficio(obj.id)">
													<i class="fa fa-file-text-o"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Aprobar" ng-click="aprobar($index)">
													<i class="fa ti-check"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Negar" ng-click="negar($index)">
													<i class="fa ti-minus"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Liquidar manualmente" ng-click="liquidarManualMente(obj.id)">
													<i class="fa fa-clipboard"></i>
												</a>
											</td>
											<td width="2px"></td>
											<td width="32px">
												<a class="btn btn-sm btn-primary"
													uib-tooltip="Eliminar" ng-click="eliminar(obj.id)">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
										</tr>
									</table>
								</td>
								<td>{{obj.codigo}}</td>
								<td style="text-align: right;">
									<span>
										{{obj.valortotal | number:2}}
									</span>
								</td>
								<td>{{obj.npfecha}}</td>
								<td>{{obj.numerocompromiso}}</td>
								<td>{{obj.npcertificacioncodigo}}</td>
								<td>{{obj.npestado}}</td>
							</tr>
						</table>

						<ul first-text="Primero" last-text="Ultimo" next-text="Siguiente"
							previous-text="Atras" uib-pagination total-items="total"
							ng-change="pageChanged()" items-per-page="10" ng-model="pagina"
							max-size="10" class="pagination-sm" boundary-links="true"
							force-ellipses="true">
						</ul>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">Orden de Gasto</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group has-success">
								    <label class="control-label">
								        C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Se genera un c&oacute;digo automatico"
								        class="form-control" name="codigo" ng-model="objeto.codigo"
								        ng-disabled="true">
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
								    <label class="control-label">
								        Descripci&oacute;n
								        <span class="symbol required"></span>
								    </label>
								    <textarea name="descripcion" rows="5" style="width:100%"
								    	placeholder="Escriba un descripci&oacute;n"
								        class="form-control" ng-model="objeto.descripcion"
								        required ng-disabled="noeditar"></textarea>
								    <span class="error text-small block"
								        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.descripcion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npunidadcodigo.$dirty && Form.npunidadcodigo.$invalid, 'has-success':Form.npunidadcodigo.$valid}">
								    <label class="control-label">
								        Unidad c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione unidad c&oacute;digo"
								            class="form-control" name="npunidadcodigo" ng-disabled="true"
								            ng-model="objeto.npunidadcodigo" required>
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirUnidadCodigo()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npunidadcodigo.$dirty && Form.npunidadcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npunidadcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npunidadnombre.$dirty && Form.npunidadnombre.$invalid, 'has-success':Form.npunidadnombre.$valid}">
								    <label class="control-label">
								        Unidad nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npunidadnombre" ng-model="objeto.npunidadnombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npunidadnombre.$dirty && Form.npunidadnombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npunidadnombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npproveedorcodigo.$dirty && Form.npproveedorcodigo.$invalid, 'has-success':Form.npproveedorcodigo.$valid}">
								    <label class="control-label">
								        Proveedor c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione proveedor c&oacute;digo"
								            class="form-control" name="npproveedorcodigo" ng-disabled="true"
								            ng-model="objeto.npproveedorcodigo" required>
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirProveedorCodigo()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npproveedorcodigo.$dirty && Form.npproveedorcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npproveedorcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npproveedornombre.$dirty && Form.npproveedornombre.$invalid, 'has-success':Form.npproveedornombre.$valid}">
								    <label class="control-label">
								        Proveedor Nombre Mostrado
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un proveedor"
								        class="form-control" name="npproveedornombre" ng-model="objeto.npproveedornombre"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npproveedornombre.$dirty && Form.npproveedornombre.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npproveedornombre.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigocertificacion.$dirty && Form.npcodigocertificacion.$invalid, 'has-success':Form.npcodigocertificacion.$valid}">
								    <label class="control-label">
								        Certificaci&oacute;n c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione certificaci&oacute;n c&oacute;digo"
								            class="form-control" name="npcodigocertificacion" ng-disabled="true"
								            ng-model="objeto.npcodigocertificacion" required>
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirCertificacionCodigo()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npcodigocertificacion.$dirty && Form.npcodigocertificacion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigocertificacion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigoregistro.$dirty && Form.npcodigoregistro.$invalid, 'has-success':Form.npcodigoregistro.$valid}">
								    <label class="control-label">
								        Clase registro c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione clase registro c&oacute;digo"
								            class="form-control" name="npcodigoregistro" ng-disabled="true"
								            ng-model="objeto.npcodigoregistro" required>
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirClaseRegistroCodigo()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npcodigoregistro.$dirty && Form.npcodigoregistro.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigoregistro.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npnombreregistro.$dirty && Form.npnombreregistro.$invalid, 'has-success':Form.npnombreregistro.$valid}">
								    <label class="control-label">
								        Clase registro nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npnombreregistro" ng-model="objeto.npnombreregistro"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npnombreregistro.$dirty && Form.npnombreregistro.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npnombreregistro.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigomodificacion.$dirty && Form.npcodigomodificacion.$invalid, 'has-success':Form.npcodigomodificacion.$valid}">
								    <label class="control-label">
								        Clase modificaci&oacute;n c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npcodigomodificacion" ng-model="objeto.npcodigomodificacion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npcodigomodificacion.$dirty && Form.npcodigomodificacion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigomodificacion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npnombremodificacion.$dirty && Form.npnombremodificacion.$invalid, 'has-success':Form.npnombremodificacion.$valid}">
								    <label class="control-label">
								        Clase modificaci&oacute;n mombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npnombremodificacion" ng-model="objeto.npnombremodificacion"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npnombremodificacion.$dirty && Form.npnombremodificacion.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npnombremodificacion.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigoregcmcgasto.$dirty && Form.npcodigoregcmcgasto.$invalid, 'has-success':Form.npcodigoregcmcgasto.$valid}">
								    <label class="control-label">
								        Clase gasto c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npcodigoregcmcgasto" ng-model="objeto.npcodigoregcmcgasto"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npcodigoregcmcgasto.$dirty && Form.npcodigoregcmcgasto.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigoregcmcgasto.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npnombreregcmcgasto.$dirty && Form.npnombreregcmcgasto.$invalid, 'has-success':Form.npnombreregcmcgasto.$valid}">
								    <label class="control-label">
								        Clase gasto nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione una unidad"
								        class="form-control" name="npnombreregcmcgasto" ng-model="objeto.npnombreregcmcgasto"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npnombreregcmcgasto.$dirty && Form.npnombreregcmcgasto.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npnombreregcmcgasto.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigotipodocumento.$dirty && Form.npcodigotipodocumento.$invalid, 'has-success':Form.npcodigotipodocumento.$valid}">
								    <label class="control-label">
								        Tipo documento c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione tipo documento c&oacute;digo"
								            class="form-control" name="npcodigotipodocumento" ng-disabled="true"
								            ng-model="objeto.npcodigotipodocumento" required>
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="abrirTipoDocumentoCodigo()" ng-disabled="noeditar">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npcodigotipodocumento.$dirty && Form.npcodigotipodocumento.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigotipodocumento.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npnombretipodocumento.$dirty && Form.npnombretipodocumento.$invalid, 'has-success':Form.npnombretipodocumento.$valid}">
								    <label class="control-label">
								        Tipo documento nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un documento"
								        class="form-control" name="npnombretipodocumento" ng-model="objeto.npnombretipodocumento"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npnombretipodocumento.$dirty && Form.npnombretipodocumento.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npnombretipodocumento.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npcodigodocumento.$dirty && Form.npcodigodocumento.$invalid, 'has-success':Form.npcodigodocumento.$valid}">
								    <label class="control-label">
								        Clase documento c&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un documento"
								        class="form-control" name="npcodigodocumento" ng-model="objeto.npcodigodocumento"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npcodigodocumento.$dirty && Form.npcodigodocumento.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npcodigodocumento.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.npnombredocumento.$dirty && Form.npnombredocumento.$invalid, 'has-success':Form.npnombredocumento.$valid}">
								    <label class="control-label">
								        Clase documento nombre
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Seleccione un documento"
								        class="form-control" name="npnombredocumento" ng-model="objeto.npnombredocumento"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.npnombredocumento.$dirty && Form.npnombredocumento.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npnombredocumento.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.numerodocumento.$dirty && Form.numerodocumento.$invalid, 'has-success':Form.numerodocumento.$valid}">
								    <label class="control-label">
								        N&uacute;mero documento
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un n&uacute;mero documento"
								        class="form-control" name="numerodocumento" ng-model="objeto.numerodocumento"
								        required ng-minlength="1" ng-minlength="100" ng-disabled="!nuevoar && noeditar">
								    <span class="error text-small block"
								        ng-if="Form.numerodocumento.$dirty && Form.numerodocumento.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.numerodocumento.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.contratoid.$dirty && Form.contratoid.$invalid, 'has-success':Form.contratoid.$valid}">
								    <label class="control-label">
								        Contrato id
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un contrato id"
								        class="form-control" name="contratoid" ng-model="objeto.contratoid"
								        required ng-minlength="1" ng-minlength="100" ng-disabled="!nuevoar && noeditar">
								    <span class="error text-small block"
								        ng-if="Form.contratoid.$dirty && Form.contratoid.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.contratoid.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.valortotal.$dirty && Form.valortotal.$invalid, 'has-success':Form.valortotal.$valid}">
								    <label class="control-label">
								        Valor total
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="0.00"
								        class="form-control" name="valortotal" ng-model="objeto.valortotal"
								        required ng-disabled="true">
								    <span class="error text-small block"
								        ng-if="Form.valortotal.$dirty && Form.valortotal.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.valortotal.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.numerooficio.$dirty && Form.numerooficio.$invalid, 'has-success':Form.numerooficio.$valid}">
								    <label class="control-label">
								        N&uacute;mero oficio
								        <span class="symbol required"></span>
								    </label>
								    <input type="text" placeholder="Escriba un n&uacute;mero oficio"
								        class="form-control" name="numerooficio" ng-model="objeto.numerooficio"
								        required ng-minlength="1" ng-minlength="100" ng-disabled="!nuevoar && noeditar">
								    <span class="error text-small block"
								        ng-if="Form.numerooficio.$dirty && Form.numerooficio.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.numerooficio.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
								    <label class="control-label">
								        Estado
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="estado"
								        ng-model="objeto.estado" required ng-disabled="noeditar">
								        <option value="RE" ng-selected="selected">Registrado</option>
								        <option value="EL">Eliminado</option>
								        <option value="SO">Solicitado</option>
								        <option value="NE">Negado</option>
								        <option value="AP">Aprobado</option>
								        <option value="LP">Liquidado Parcial</option>
								        <option value="LT">Liquidado Totalmente</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.estado.$dirty && Form.estado.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.estado.$valid">
								        Listo
								    </span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>

					</form>

<script type="text/ng-template" id="modalUnidades.html">
<div class="modal-header">
	<h3 class="modal-title">Unidades</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultarF();" >

		<div class="panel panel-white" id="panel1">
			<div class="panel-heading">
				<h4 class="panel-title text-primary">Filtros</h4>
				<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
			</div>
			<div uib-collapse="panel1" ng-init="panel1=true"
				class="panel-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label> Nombres </label> <input type="text"
									class="form-control" ng-model="nombreFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> C&oacute;digo </label> <input type="text"
									class="form-control" ng-model="codigoFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> Estado </label> <select name="country"
									ng-model="estadoFiltro" class="form-control">
									<option value>Todos</option>
									<option value="A">Activo</option>
									<option value="I">Inactivo</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-wide btn-dark-azure" ng-click="consultarF()"><i
								class="fa fa-search"></i> Buscar</a> <a
								class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table ng-table="tableParams" class="table table-striped">
				<tr ng-repeat="obj in $data">
					<td><a class="btn btn-sm btn-primary"
						uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
							class="fa fa-check"></i></a></td>
					<td data-title="'C&oacute;digo presupestario'">{{obj.codigopresup}}</td>
					<td data-title="'Nombre'">{{obj.nombre}}</td>
					<td data-title="'Estado'">{{obj.npestado}}</td>
					<td data-title="'ORUltimo usado'">{{obj.orultimousado}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary btn-o" ng-click="cancelar()">
	    	Cancelar
	   	</button>
	</div>
</div>
</script>

<script type="text/ng-template" id="modalClaseRegistro.html">
<div class="modal-header">
	<h3 class="modal-title">Clases Registro</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >

		<div class="panel panel-white" id="panel1">
			<div class="panel-heading">
				<h4 class="panel-title text-primary">Filtros</h4>
				<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
			</div>
			<div uib-collapse="panel1" ng-init="panel1=true"
				class="panel-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label> Nombres </label> <input type="text"
									class="form-control" ng-model="nombreFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> C&oacute;digo </label> <input type="text"
									class="form-control" ng-model="codigoFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> Estado </label> <select name="country"
									ng-model="estadoFiltro" class="form-control">
									<option value>Todos</option>
									<option value="A">Activo</option>
									<option value="I">Inactivo</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
								class="fa fa-search"></i> Buscar</a> <a
								class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table ng-table="tableParams" class="table table-striped">
				<tr ng-repeat="obj in $data">
					<td><a class="btn btn-sm btn-primary"
						uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
							class="fa fa-check"></i></a></td>
					<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
					<td data-title="'Nombre'">{{obj.nombre}}</td>
					<td data-title="'Estado'">{{obj.npestado}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary btn-o" ng-click="cancelar()">
	    	Cancelar
	   	</button>
	</div>
</div>
</script>

<script type="text/ng-template" id="modalTipoDocumento.html">
<div class="modal-header">
	<h3 class="modal-title">Clases Registro</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >

		<div class="panel panel-white" id="panel1">
			<div class="panel-heading">
				<h4 class="panel-title text-primary">Filtros</h4>
				<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
			</div>
			<div uib-collapse="panel1" ng-init="panel1=true"
				class="panel-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label> Nombres </label> <input type="text"
									class="form-control" ng-model="nombreFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> C&oacute;digo </label> <input type="text"
									class="form-control" ng-model="codigoFiltro">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label> Estado </label> <select name="country"
									ng-model="estadoFiltro" class="form-control">
									<option value>Todos</option>
									<option value="A">Activo</option>
									<option value="I">Inactivo</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
								class="fa fa-search"></i> Buscar</a> <a
								class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table ng-table="tableParams" class="table table-striped">
				<tr ng-repeat="obj in $data">
					<td><a class="btn btn-sm btn-primary"
						uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
							class="fa fa-check"></i></a></td>
					<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
					<td data-title="'Nombre'">{{obj.nombre}}</td>
					<td data-title="'Estado'">{{obj.npestado}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary btn-o" ng-click="cancelar()">
	    	Cancelar
	   	</button>
	</div>
</div>
</script>

				</div>
			</div>
		</div>
	</div>

<script type="text/ng-template" id="modalLiquidacionManua.html">
<div class="modal-header">
	<h3 class="modal-title">Liquidaci&oacute;n manual</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
				    <label class="control-label">
				        <h4>
							Est&aacute; seguro de liquidar la certificaci&oacute;n de fondos?
				        </h4>
				    </label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
				    ng-class="{'has-error':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid, 'has-success':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid}">
				    <label class="control-label">
				        Motivo liquidaci&oacute;n
				        <span class="symbol required"></span>
				    </label>
				    <textarea name="CTLCERTIFICACIONMOTIVOLIQUIDACION" rows="5" style="width: 100%" placeholder="Escriba un motivo liquidaci&oacute;n"
				        class="form-control" ng-model="objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION"
				        required>
				    </textarea>
				    <span class="error text-small block"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid">
				        Incorrecto
				    </span>
				    <span class="success text-small"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid">
				        Listo
				    </span>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="aceptar(objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION);">
			Aceptar
		</button>
		<button class="btn btn-default btn-o" ng-click="cancelar()">
			Cancelar
		</button>
	</div>
</div>
</script>
</div>





