<!-- start: BREADCRUMB -->

<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Perfiles
	</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="PerfilesController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">


				<div class="panel-body" ng-show="!edicion">


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>


					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Modificar" ng-click="editar(obj.id)"><i
										class="fa fa-pencil"></i></a></td>

								<td data-title="'Nombre'">{{obj.nombre}}</td>

							</tr>
						</table>
					</div>
				</div>


				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Perfiles</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':Form.id.$dirty && Form.id.$invalid, 'has-success':Form.id.$valid}">
									<label class="control-label"> Id <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Id a generar"
										class="form-control" name="id" ng-model="objeto.id"
										required ng-disabled="true"> <span class="error text-small block"
										ng-if="Form.id.$dirty && Form.id.$invalid">Id
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.id.$valid">Listo</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label"> Nombre <span
										class="symbol required"></span>
									</label> <input type="text" placeholder="Nombre del perfil"
										class="form-control" name="nombre" required
										ng-model="objeto.nombre" ng-minlength="1" /> <span
										class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">Nombre
										es incorrecto</span> <span class="success text-small"
										ng-if="Form.nombre.$valid">Listo</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar"
											class="pull-right btn btn-sm btn-info"
											ng-click="agregarDetalle();"><i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">Permisos</h4>


									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<td></td>
														<th>Nombre</th>
													</tr>
													<tr ng-repeat="obj in objetolista">
														<td><!--  ng-disabled="obj.perfilpermisolectura==0" -->
															<a uib-tooltip="Eliminar"
																class="btn btn-sm btn-danger"
																ng-click="removerDetalle($index)">
																<i class="fa fa-trash"></i>
															</a>
														</td>
<!-- 																required ng-model="obj.id.permisoid" -->
														<td data-title="'Nombre'">
									<div class="input-group">
										<input type="text" placeholder="Seleccione el permiso"
											class="form-control" name="codigopadre" ng-disabled="true"
											ng-model="obj.nppermiso" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirPerfilesPermisos($index)">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>





