<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Permisos</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="PermisosController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label> Nombre </label> <input type="text"
												class="form-control" ng-model="nombreFiltro">
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevoR();">
						<i class="fa fa-plus-square"></i>
						Agregar
					</a>

					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Nombre</th>
								</tr>
							</thead>
							<tr ng-repeat="obj in data">
								<td>
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Modificar" ng-click="editar(obj.id)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									{{obj.id}}
								</td>
								<td>
									{{obj.nombre}}
								</td>
							</tr>
						</table>

						<ul first-text="Primero" last-text="Ultimo" next-text="Siguiente"
							previous-text="Atras" uib-pagination total-items="total"
							ng-change="pageChanged()" items-per-page="10" ng-model="pagina"
							max-size="10" class="pagination-sm" boundary-links="true"
							force-ellipses="true">
						</ul>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">
							Permisos
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group"
									ng-class="{'has-error':Form.id.$dirty && Form.id.$invalid, 'has-success':Form.id.$valid}">
									<label class="control-label">
										Id
										<span class="symbol required"></span>
									</label>
									<span ng-if="nuevo">
										<input type="text"
											placeholder="Se genera en el servidor" class="form-control" name="id"
											ng-model="objeto.id" ng-disabled="true">
									</span>
									<span ng-if="!nuevo">
										<input type="text"
											placeholder="Ingrese el Id" class="form-control" name="id"
											ng-model="objeto.id" ng-disabled="true">
									</span>
									<span class="error text-small block"
										ng-if="Form.id.$dirty && Form.id.$invalid">
										Id es incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.id.$valid">
										Listo
									</span>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
									<label class="control-label">
										Nombre
										<span class="symbol required"></span>
									</label>
									<span ng-if="nuevo">
										<input type="text"
											placeholder="Ingrese el Nombre" class="form-control"
											name="nombre" required ng-model="objeto.nombre"
											ng-minlength="1">
									</span>
									<span ng-if="!nuevo">
										<input type="text"
											placeholder="Ingrese el Nombre" class="form-control"
											name="nombre" required ng-model="objeto.nombre"
											ng-minlength="1" ng-disabled="true">
									</span>
									<span class="error text-small block"
										ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
										Nombre es incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.nombre.$valid">
										Listo
									</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>
