<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Plan Nacional
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="PlanNacionalController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="row">
						<div class="col-md-12">
							<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo(null);">
								<i class="fa fa-plus-square"></i>
								Agregar
							</a>
							<br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div ui-tree="treeOptions" id="tree-root"
								data-nodrop-enabled="true" data-drag-enabled="true">
								<ol ui-tree-nodes ng-model="arbol">
									<li ng-repeat="node in arbol" ui-tree-node
										ng-include="'nodes_renderer.html'">
									</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<br>
								<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
									<i class="fa fa-plus-square"></i>
									Agregar
								</a>
							</div>
						</div>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">Plan Nacional</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">
								
								<div class="form-group"
								    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" placeholder="Escriba un c&oacute;digo"
									    	ng-minlength="1" ng-maxlength="10"
									        class="form-control" name="codigo" ng-model="objeto.codigo" ng-pattern="/^[0-9]*$/"
									        required>
									</div>
								</div>

								<div class="form-group"
								    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Descripci&oacute;n
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
									        class="form-control" ng-model="objeto.descripcion"
									        required></textarea>
									</div>
								</div>
								
								<div class="form-group has-success">
									<div class="col-md-4">
									    <label class="control-label">
									        Tipo
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <input type="text" class="form-control"
									    	ng-disabled="true" ng-model="objeto.npTipo">
									</div>
								</div>
								
								<div class="form-group"
								    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<div class="col-md-4">
									    <label class="control-label">
									        Estado
									        <span class="symbol required"></span>
									    </label>
									</div>
									<div class="col-md-8">
									    <select class="form-control" name="estado"
									        ng-model="objeto.estado" required>
									        <option value="A" ng-selected="selected">Activo</option>
									        <option value="I">Inactivo</option>
									    </select>
									</div>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>

								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
<div ui-tree-handle class="tree-node tree-node-content" style="padding: 3px 3px;">
	<table width="100%">
		<tr>
			<td width="0%">
<table width="63px" border="0" cellpadding="0">
  <tr>
	<td width="30px">
				<div class="col-md-12" ng-show="!node.nphoja" style="padding: 3px 3px;">
				    <a class="btn btn-default btn-xs" data-nodrag ng-click="toggle(this);cargarHijos(node)">
						<span class="glyphicon" ng-class="{
					       	'glyphicon-chevron-right': collapsed,
					       	'glyphicon-chevron-down': !collapsed
					    }">
						</span>
					</a>
				</div>
	</td>
			<td width="30px">
				<letter-icon data="{{node.tipo}}" color="auto" size="sm"></letter-icon>
			</td>
			<td width="3px">
			</td>
  </tr>
</table>
			</td>
			<td width="100%">
	    		&nbsp;{{ node.codigo }} - {{ node.title }}
			</td>
			<td width="0%">
				<table width="71px">
					<tr>
						<td width="34px">
							<a ng-show="node.tipo!='M'" uib-tooltip="Agregar" class="btn btn-info btn-sm" data-nodrag
								ng-click="nuevo(node);">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
						<td width="3px"></td>
						<td width="34px">
	  						<a uib-tooltip="Modificar" class="btn btn-info btn-sm" data-nodrag
								ng-click="editar(node);">
								<span class="fa fa-pencil"></span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
</ol>
</script>
