<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Planificaci&oacute;n UE
	</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<div class="container-fluid container-fullw"
	ng-controller="PlanificacionUEController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion && !divPlanificacionAnual">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												C&oacute;digo Presupuestario
											</label>
											<input type="text" class="form-control" ng-model="codigoFiltro">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>
												Unidad Nombre
											</label>
											<input type="text" class="form-control" ng-model="nombreFiltro">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Estado </label> <select name="estado"
												ng-model="estado" class="form-control">
												<option value>Todos</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrarUnico()">
											<i class="fa fa-search"></i> Buscar
										</a> <a class="btn btn-wide btn-o btn-default"
											ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
						<i class="fa fa-plus-square"></i> Agregar
					</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td>
									<a class="btn btn-sm btn-primary">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary" ng-click="editarPlanificacionAnual(obj)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo Presupestario'">{{obj.codigopresup}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
								<td data-title="'Estado Presu.'">{{obj.npestadopresupuesto}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="divPlanificacionAnual" class="panel-body">
					<div class="panel-heading">
						<h5 class="panel-title">
							Planificaci&oacute;n Anual
						</h5>
					</div>
<!--
					<div class="row">
						<div class="col-md-12">
							<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo(null);">
								<i class="fa fa-plus-square"></i>
								Agregar
							</a>
							<br><br>
						</div>
					</div>
-->
					<div class="row">
						<div class="col-md-6">
							<div ui-tree="treeOptions" id="tree-root"
								data-nodrop-enabled="true" data-drag-enabled="true">
								<ol ui-tree-nodes ng-model="arbol">
									<li ng-repeat="node in arbol" ui-tree-node
										ng-include="'nodes_renderer.html'">
									</li>
								</ol>
							</div>
						</div>

						<div class="col-md-6">
							<div class="row">
								<span>
									<a  class="btn btn-sm btn-dark-azure" ng-click=";">
										<i class="fa fa-plus-square"></i>
										Meta: Distribuci&oacute;n Planificada
									</a>
								</span>
								<span>
									<a  class="btn btn-sm btn-dark-azure" ng-click=";">
										<i class="fa fa-plus-square"></i>
										Meta: Distribuci&oacute;n Ajustada
									</a>
								</span>
							</div>

							<div class="row">
								<div class="col-sm-12">
<div class="form-group"
    ng-class="{'has-error':Form.npPlannacional.$dirty && Form.npPlannacional.$invalid, 'has-success':Form.npPlannacional.$valid}">
    <label class="control-label">
        Objetivo Plan Nacional
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <textarea name="npPlannacional" rows="5" style="width: 100%" placeholder="Escriba un objetivo plan nacional"
            class="form-control" ng-model="objeto.npPlannacional"
            required ng-disabled="true"></textarea>
    </div>
            <span class="error text-small block"
        ng-if="Form.npPlannacional.$dirty && Form.npPlannacional.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npPlannacional.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npObjetivoestrategico.$dirty && Form.npObjetivoestrategico.$invalid, 'has-success':Form.npObjetivoestrategico.$valid}">
    <label class="control-label">
        Objetivo MIDENA
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un objetivo midena"
            class="form-control" name="npObjetivoestrategico" ng-model="objeto.npObjetivoestrategico"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npObjetivoestrategico.$dirty && Form.npObjetivoestrategico.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npObjetivoestrategico.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npObjetivooperativo.$dirty && Form.npObjetivooperativo.$invalid, 'has-success':Form.npObjetivooperativo.$valid}">
    <label class="control-label">
        Objetivo FF.AA.
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un objetivo ff.aa."
            class="form-control" name="npObjetivooperativo" ng-model="objeto.npObjetivooperativo"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npObjetivooperativo.$dirty && Form.npObjetivooperativo.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npObjetivooperativo.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npObjetivofuerza.$dirty && Form.npObjetivofuerza.$invalid, 'has-success':Form.npObjetivofuerza.$valid}">
    <label class="control-label">
        Objetivo de Fuerza
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un objetivo de fuerza"
            class="form-control" name="npObjetivofuerza" ng-model="objeto.npObjetivofuerza"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npObjetivofuerza.$dirty && Form.npObjetivofuerza.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npObjetivofuerza.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npInstitucion.$dirty && Form.npInstitucion.$invalid, 'has-success':Form.npInstitucion.$valid}">
    <label class="control-label">
        Instituci&oacute;n (UDAF)
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un instituci&oacute;n (udaf)"
            class="form-control" name="npInstitucion" ng-model="objeto.npInstitucion"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npInstitucion.$dirty && Form.npInstitucion.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npInstitucion.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npentidad.$dirty && Form.npentidad.$invalid, 'has-success':Form.npentidad.$valid}">
    <label class="control-label">
        Entidad (EOD)
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un entidad (eod)"
            class="form-control" name="npentidad" ng-model="objeto.npentidad"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npentidad.$dirty && Form.npentidad.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npentidad.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npPrograma.$dirty && Form.npPrograma.$invalid, 'has-success':Form.npPrograma.$valid}">
    <label class="control-label">
        Programa
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un programa"
            class="form-control" name="npPrograma" ng-model="objeto.npPrograma"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npPrograma.$dirty && Form.npPrograma.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npPrograma.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npSubprograma.$dirty && Form.npSubprograma.$invalid, 'has-success':Form.npSubprograma.$valid}">
    <label class="control-label">
        Subprograma
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un subprograma"
            class="form-control" name="npSubprograma" ng-model="objeto.npSubprograma"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npSubprograma.$dirty && Form.npSubprograma.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npSubprograma.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npProyecto.$dirty && Form.npProyecto.$invalid, 'has-success':Form.npProyecto.$valid}">
    <label class="control-label">
        Proyecto
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="text" placeholder="Escriba un proyecto"
            class="form-control" name="npProyecto" ng-model="objeto.npProyecto"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npProyecto.$dirty && Form.npProyecto.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npProyecto.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npacumuladoplanificado.$dirty && Form.npacumuladoplanificado.$invalid, 'has-success':Form.npacumuladoplanificado.$valid}">
    <label class="control-label">
        P. Acumulado Planificado
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="number" style="text-align:right;" aria-label="amount" placeholder="Escriba un p. acumulado planificado"
            class="form-control" name="npacumuladoplanificado" ng-model="objeto.npacumuladoplanificado" ng-pattern="/^[0-9]*$/"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npacumuladoplanificado.$dirty && Form.npacumuladoplanificado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npacumuladoplanificado.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npacumuladoajustado.$dirty && Form.npacumuladoajustado.$invalid, 'has-success':Form.npacumuladoajustado.$valid}">
    <label class="control-label">
        P. Acumulado Ajustado
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="number" style="text-align:right;" aria-label="amount" placeholder="Escriba un p. acumulado ajustado"
            class="form-control" name="npacumuladoajustado" ng-model="objeto.npacumuladoajustado" ng-pattern="/^[0-9]*$/"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npacumuladoajustado.$dirty && Form.npacumuladoajustado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npacumuladoajustado.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.ponderacion.$dirty && Form.ponderacion.$invalid, 'has-success':Form.ponderacion.$valid}">
    <label class="control-label">
        Ponderaci&oacute;n
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="number" style="text-align:right;" aria-label="amount" placeholder="Escriba un ponderaci&oacute;n"
            class="form-control" name="ponderacion" ng-model="objeto.ponderacion" ng-pattern="/^[0-9]*$/"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.ponderacion.$dirty && Form.ponderacion.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.ponderacion.$valid">
        Listo
    </span>
</div>

<div class="form-group"
    ng-class="{'has-error':Form.npponderacionacumulado.$dirty && Form.npponderacionacumulado.$invalid, 'has-success':Form.npponderacionacumulado.$valid}">
    <label class="control-label">
        Ponderaci&oacute;n Acumulada
        <span class="symbol required"></span>
    </label>
    <div class="input-group">
        <input type="number" style="text-align:right;" aria-label="amount" placeholder="Escriba un ponderaci&oacute;n acumulada"
            class="form-control" name="npponderacionacumulado" ng-model="objeto.npponderacionacumulado" ng-pattern="/^[0-9]*$/"
            required ng-disabled="true">
    </div>
    <span class="error text-small block"
        ng-if="Form.npponderacionacumulado.$dirty && Form.npponderacionacumulado.$invalid">
        Incorrecto
    </span>
    <span class="success text-small"
        ng-if="Form.npponderacionacumulado.$valid">
        Listo
    </span>
</div>
								</div>
							</div>
						</div>
					</div>
<!--
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<br>
								<a  class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
									<i class="fa fa-plus-square"></i>
									Agregar
								</a>
							</div>
						</div>
					</div>
-->
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">

					<div class="panel-heading">
						<h5 class="panel-title">Items</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">Guardar
									</button>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
<div ui-tree-handle class="tree-node tree-node-content">
	<table width="100%">
		<tr>
			<td width="1%">
				<div class="col-md-12">
				    <a class="btn btn-default btn-xs"  data-nodrag ng-click="toggle(this);cargarHijos(node)">
						<span class="glyphicon" ng-class="{
					       	'glyphicon-chevron-right': collapsed,
					       	'glyphicon-chevron-down': !collapsed
					    }">
						</span>
					</a>
				</div>
			</td>
			<td width="100%">
	    		{{node.title}}
			</td>
			<td width="1%">
				<table width="108px">
					<tr>
						<td width="34px">
							<a ng-show="node.tipo!='F'" uib-tooltip="Ver info."
								class="btn btn-info btn-sm" data-nodrag
								ng-click="vista(node);">
								<span class="fa fa-eye"></span>
							</a>
						</td>
						<td width="3px"></td>
						<td width="34px">
							<a ng-show="node.tipo!='F'" uib-tooltip="Agregar"
								class="btn btn-info btn-sm" data-nodrag
								ng-click="nuevo(node);">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
						<td width="3px"></td>
						<td width="34px">
	  						<a uib-tooltip="Modificar" class="btn btn-info btn-sm" data-nodrag
								ng-click="editar(node);">
								<span class="fa fa-pencil"></span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
</ol>
</script>
