<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Planificaci&oacute;n Estrat&eacute;gica (P-01)</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="PlanificacionEstrategicaController">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" id="panel1">

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group"
									ng-class="{'has-error':Form.npinstitucion.$dirty && Form.npinstitucion.$invalid, 'has-success':Form.npinstitucion.$valid}">
									<label class="control-label"> Instituci&oacute;n ID <span
										class="symbol required"></span>
									</label>
									<div class="input-group">
										<input type="text"
											placeholder="Seleccione una Instituci&oacute;n"
											class="form-control" name="npinstitucion"
											ng-disabled="true" ng-model="objeto.npinstitucion" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary"
												ng-click="abrirInstitucion()">
												<i class="fa fa-search"></i> Seleccione
											</button>
										</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label"> Tipo de Reporte <span
										class="symbol required"></span>
									</label> <select class="form-control" name="reporte"
										placeholder="Seleccione un reporte" ng-model="objeto.reporte">
										<option value="PDF">PDF</option>
										<option value="EXCEL">Excel</option>
									</select>
									<span class="error text-small block"
										ng-if="Form.reporte.$dirty && Form.reporte.$invalid">
										Incorrecto
									</span>
									<span class="success text-small"
										ng-if="Form.reporte.$valid">
										Listo
									</span>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">
										Solicitar
									</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>





