<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Proveedores Juridicos</h4>

	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ProveedorController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> C&oacute;digo </label>
											<input type="text" class="form-control"
												ng-model="codigoFiltro" placeholder="Ingrese un c&oacute;digo">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Nombre Mostrado </label>
											<input type="text" class="form-control"
												ng-model="nombremostradoFiltro" placeholder="Ingrese un nombre mostrado">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Nombre Comercial </label>
											<input type="text" class="form-control"
												ng-model="nombrecomercialFiltro" placeholder="Ingrese un nombre comercial">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label> Representante Legal </label>
											<input type="text" class="form-control"
												ng-model="representantelegalFiltro" placeholder="Ingrese un representante legal">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label> Estado </label>
											<select class="form-control" name="estado"
												ng-model="estadoFiltro">
												<option value="" ng-selected="selected">Seleccione un estado</option>
												<option value="A">Activo</option>
												<option value="I">Inactivo</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>
<!-- 
					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();"><i
						class="fa fa-plus-square"></i> Agregar</a>
-->
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>C&oacute;digo</th>
									<th>Tipo identificaci&oacute;n</th>
									<th>Nombre Comercial</th>
									<th>Representante Legal</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tr ng-repeat="obj in data">
								<td>
									<a class="btn btn-sm btn-primary" uib-tooltip="Modificar" ng-click="editar(obj.id)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td>
									{{obj.codigo}}
								</td>
								<td>
									{{obj.nptipoidentificacion}}
								</td>
								<td>
									{{obj.nombrecomercial}}
								</td>
								<td>
									{{obj.representantelegal}}
								</td>
								<td>
									{{obj.npestado}}
								</td>
							</tr>
						</table>

						<ul first-text="Primero" last-text="Ultimo" next-text="Siguiente"
							previous-text="Atras" uib-pagination total-items="total"
							ng-change="pageChanged()" items-per-page="10" ng-model="pagina"
							max-size="10" class="pagination-sm" boundary-links="true"
							force-ellipses="true">
						</ul>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">Proveedor Juridico</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-12">

								<div class="form-group"
									ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											C&oacute;digo
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Ingrese un c&oacute;digo"
											class="form-control" name="codigo" ng-model="objeto.codigo"
											ng-minlength="1" ng-maxlength="30" required>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.socionegociotipoidentid.$dirty && Form.socionegociotipoidentid.$invalid, 'has-success':Form.socionegociotipoidentid.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Tipo de identidad Id
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text"
											class="form-control" name="socionegociotipoidentid" ng-disabled="true"
											ng-model="objeto.socionegociotipoidentid" required>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.socionegociotipoidentid.$dirty && Form.socionegociotipoidentid.$invalid, 'has-success':Form.socionegociotipoidentid.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Tipo de identidad Nombre
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Ingrese una identidad"
											class="form-control" name="nptipoidentificacion" ng-disabled="true"
											ng-model="objeto.nptipoidentificacion" required>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.socionegociotipoidenttipoid.$dirty && Form.socionegociotipoidenttipoid.$invalid, 'has-success':Form.socionegociotipoidenttipoid.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Tipo
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text" placeholder="Seleccione un tipo"
												class="form-control" name="socionegociotipoidenttipoid" ng-disabled="true"
												ng-model="objeto.socionegociotipoidenttipoid">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirIdentificacion()">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.primernombre.$dirty && Form.primernombre.$invalid, 'has-success':Form.primernombre.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Socio Negocio Tipo
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Juridico"
											class="form-control" ng-disabled="true">
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.segundonombre.$dirty && Form.segundonombre.$invalid, 'has-success':Form.segundonombre.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Razon Social
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Ingrese la Razon Social"
											class="form-control" name="razonsocial" required
											ng-model="objeto.razonsocial" ng-minlength="1">
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.primerapellido.$dirty && Form.primerapellido.$invalid, 'has-success':Form.primerapellido.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Representante Legal
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Ingrese el Representante Legal"
											class="form-control" name="representantelegal" required
											ng-model="objeto.representantelegal" ng-minlength="1">
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.segundoapellido.$dirty && Form.segundoapellido.$invalid, 'has-success':Form.segundoapellido.$valid}">
									<div class="col-md-4">
										<label class="control-label">
											Nombre Comercial
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<input type="text" placeholder="Ingrese el Nombre Comercial"
											class="form-control" name="nombrecomercial" required
											ng-model="objeto.nombrecomercial" ng-minlength="1">
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
									<div class="col-md-4">
										<label for="form-field-select-1">
											Estado
											<span class="symbol required"></span>
										</label>
									</div>
									<div class="col-md-8">
										<select class="form-control" name="estado"
											ng-model="objeto.estado" required>
											<option value="" ng-selected="selected">Seleccione un estado</option>
											<option value="A">Activo</option>
											<option value="I">Inactivo</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<br>
								<div class="pull-right">
									<span ng-if="guardar">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">
										Cancelar
									</button>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
				<script type="text/ng-template" id="modalTipoIdentificacion.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Tipo de identidad</h3>
                            </div>
                            <div class="modal-body">

				<div class="panel-body" ng-init="consultarTipo();" >

                    <div class="panel panel-white" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Filtros</h4>
                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
                        </div>
                        <div uib-collapse="panel1" ng-init="panel1=true"
                             class="panel-wrapper">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre</label> <input type="text"
                                                class="form-control" ng-model="nombre" ng-change="mayusculas()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-wide btn-dark-azure" ng-click="consultarTipo()">
                                            <i class="fa fa-search"></i> Buscar
                                        </a> <a class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary"
									uib-tooltip="Seleccionar" ng-click="seleccionar(obj)"><i
										class="fa fa-check"></i></a></td>
                                <td data-title="'Nombre'">{{obj.npnombretipo}}</td>
							</tr>
						</table>
					</div>

                            </div>
                            <div class="modal-footer">
                                
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                    </script>

</div>





