<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Reformas
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ReformasController" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" ng-show="!edicion">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" class="has-success">
											<label class="control-label">
												C&oacute;digo
											</label>
											<input type="text" placeholder="Ingrese un c&oacute;digo"
												class="form-control" name="codigoFiltro"
												ng-model="codigoFiltro" />
										</div>
									</div>
		
									<div class="col-md-6">
										<div class="form-group" class="has-success">
											<label class="control-label">
												Tipo
											</label>
										    <select class="form-control" name="tipo"
										        ng-model="tipoFiltro">
										        <option value="" ng-selected="selected">Seleccione un tipo</option>
										        <option value="EP">Especial</option>
										        <option value="MU">Misma Unidad</option>
										        <option value="EU">Entre Unidades</option>
										        <option value="ES">Entre Subitems</option>
										    </select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Fecha inicial
											</label>
									        <div class="input-group">
									            <input type="text" class="form-control" placeholder="Ingrese un de fecha inicial"
									                uib-datepicker-popup="dd/MM/yyyy" 
									                name="fechainicialFiltro" ng-model="fechainicialFiltro"
									                is-open="popupnpFechainicio.opened" datepicker-options="dateOptions"
									                ng-required="true" close-text="Close">
									            <span class="input-group-btn">
									                <button type="button" class="btn btn-primary" ng-click="opennpFechainicio()">
									                    <i class="glyphicon glyphicon-calendar"></i>
									                </button>
									            </span>
									        </div>
										</div>
									</div>
		
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Fecha final
											</label>
									        <div class="input-group">
									            <input type="text" class="form-control" placeholder="Ingrese un de fecha final"
									                uib-datepicker-popup="dd/MM/yyyy" 
									                name="fechafinalFiltro" ng-model="fechafinalFiltro"
									                is-open="popupnpFechafin.opened" datepicker-options="dateOptions"
									                ng-required="true" close-text="Close">
									            <span class="input-group-btn">
									                <button type="button" class="btn btn-primary" ng-click="opennpFechafin()">
									                    <i class="glyphicon glyphicon-calendar"></i>
									                </button>
									            </span>
									        </div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Estado
											</label>
											<select class="form-control" name="estadoFiltro" ng-model="estadoFiltro">
												<option value="">Selecione un estado</option>
												<option value="RE">Registrado</option>
												<option value="EL">Eliminado</option>
												<option value="SO">Solicitado</option>
												<option value="NE">Negado</option>
												<option value="AP">Aprobado</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrarUnico()">
											<i class="fa fa-search"></i>
											Buscar
										</a>
										<a class="btn btn-wide btn-o btn-default" ng-click="limpiar()">
											Limpiar
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
						<i class="fa fa-plus-square"></i>
						Agregar
					</a>

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Modificar"
										ng-click="editar($index)">
										<i class="fa fa-pencil"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Solicitar"
										ng-click="solicitar(obj.id)">
										<i class="fa fa-list-alt"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Imprimir solicitud"
										ng-click="imprimirsolicitud(obj.id)">
										<i class="fa fa-file-text"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Imprimir oficio"
										ng-click="imprimiroficio(obj.id)">
										<i class="fa fa-file-text-o"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Aprobar"
										ng-click="aprobar(obj.id)">
										<i class="fa ti-check"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Negar"
										ng-click="negar($index)">
										<i class="fa ti-minus"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Liquidaci&oacute;n Total"
										ng-click="LiquidacionTotal($index)">
										<i class="fa fa-clipboard"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Liquidaci&oacute;n Parcial"
										ng-click="LiquidacionParcial($index)">
										<i class="fa fa-clipboard"></i>
									</a>
								</td>
								<td width="32px">
									<a class="btn btn-sm btn-primary"
										uib-tooltip="Eliminar"
										ng-click="eliminar($index)">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Descripci&oacute;n'">{{obj.descripcion}}</td>
								<td data-title="'Fecha Creaci&oacute;n'">{{obj.npfecha}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div ng-show="edicion" class="panel-body" id="panel1">
					<div class="panel-heading">
						<h5 class="panel-title">
							Reformas
						</h5>
					</div>

					<form name="Form" id="form1" novalidate
						ng-submit="form.submit(Form)">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group"
								    ng-class="{'has-error':Form.tipo.$dirty && Form.tipo.$invalid, 'has-success':Form.tipo.$valid}">
								    <label class="control-label">
								        Tipo
								        <span class="symbol required"></span>
								    </label>
								    <select class="form-control" name="tipo"
								        ng-model="objeto.tipo" required ng-disabled="objeto.id!=0">
								        <option value="" ng-selected="selected">(Ninguno)</option>
								        <option value="EP">Especial</option>
								        <option value="MU">Misma Unidad</option>
								        <option value="EU">Entre Unidades</option>
								        <option value="ES">Entre Subitems</option>
								    </select>
								    <span class="error text-small block"
								        ng-if="Form.tipo.$dirty && Form.tipo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.tipo.$valid">
								        Listo
								    </span>
								</div>
								
								<div ng-show="objeto.tipo!=''">
									<div ng-show="objeto.id!=0" class="form-group"
									    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
									    <label class="control-label">
									        C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									    <input type="text" placeholder="Escriba un c&oacute;digo"
									        class="form-control" name="codigo" ng-model="objeto.codigo"
									        ng-disabled="true">
									    <span class="error text-small block"
									        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.codigo.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.npunidadcodigo.$dirty && Form.npunidadcodigo.$invalid, 'has-success':Form.npunidadcodigo.$valid}">
									    <label class="control-label">
									        Unidad C&oacute;digo
									        <span class="symbol required"></span>
									    </label>
									    <div class="input-group">
									        <input type="text" placeholder="Escriba un unidad c&oacute;digo"
									            class="form-control" name="npunidadcodigo" ng-disabled="true"
									            ng-model="objeto.npunidadcodigo">
									        <span class="input-group-btn">
									            <button type="button" class="btn btn-primary"
									                ng-click="abrirUnidad()" ng-disabled="noeditar">
									                <i class="fa fa-search"></i>
									                Seleccione
									            </button>
									        </span>
									    </div>
									    <span class="error text-small block"
									        ng-if="Form.npunidadcodigo.$dirty && Form.npunidadcodigo.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.npunidadcodigo.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.npunidadnombre.$dirty && Form.npunidadnombre.$invalid, 'has-success':Form.npunidadnombre.$valid}">
									    <label class="control-label">
									        Unidad Nombre
									        <span class="symbol required"></span>
									    </label>
									    <input type="text" placeholder="Escriba un unidad nombre"
									        class="form-control" name="npunidadnombre" ng-model="objeto.npunidadnombre"
									        required ng-disabled="true">
									    <span class="error text-small block"
									        ng-if="Form.npunidadnombre.$dirty && Form.npunidadnombre.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.npunidadnombre.$valid">
									        Listo
									    </span>
									</div>
									
									<div ng-show="objeto.tipo=='ES'">
										<div class="form-group"
										    ng-class="{'has-error':Form.npitemcodigo.$dirty && Form.npitemcodigo.$invalid, 'has-success':Form.npitemcodigo.$valid}">
										    <label class="control-label">
										        &Iacute;tem C&oacute;digo
										        <span class="symbol required"></span>
										    </label>
										    <div class="input-group">
										        <input type="text" placeholder="Escriba un &iacute;tem c&oacute;digo"
										            class="form-control" name="npitemcodigo" ng-disabled="true"
										            ng-model="objeto.npitemcodigo">
										        <span class="input-group-btn">
										            <button type="button" class="btn btn-primary"
										                ng-click="abrirItem()" ng-disabled="noeditar">
										                <i class="fa fa-search"></i>
										                Seleccione
										            </button>
										        </span>
										    </div>
										    <span class="error text-small block"
										        ng-if="Form.npitemcodigo.$dirty && Form.npitemcodigo.$invalid">
										        Incorrecto
										    </span>
										    <span class="success text-small"
										        ng-if="Form.npitemcodigo.$valid">
										        Listo
										    </span>
										</div>
										
										<div class="form-group"
										    ng-class="{'has-error':Form.npitemnombre.$dirty && Form.npitemnombre.$invalid, 'has-success':Form.npitemnombre.$valid}">
										    <label class="control-label">
										        &Iacute;tem Nombre
										        <span class="symbol required"></span>
										    </label>
										    <input type="text" placeholder="Escriba un &iacute;tem nombre"
										        class="form-control" name="npitemnombre" ng-model="objeto.npitemnombre"
										        ng-disabled="true">
										    <span class="error text-small block"
										        ng-if="Form.npitemnombre.$dirty && Form.npitemnombre.$invalid">
										        Incorrecto
										    </span>
										    <span class="success text-small"
										        ng-if="Form.npitemnombre.$valid">
										        Listo
										    </span>
										</div>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.descripcion.$dirty && Form.descripcion.$invalid, 'has-success':Form.descripcion.$valid}">
									    <label class="control-label">
									        Descripci&oacute;n
									        <span class="symbol required"></span>
									    </label>
									    <textarea name="descripcion" rows="5" style="width: 100%" placeholder="Escriba un descripci&oacute;n"
									        class="form-control" ng-model="objeto.descripcion"
									        required ng-disabled="noeditar"></textarea>
									    <span class="error text-small block"
									        ng-if="Form.descripcion.$dirty && Form.descripcion.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.descripcion.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.numerooficio.$dirty && Form.numerooficio.$invalid, 'has-success':Form.numerooficio.$valid}">
									    <label class="control-label">
									        N&uacute;mero Oficio
									        <span class="symbol required"></span>
									    </label>
									    <input type="text" placeholder="Escriba un n&uacute;mero oficio"
									        class="form-control" name="numerooficio" ng-model="objeto.numerooficio"
									        ng-disabled="noeditar" required>
									    <span class="error text-small block"
									        ng-if="Form.numerooficio.$dirty && Form.numerooficio.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.numerooficio.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.valorincremento.$dirty && Form.valorincremento.$invalid, 'has-success':Form.valorincremento.$valid}">
									    <label class="control-label">
									        Valor Incrementado
									        <span class="symbol required"></span>
									    </label>
									    <input type="text" placeholder="Escriba un valor incrementado"
									        class="form-control" name="valorincremento" ng-model="objeto.valorincremento" numericOnly style="text-align:right;"
									        ng-disabled="true" format="number">
									    <span class="error text-small block"
									        ng-if="Form.valorincremento.$dirty && Form.valorincremento.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.valorincremento.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.valordecremento.$dirty && Form.valordecremento.$invalid, 'has-success':Form.valordecremento.$valid}">
									    <label class="control-label">
									        Valor Decrementado
									        <span class="symbol required"></span>
									    </label>
									    <input type="text" placeholder="Escriba un valor decrementado"
									        class="form-control" name="valordecremento" ng-model="objeto.valordecremento" numericOnly style="text-align:right;"
									        ng-disabled="true" format="number">
									    <span class="error text-small block"
									        ng-if="Form.valordecremento.$dirty && Form.valordecremento.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.valordecremento.$valid">
									        Listo
									    </span>
									</div>
									
									<div class="form-group"
									    ng-class="{'has-error':Form.incluyemeta.$dirty && Form.incluyemeta.$invalid, 'has-success':Form.incluyemeta.$valid}">
									    <label class="control-label">
									        Incluye Meta
									        <span class="symbol required"></span>
									    </label>
									    <input type="checkbox" class="form-control"
									    	name="incluyemeta" ng-model="objeto.incluyemeta">
									    <span class="error text-small block"
									        ng-if="Form.incluyemeta.$dirty && Form.incluyemeta.$invalid">
									        Incorrecto
									    </span>
									    <span class="success text-small"
									        ng-if="Form.incluyemeta.$valid">
									        Listo
									    </span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<span ng-if="guardar && !noeditar">
										<button type="submit" class="btn btn-primary">Guardar
										</button>
									</span>
									<button type="reset" class="btn btn-default btn-o"
										ng-click="form.reset(Form)">Cancelar</button>
								</div>
							</div>
						</div>
						<div class="row" ng-show="objeto.id!=0">
							<br>
							<div class="col-sm-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a uib-tooltip="Agregar" ng-show="!noeditar && !nuevoar"
											class="pull-right btn btn-sm btn-info"
											ng-click="agregarLinea();">
											<i class="fa fa-plus-square"></i>
										</a>
										<h4 class="panel-title">
											L&iacute;neas
										</h4>
									</div>
									<div class="panel-body no-padding panel-white">
										<div class="col-md-12 panel-white no-padding">
											<div>
												<table class="table table-striped">
													<tr>
														<th></th>
														<th>Descripci&oacute;n</th>
														<th>Fuente Financiamiento</th>
														<th>Valor</th>
														<th>Incremento</th>
														<th>Decremento</th>
													</tr>
													<tr ng-repeat="obj in detalles">
														<td>
															<a class="btn btn-sm btn-primary" ng-show="!noeditar"
																uib-tooltip="Modificar" ng-click="editarLinea($index)">
																<i class="fa fa-pencil"></i>
															</a>
															<a class="btn btn-sm btn-primary" style="background-color: Red !important;" ng-show="!noeditar"
																uib-tooltip="Eliminar" ng-click="eliminarLinea($index)">
																<i class="fa ti-trash"></i>
															</a>
														</td>
														<td>
															{{ obj.npSubitemcodigo }}: {{ obj.npSubitem }}
														</td>
														<td>
															<!-- FALTA -->
														</td>
														<td>
															<!-- FALTA -->
														</td>
														<td style="text-align:right;">
															{{ obj.valorincremento | currency }}
														</td>
														<td style="text-align:right;">
															{{ obj.valordecremento | currency }}
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

<script type="text/ng-template" id="modalLiquidacionManua.html">
<div class="modal-header">
	<h3 class="modal-title">
		{{ nptitulo }}
	</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >

		<div class="row">
			<div class="col-md-12">
				<div class="form-group"
				    ng-class="{'has-error':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid, 'has-success':Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid}">
				    <label class="control-label">
				        {{ npsubtitulo }}: 
				    </label>
				    <textarea name="CTLCERTIFICACIONMOTIVOLIQUIDACION" rows="5" style="width: 100%" placeholder="Escriba un motivo"
				        class="form-control" ng-model="objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION"></textarea>
				    <span class="error text-small block"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$dirty && Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$invalid">
				        Incorrecto
				    </span>
				    <span class="success text-small"
				        ng-if="Form.CTLCERTIFICACIONMOTIVOLIQUIDACION.$valid">
				        Listo
				    </span>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="aceptar(objeto.CTLCERTIFICACIONMOTIVOLIQUIDACION);">
			Aceptar
		</button>
		<button class="btn btn-default btn-o" ng-click="cancelar()">
			Cancelar
		</button>
	</div>
</div>
</script>
</div>





