<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Listado Fuentes de Financiamiento
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ReporteO01Controller" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" id="panel1">
					<form name="FormEditar" id="form" novalidate
						ng-submit="form.submit(FormEditar)">
						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">
										Reporte
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>





