<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">
		Reporte de Seguimiento de la Ejecuci&oacute;n PAPP - S01
	</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
	ng-controller="ReporteS01Controller" ng-init="consultar()">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">

				<div class="panel-body" id="panel1">
					<form name="FormEditar" id="form" novalidate
						ng-submit="form.submit(FormEditar)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Instituci&oacute;n
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text"
												placeholder="Seleccione una Instituci&oacute;n"
												class="form-control" name="npinstitucion"
												ng-disabled="true" ng-model="npinstitucion" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirInstitucion();">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Entidad
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text"
												placeholder="Seleccione una Entidad"
												class="form-control" name="npentidad"
												ng-disabled="true" ng-model="npentidad" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirEntidad()">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Unidad
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text"
												placeholder="Seleccione una Unidad"
												class="form-control" name="npunidad"
												ng-disabled="true" ng-model="npunidad" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirUnidad()">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Objetivo operacional
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text"
												placeholder="Seleccione un Objetivo Operacional"
												class="form-control" name="npobjetivooperacional"
												ng-disabled="true" ng-model="npobjetivooperacional">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirObjetivoOperacional();">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										<label class="control-label">
											Objetivo Estrat&eacute;gico 
										</label>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<input type="text"
												placeholder="Seleccione un Objetivo Estrat&eacute;gico"
												class="form-control" name="npobjetivoestrategico"
												ng-disabled="true" ng-model="npobjetivoestrategico">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"
													ng-click="abrirObjetivoEstrategico();" ng-disabled="!objetivoOperacionalActivo">
													<i class="fa fa-search"></i>
													Seleccione
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<br>
						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">
										Reporte S01
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>





