<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">M&oacute;dulo de SubItems</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw"
     ng-controller="SubItemController" ng-init="consultar();">

    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-white">

                <div class="panel-body" ng-show="!edicion">
                    <div class="panel panel-white" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary">Filtros</h4>
                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
                        </div>
                        <div uib-collapse="panel1" ng-init="panel1=true"
                             class="panel-wrapper">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>C&oacute;digo INCOP</label> <input type="text"
                                                                                class="form-control" ng-model="codigoIncop">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Item Nombre</label>
                                            <input type="text"
                                                   class="form-control" ng-model="itemNombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre</label> <input type="text"
                                                                         class="form-control" ng-model="nombre">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Estado </label> <select name="estado" ng-model="estado" class="form-control">
                                                <option value>Todos</option>
                                                <option value="A">Activo</option>
                                                <option value="I">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-wide btn-dark-azure" ng-click="filtrar()">
                                            <i class="fa fa-search"></i> Buscar
                                        </a> <a class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn btn-sm btn-dark-azure" ng-click="nuevo();">
                        <i class="fa fa-plus-square"></i> Agregar
                    </a>


                    <div>
                        <table ng-table="tableParams" class="table table-striped">
                            <tr ng-repeat="data in $data">
                                <td>
                                    <a class="btn btn-sm btn-primary"
                                       ng-click="editar(data.id)"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td data-title="'Item Nombre'" style="max-width:100px">{{data.npitemnombre}}</td>
                                <td data-title="'C&oacute;digo'">{{data.codigo}}</td>
                                <td data-title="'Nombre'" style="max-width:100px">{{data.nombre}}</td>
                                <td data-title="'Precio'">{{data.precio}}</td>
                                <td data-title="'Estado'">
                                    <span ng-if="data.estado=='I'">INACTIVO</span>
                                    <span ng-if="data.estado=='A'">ACTIVO</span>
                                </td>
                                <td data-title="'C&oacute;digo interno'">{{data.codigointerno}}</td>
                                <td data-title="'Nivel'">{{data.nivel}}</td>
                                <td data-title="'Unidad Medida Nombre'">{{data.npunidadnombre}}</td>
                                <td data-title="'Item Tipo'">{{data.nptipobien}}</td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div ng-show="edicion" class="panel-body" id="panel1">

                    <div class="panel-heading">
                        <h5 class="panel-title">Items</h5>
                    </div>

                    <form name="Form" id="form1" novalidate
                          ng-submit="form.submit(Form)">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error': Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
                                    <label class="control-label">
                                        C&oacute;digo INCOP
                                        <span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Ingrese el c&oacute;digo INCOP"
                                           ng-disabled="objeto.id !=null" class="form-control" name="codigointerno" required ng-model="objeto.codigointerno" ng-minlength="2" />
                                    <span class="error text-small block" ng-if="Form.codigointerno.$dirty && Form.codigointerno.$invalid">C&oacute;digo incorrecto</span>
                                    <span class="success text-small" ng-if="Form.codigointerno.$valid">Listo</span>
                                </div>
                                
                                <div class="form-group" ng-class="{'has-error': Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
                                    <label class="control-label">
                                        C&oacute;digo Interno
                                        <span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Ingrese el c&oacute;digo Interno"
                                           ng-disabled="objeto.id !=null" class="form-control" name="codigo" required ng-model="objeto.codigo" ng-minlength="2" />
                                    <span class="error text-small block" ng-if="Form.codigo.$dirty && Form.codigo.$invalid">C&oacute;digo incorrecto</span>
                                    <span class="success text-small" ng-if="Form.codigo.$valid">Listo</span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error':Form.nombre.$dirty && Form.nombre.$invalid, 'has-success':Form.nombre.$valid}">
                                    <label class="control-label">
                                        Nombre
                                        <span class="symbol required"></span>
                                    </label> <textarea type="text"
                                                    class="form-control" name="nombre" required
                                                    ng-model="objeto.nombre" /></textarea> <span class="error text-small block"
                                                                                      ng-if="Form.nombre.$dirty && Form.nombre.$invalid">
                                        Nombre incorrecto
                                    </span> <span class="success text-small"
                                                  ng-if="Form.anio.$valid">Listo</span>
                                </div>
                                
                                <div class="form-group" ng-class="{'has-error': Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
                                    <label class="control-label">
                                        Precio
                                        <span class="symbol required"></span>
                                    </label>
                                    <input type="number" placeholder="Ingrese el precio"
                                           class="form-control" name="precio" required ng-model="objeto.precio" value="0.00"/>
                                    <span class="error text-small block" ng-if="Form.precio.$dirty && Form.precio.$invalid">Precio incorrecto</span>
                                    <span class="success text-small" ng-if="Form.precio.$valid">Listo</span>
                                </div>

								<div class="form-group"
								    ng-class="{'has-error':Form.npitemcodigo.$dirty && Form.npitemcodigo.$invalid, 'has-success':Form.npitemcodigo.$valid}">
								    <label class="control-label">
								        &Iacute;tem C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione &iacute;tem c&oacute;digo"
								            class="form-control" name="npitemcodigo" ng-disabled="true"
								            ng-model="objeto.npitemcodigo">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="buscarItem()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.npitemcodigo.$dirty && Form.npitemcodigo.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.npitemcodigo.$valid">
								        Listo
								    </span>
								</div>
								
								<div class="form-group">
									<label class="control-label"> Item </label> <input
										type="text" class="form-control" name="npitemnombre"
										ng-disabled="true" ng-model="objeto.npitemnombre" />
								</div>	

								<div class="form-group"
								    ng-class="{'has-error':Form.subitemunidadmedidaid.$dirty && Form.subitemunidadmedidaid.$invalid, 'has-success':Form.subitemunidadmedidaid.$valid}">
								    <label class="control-label">
								        Unidad Medida C&oacute;digo
								        <span class="symbol required"></span>
								    </label>
								    <div class="input-group">
								        <input type="text" placeholder="Seleccione unidad medida c&oacute;digo"
								            class="form-control" name="subitemunidadmedidaid" ng-disabled="true"
								            ng-model="objeto.subitemunidadmedidaid">
								        <span class="input-group-btn">
								            <button type="button" class="btn btn-primary"
								                ng-click="buscarUnidadMedida()">
								                <i class="fa fa-search"></i>
								                Seleccione
								            </button>
								        </span>
								    </div>
								    <span class="error text-small block"
								        ng-if="Form.subitemunidadmedidaid.$dirty && Form.subitemunidadmedidaid.$invalid">
								        Incorrecto
								    </span>
								    <span class="success text-small"
								        ng-if="Form.subitemunidadmedidaid.$valid">
								        Listo
								    </span>
								</div>

								<div class="form-group">
									<label class="control-label"> Unidad Medida</label> <input
										type="text" class="form-control" name="npunidadnombre"
										ng-disabled="true" ng-model="objeto.npunidadnombre" />
								</div>

                                <div class="form-group" ng-class="{'has-error': Form.nivel.$dirty && Form.nivel.$invalid, 'has-success':Form.nivel.$valid}">
                                    <label class="control-label">
                                        Nivel
                                        <span class="symbol required"></span>
                                    </label>
                                    <input type="number" placeholder="Ingrese el nivel"
                                           class="form-control" name="estado" required ng-model="objeto.nivel" value="0"/>
                                    <span class="error text-small block" ng-if="Form.nivel.$dirty && Form.nivel.$invalid">Nivel incorrecto</span>
                                    <span class="success text-small" ng-if="Form.nivel.$valid">Listo</span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
                                    <label for="form-field-select-1">
                                        Estado <span class="symbol required"></span>
                                    </label> <select class="form-control" name="estado"
                                                     ng-model="objeto.estado" required>
                                        <option value="A">Activo</option>
                                        <option value="I">Inactivo</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <button type="reset" class="btn btn-default btn-o"
                                            ng-click="form.reset(Form)">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <!-- MODAL -->
        		<script type="text/ng-template" id="modalItems.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Lista de Selecci&oacute;n de Items</h3>
                            </div>
                            <div class="modal-body">
                               	<div class="panel-body" ng-init="consultar()" >


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>C&oacute;digo</label> <input type="text"
                                                                                class="form-control" ng-model="codigoFiltro">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Item Nombre</label>
                                            <input type="text"
                                                   class="form-control" ng-model="nombreFiltro">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Padre Nombre</label> <input type="text"
                                                                         class="form-control" ng-model="padreFiltro">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Tipo </label>
                                            <select name="tipo" ng-model="tipoFiltro" class="form-control">
                                                <option value="" selected="selected">(Todos)</option>
                                                <option value="I">Ingresos</option>
                                                <option value="E">Egresos</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Item Aplica IVA </label> 
											<input type='checkbox' ng-model="ivaFiltro">
                                        </div>
                                    </div>
                                </div>
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary" uib-tooltip="Seleccionar"
									ng-click="seleccionar(obj)"><i class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
								<td data-title="'Tipo'">{{obj.nptipo}}</td>
								<td data-title="'Estado'">{{obj.npestado}}</td>


							</tr>
						</table>
					</div>
				</div>

                            </div>
                            <div class="modal-footer">
                               
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </script>
                <!-- MODAL -->
                
                <!-- MODAL -->
        		<script type="text/ng-template" id="modalUnidades.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Lista de Selecci&oacute;n de Unidades Medida</h3>
                            </div>
                            <div class="modal-body">
                               	<div class="panel-body" ng-init="consultar()" >


					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Filtros</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=true"
							class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>C&oacute;digo</label> <input type="text"
                                                                                class="form-control" ng-model="codigoFiltro">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Nombre</label>
                                            <input type="text"
                                                   class="form-control" ng-model="nombreFiltro">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
									<div class="col-sm-12">
										<a class="btn btn-wide btn-dark-azure" ng-click="filtrar()"><i
											class="fa fa-search"></i> Buscar</a> <a
											class="btn btn-wide btn-o btn-default" ng-click="limpiar()">Limpiar</a>
									</div>
								</div>
							</div>
						</div>
					</div>				

					<div>
						<table ng-table="tableParams" class="table table-striped">
							<tr ng-repeat="obj in $data">
								<td><a class="btn btn-sm btn-primary" uib-tooltip="Seleccionar"
									ng-click="seleccionar(obj)"><i class="fa fa-check"></i></a></td>
								<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
								<td data-title="'Nombre'">{{obj.nombre}}</td>
							</tr>
						</table>
					</div>
				</div>

                            </div>
                            <div class="modal-footer">
                               
                                <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </script>
                <!-- MODAL -->
                
            </div>
        </div>
    </div>
</div>