<div class="modal-header">
	<h3 class="modal-title">
		Unidades
	</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();">
		<div ui-tree="treeOptions" id="tree-root"
			data-nodrop-enabled="true" data-drag-enabled="true">
			<ol ui-tree-nodes ng-model="arbol">
				<li ng-repeat="node in arbol" ui-tree-node
					ng-include="'nodes_renderer.html'"></li>
			</ol>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btn-o" ng-click="cancelar()">
			Cancelar
		</button>
	</div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
<div ui-tree-handle class="tree-node tree-node-content" style="padding: 3px 3px;border-bottom: 1px dashed black !important;border: none;">
	<table width="100%">
		<tr>
			<td width="0%">
				<table width="33px" border="0" cellpadding="0">
				  <tr>
					<td width="30px">
						<div class="col-md-12" ng-show="!node.nphoja" style="padding: 3px 3px;">
							<a class="btn btn-default btn-xs"
								data-nodrag ng-click="toggle(this);cargarHijos(node)">
								<span class="glyphicon" ng-class="{
									'glyphicon-chevron-right': collapsed,
									'glyphicon-chevron-down': !collapsed
								}">
								</span>
							</a>
						</div>
					</td>
					<td width="3px">
					</td>
				  </tr>
				</table>
			</td>
			<td width="100%" ng-click="vista(node);">
				<span>
					&nbsp;{{node.npcodigodescripcion}}
				</span>
			</td>
			<td width="0%">
				<table width="37px">
					<tr>
						<td width="3px"></td>
						<td width="34px">
							<a class="btn btn-sm btn-primary" data-nodrag
								uib-tooltip="Seleccionar" ng-click="seleccionar(node)">
								<i class="fa fa-check"></i>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
</ol>
</script>
