<div class="modal-header">
	<h3 class="modal-title">
		Contrato
	</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="editar();">

		<form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group"
					    ng-class="{'has-error':Form.codigo.$dirty && Form.codigo.$invalid, 'has-success':Form.codigo.$valid}">
					    <label class="control-label">
					        Proveedor C&oacute;digo
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" placeholder="Escriba un proveedor c&oacute;digo"
					        class="form-control" name="codigo" ng-model="objeto.npproveedorcodigo"
					        required ng-disabled="true" format="number">
					    <span class="error text-small block"
					        ng-if="Form.codigo.$dirty && Form.codigo.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.codigo.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.nombremostrado.$dirty && Form.nombremostrado.$invalid, 'has-success':Form.nombremostrado.$valid}">
					    <label class="control-label">
					        Proveedor Nombre Mostrado
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" placeholder="Escriba un proveedor nombre mostrado"
					        class="form-control" name="nombremostrado" ng-model="objeto.npproveedor"
					        required ng-disabled="true">
					    <span class="error text-small block"
					        ng-if="Form.nombremostrado.$dirty && Form.nombremostrado.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.nombremostrado.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.formapago.$dirty && Form.formapago.$invalid, 'has-success':Form.formapago.$valid}">
					    <label class="control-label">
					        Forma Pago
					        <span class="symbol required"></span>
					    </label>
					    <select class="form-control" name="formapago"
					        ng-model="objeto.formapago" required>
					        <option value="">Selecione una forma de pago</option>
					        <option value="CE">Pago Contra Entrega</option>
					        <option value="PE">Planillaje Periodico</option>
					        <option value="EP">Pago Contra Entregas Parciales</option>
					    </select>
					    <span class="error text-small block"
					        ng-if="Form.formapago.$dirty && Form.formapago.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.formapago.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.tipoinicio.$dirty && Form.tipoinicio.$invalid, 'has-success':Form.tipoinicio.$valid}">
					    <label class="control-label">
					        Tipo Inicio
					        <span class="symbol required"></span>
					    </label>
					    <select class="form-control" name="tipoinicio"
					        ng-model="objeto.inicio" required>
					        <option value="">Selecione un tipo</option>
					        <option value="AD">Adjudicacion</option>
					        <option value="CO">Suscripcion Contrato</option>
					        <option value="AN">Fecha Pago Anticipo</option>
					        <option value="OT">Otros</option>
					    </select>
					    <span class="error text-small block"
					        ng-if="Form.tipoinicio.$dirty && Form.tipoinicio.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.tipoinicio.$valid">
					        Listo
					    </span>
					</div>

					<div class="form-group"
					    ng-class="{'has-error':Form.fechainicio.$dirty && Form.fechainicio.$invalid, 'has-success':Form.fechainicio.$valid}">
					    <label class="control-label">
					        Fecha Inicio
					        <span class="symbol required"></span>
					    </label>
				        <div class="input-group">
				            <input type="text" class="form-control" placeholder="Ingrese un de fecha inicial"
				                uib-datepicker-popup="dd/MM/yyyy" ng-change="calcuarFechaFin();"
				                name="fechainicialFiltro" ng-model="objeto.npfechainicio"
				                is-open="popupnpFechainicio.opened" datepicker-options="dateOptions"
				                ng-required="true" close-text="Close">
				            <span class="input-group-btn">
				                <button type="button" class="btn btn-primary" ng-click="opennpFechainicio()">
				                    <i class="glyphicon glyphicon-calendar"></i>
				                </button>
				            </span>
				        </div>
					    <span class="error text-small block"
					        ng-if="Form.fechainicio.$dirty && Form.fechainicio.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.fechainicio.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.duraciondias.$dirty && Form.duraciondias.$invalid, 'has-success':Form.duraciondias.$valid}">
					    <label class="control-label">
					        Duraci&oacute;n Dias
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" numericOnly
					    	placeholder="Escriba un duraci&oacute;n dias"
					        class="form-control" name="duraciondias" ng-model="objeto.duraciondias"
					        required ng-change="calcuarFechaFin();">
					    <span class="error text-small block"
					        ng-if="Form.duraciondias.$dirty && Form.duraciondias.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.duraciondias.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.fechafin.$dirty && Form.fechafin.$invalid, 'has-success':Form.fechafin.$valid}">
					    <label class="control-label">
					        Fecha Fin
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" placeholder="Escriba un fecha fin"
					        class="form-control" name="fechafin" ng-model="objeto.npfechafin"
					        required ng-disabled="true">
					    <span class="error text-small block"
					        ng-if="Form.fechafin.$dirty && Form.fechafin.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.fechafin.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.valortotal.$dirty && Form.valortotal.$invalid, 'has-success':Form.valortotal.$valid}">
					    <label class="control-label">
					        Valor Total
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" numericOnly style="text-align:right;" decimal="2"
					    	placeholder="Escriba un valor total"
					        class="form-control" name="valortotal" ng-model="objeto.valortotal"
					        required>
					    <span class="error text-small block"
					        ng-if="Form.valortotal.$dirty && Form.valortotal.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.valortotal.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.anticipo.$dirty && Form.anticipo.$invalid, 'has-success':Form.anticipo.$valid}">
					    <label class="control-label">
					        Anticipo
					        <span class="symbol required"></span>
					    </label>
					    <select class="form-control" name="anticipo"
					        ng-model="anticipo" required ng-change="calculaValor()">
					        <option value="0">(Ninguno)</option>
					        <option value="1">Porcentaje</option>
					        <option value="2">Valor</option>
					    </select>
					    <span class="error text-small block"
					        ng-if="Form.anticipo.$dirty && Form.anticipo.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.anticipo.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.anticipoporcentaje.$dirty && Form.anticipoporcentaje.$invalid, 'has-success':Form.anticipoporcentaje.$valid}">
					    <label class="control-label">
					        Anticipo Porcentaje
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" numericOnly style="text-align:right;" decimal="2" placeholder="Escriba un anticipo porcentaje"
					        class="form-control" name="anticipoporcentaje" ng-model="objeto.anticipoporcentaje"
					        required ng-disabled="anticipo!=1" ng-change="calculaValor()">
					    <span class="error text-small block"
					        ng-if="Form.anticipoporcentaje.$dirty && Form.anticipoporcentaje.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.anticipoporcentaje.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.anticipovalor.$dirty && Form.anticipovalor.$invalid, 'has-success':Form.anticipovalor.$valid}">
					    <label class="control-label">
					        Anticipo Valor
					        <span class="symbol required"></span>
					    </label>
					    <input type="text" numericOnly style="text-align:right;" decimal="2"
					    	placeholder="Escriba un anticipo valor"
					        class="form-control" name="anticipovalor" ng-model="objeto.anticipovalor"
					        required ng-disabled="anticipo!=2" ng-change="calculaValor()">
					    <span class="error text-small block"
					        ng-if="Form.anticipovalor.$dirty && Form.anticipovalor.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.anticipovalor.$valid">
					        Listo
					    </span>
					</div>
					
					<div class="form-group"
					    ng-class="{'has-error':Form.estado.$dirty && Form.estado.$invalid, 'has-success':Form.estado.$valid}">
					    <label class="control-label">
					        Estado
					        <span class="symbol required"></span>
					    </label>
					    <select class="form-control" name="estado"
					        ng-model="objeto.estado" required>
					        <option value="A">Activo</option>
					        <option value="I">Inactivo</option>
					    </select>
					    <span class="error text-small block"
					        ng-if="Form.estado.$dirty && Form.estado.$invalid">
					        Incorrecto
					    </span>
					    <span class="success text-small"
					        ng-if="Form.estado.$valid">
					        Listo
					    </span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="pull-right">
						<span ng-if="guardar">
							<button type="submit" class="btn btn-primary">
								Guardar
							</button>
						</span>
						<button class="btn btn-primary btn-o" ng-click="cancelar()">
							Cancelar
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
