<div class="modal-header">
	<h3 class="modal-title">Objetivo Operacional</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="consultar();" >
		<div>
			<table ng-table="tableParams" class="table table-striped">
				<tr ng-repeat="obj in $data">
					<td>
						<a class="btn btn-sm btn-primary"
							uib-tooltip="Seleccionar" ng-click="seleccionar(obj)">
							<i class="fa fa-check"></i>
						</a>
					</td>
					<td data-title="'C&oacute;digo'">{{obj.codigo}}</td>
					<td data-title="'Instituci&oacute;n'">{{obj.nombreInstitucion}}</td>
					<td data-title="'Tipo'">{{obj.npTipo}}</td>
					<td data-title="'Descripci&oacute;n'">{{obj.npdescripcion}}</td>
				</tr>
			</table>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-o" ng-click="cancelar()">Cancelar</button>
    </div>
</div>
