<div class="modal-header">
	<h3 class="modal-title">
		Orden Devengo - L&iacute;neas
	</h3>
</div>
<div class="modal-body">
	<div class="panel-body" ng-init="init();" >
		<form name="Form" id="form1" novalidate
			ng-submit="form.submit(Form)">
			<div>
				<div class="form-group">
				    <label class="control-label">
				        Programa
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="programanombre" ng-model="objetoDetalles.programanombre">
				</div>
			
				<div class="form-group">
				    <label class="control-label">
				        Subprograma
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="subprogramanombre" ng-model="objetoDetalles.subprogramanombre">
				</div>
			
				<div class="form-group">
				    <label class="control-label">
				        Proyecto
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="proyectonombre" ng-model="objetoDetalles.proyectonombre">
				</div>
			
				<div class="form-group">
				    <label class="control-label">
				        Actividad
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="actividadnombre" ng-model="objetoDetalles.actividadnombre">
				</div>
			
				<div class="form-group">
				    <label class="control-label">
				        Subactividad
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="subactividadnombre" ng-model="objetoDetalles.subactividadnombre">
				</div>
			
				<div class="form-group">
				    <label class="control-label">
				        Tarea
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="tareanombre" ng-model="objetoDetalles.tareanombre">
				</div>
				
				<div class="form-group">
				    <label class="control-label">
				        Subtarea
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="subtareanombre"
				        ng-model="objetoDetalles.subtareanombre">
				</div>
				
				<div class="form-group">
				    <label class="control-label">
				        Item
				    </label>
				    <input type="text" ng-disabled="true"
				        class="form-control" name="itemnombre" ng-model="objetoDetalles.itemnombre">
				</div>
				
				<div class="form-group"
				    ng-class="{'has-error':Form.subitem.$dirty && Form.subitem.$invalid, 'has-success':Form.subitem.$valid}">
				    <label class="control-label">
				        Subitem
				        <span class="symbol required"></span>
				    </label>
				    <input ng-show="noeditar" type="text" ng-disabled="true"
				        class="form-control" name="subitemnombre" ng-model="objetoDetalles.subitemnombre">
				    <select ng-show="!noeditar" class="form-control" name="subitem"
				        ng-model="objeto.subitem" ng-change="obtenerTotal();">
						<option 
						    ng-repeat="operator in listarSubItems" 
						    value="{{operator.nivelactid}}"
						>
						    {{operator.npSubitem}}
						</option>
				    </select>
				    <span class="error text-small block"
				        ng-if="Form.subitem.$dirty && Form.subitem.$invalid">
				        Incorrecto
				    </span>
				    <span class="success text-small"
				        ng-if="Form.subitem.$valid">
				        Listo
				    </span>
				</div>
				<div class="form-group">
				    <label class="control-label">
				        Total Orden de Gasto
				    </label>
				    <input type="text" numericOnly style="text-align:right;" decimal="2"
				    	placeholder="0.00"
				        class="form-control" name="nptotalordengasto" ng-model="objeto.nptotalordengasto"
				        ng-disabled="true">
				</div>
				
				<div class="form-group">
				    <label class="control-label">
				        Devengado
				    </label>
				    <input type="text" numericOnly style="text-align:right;" decimal="2"
				    	placeholder="0.00"
				        class="form-control" name="npdevengado" ng-model="objeto.npdevengado"
				        ng-disabled="true">
				</div>
				
				<div class="form-group">
				    <label class="control-label">
				        Devengos no Aprobados
				    </label>
				    <input type="text" numericOnly style="text-align:right;" decimal="2"
				    	placeholder="0.00"
				        class="form-control" name="npdevengosnoapro" ng-model="objeto.npdevengosnoapro"
				        ng-disabled="true">
				</div>

				<div class="form-group">
				    <label class="control-label">
				        Saldo por Devengar
				    </label>
			        <input type="text" numericOnly style="text-align:right;"
			        	decimal="2" placeholder="0.00"
			            class="form-control" name="npvalor"
			            ng-model="objeto.npvalor" ng-disabled="true">
				</div>

				<div class="form-group">
				    <label class="control-label">
				        Saldo Disponible
				    </label>
			        <input type="text" numericOnly style="text-align:right;"
			        	decimal="2" placeholder="0.00"
			            class="form-control" name="npsaldo"
			            ng-model="objeto.npsaldo" ng-disabled="true">
				</div>
				
				<div class="form-group"
				    ng-class="{'has-error':Form.valor.$dirty && Form.valor.$invalid, 'has-success':Form.valor.$valid}">
				    <label class="control-label">
				        Valor
				        <span class="symbol required"></span>
				    </label>
				    <div class="input-group col-md-12">
				        <input type="number" numericOnly style="text-align:right;"
				        	decimal="2" placeholder="0.00"
				            class="form-control" name="valor" ng-model="objeto.valor"
				            required ng-max="objeto.npvalor + 0.01" ng-disabled="!editarValor">
				    </div>
				    <span class="error text-small block"
				        ng-if="Form.valor.$dirty && Form.valor.$invalid">
				        Incorrecto
				    </span>
				    <span class="success text-small"
				        ng-if="Form.valor.$valid">
				        Listo
				    </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">
							Guardar
						</button>
						<button type="reset" class="btn btn-default btn-o"
							ng-click="form.reset(Form)">
							Cancelar
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
