<!-- start: OFF RIGHT SIDEBAR TABSET -->
<uib-tabset class="sidebar-wrapper" justified="true" >
	<!-- start: TAB USER -->
	<uib-tab >
		<uib-tab-heading>
			<i class="ti-timer"></i>
		</uib-tab-heading>
		<div id="users" toggleable" ng-controller="PrincipalCtrl" ng-init="cargarCitas()">
			<div class="users-list">
				<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
					<h5 class="sidebar-title" translate="offsidebar.chat.ONLINE">On-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" >
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/images/avatar-2.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" >
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/images/avatar-3.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/images/avatar-4.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/images/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
					
					<h5 class="sidebar-title" translate="offsidebar.chat.OFFLINE">Off-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" href ng-cl>
								<img alt="..." src="assets/images/avatar-6.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223458)">
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<img alt="..." src="assets/images/avatar-7.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<img alt="..." src="assets/images/avatar-8.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<img alt="..." src="assets/images/avatar-9.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223459)">
								<img alt="..." src="assets/images/avatar-10.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href ng-click="setOtherId(50223460)">
								<img alt="..." src="assets/images/avatar-1.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</uib-tab>


</uib-tabset>
<!-- end: OFF RIGHT SIDEBAR TABSET -->
